/********************
 * FEATURE CAROUSEL *
 ********************/
.section_awards .carousel-container {
  position:relative;
  width:960px;
}
.section_awards #carousel {
  height:280px;
  width:960px;
  /*background-color:#CCC;*/
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.section_awards .carousel-image {
  border:0;
  display:block;
}
.section_awards .carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  border:2px solid #5d5d5d;
  cursor:pointer;
}
.section_awards .carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#000;
}
.section_awards .carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}
/*.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}*/
.section_awards #carousel-left {
  position:absolute;
  top: 50%;
  left:0px;
  cursor:pointer;
}
.section_awards #carousel-right {
  position:absolute;
  top: 50%;
  right:0px;
  cursor:pointer;
}