 /** Mobile media queries **/

 @media screen and (max-width: 768px){
 	/**{
 		border:1px solid red;
 	}*/
 	.logo {
	    width: 70px;
	    left: initial;
	}
	section.inner_section {
	    padding: 10px 0 0;
	}
	#quote_section {
	    padding-bottom: 10px;
	}
	.quote_box h3{
		font-size: 20px;
	 }
	 .quote_box h5 {
	    font-weight: 700;
	    font-size: 16px;
	    letter-spacing: 1px;
	    margin-top: 15px;
	}
	.service_inner{
		padding: 50px 0;
	}
	.service_block_1 {
	    margin-top: 15px;
	    margin-bottom: 15px;
	    padding: 50px;
	}
	h1.tittle {
	    font-size: 23px;
	}
	.container .mix{
		width: 49%;
		margin:inherit;
	}
	#contact_section{
		padding-bottom: 10px;
	}

	section.inner_section:last-of-type {
	    padding-bottom: 10px;
	}
	footer p{
		text-align: center;
	    font-size: 12px;
	}
	.footer_social {
	    margin-bottom: 0px;
	    text-align: center;
	    margin-top: 10px;
	    border-top: 1px solid #4e4e4e;
	    padding-top: 15px;
	}
	button.filter{
		margin:5px 10px;
	}
	h1.tittle.title_inner {
	    font-size: 17px;
	}
	.breadcrumb {
	    padding: inherit;
	    margin-bottom: 0px;
	    list-style: none;
	    background-color: transparent;
	    border-radius: 0;
	}
	.career_header {
	    position: relative !important;
	    top: initial;
	    left: initial;
	    transform: translate(0%, 0%);
	    background: #2b2b2b;
	    margin-bottom: 30px;
	    padding-bottom: 30px;
	}
	.career_header_left, .career_header_right {
	    background: transparent;
	    color: #fff;
	    padding: 10px;
	    min-height: initial;
	}
	.career_text .text-center{
		text-align: left;
	}
	.benefits{
		text-align: left;
	}
	.benefits h1{
		font-size: 23px;
		padding-bottom: 10px;
		text-align: left;
	}

}
