@import url('https://fonts.googleapis.com/css?family=Hind');
*{
    margin:0;
    padding:0;
}
.no_padding{
    padding:0px;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
.preloader_logo{
    text-align: center;
}
.spinners {
    text-align: center;
    margin-top: 30px;
}
#preloader em {
    display:inline-block;
    vertical-align:top;
    margin:0 2px 0 5px;
    width:12px;
    height:12px;
    border-radius:50%;
    background-color:#030303;
    animation: 1.2s ease-in-out normal none infinite preload_animate;
    -webkit-animation: 1.2s ease-in-out normal none infinite preload_animate;
}
#preloader em:nth-child(1) {
    animation-delay:0s;
    -moz-animation-delay:0s;
    -webkit-animation-delay:0s;
}
#preloader em:nth-child(2) {
    animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    background-color: #b1b1b1;
}
#preloader em:nth-child(3) {
    animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
#preloader em:nth-child(4) {
    animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    background-color: #b1b1b1;
}
#preloader em:nth-child(5) {
    animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
@-webkit-keyframes preload_animate {
    0% {-webkit-transform: scale(1); opacity:1;}
    50% {-webkit-transform: scale(0.5); opacity:0.5;}
    100% {-webkit-transform: scale(1); opacity:1;}
}
@keyframes preload_animate {
    0% {transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); opacity:1;}
    50% {transform: scale(0.5); -ms-transform: scale(0.5); -webkit-transform: scale(0.5); opacity:0.5;}
    100% {transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); opacity:1;}
}


header{
    position: absolute;
    width: 100%;
    z-index: 999;
}
.logo {
    text-align: right;
    clear: both;
    background: rgba(255, 255, 255, 0.7607843137254902);
    padding: 10px;
    position: fixed;
    left: 0px;
    border: 1px solid #b1b1b1;
    border-top: none;
}
span.icon_bar {
    background: black;
    height: 2px;
    display: block;
    margin-bottom: 5px;
    width: 30px;
    margin:5px auto;
}
.menu_icon{
    /*float: right;*/
    margin-top: 15px;
    cursor: pointer;
}
.navbar {
    position: fixed;
    height: 100%;
    left: 0;
    background: #3b3b3b;
    width: 250px;
    color: #fff;
    padding: 40px 20px;
    border-radius: 0px;
    transform:translateX(-250px);
    -webkit-transform:translateX(-250px);
    -moz-transform:translateX(-250px);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.open_navbar{
    transform:translateX(0px);
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.close_btn {
    position: absolute;
    right: 0px;
    top: 0;
    background: #000;
    padding: 10px 20px;
    cursor: pointer;
}
.close_btn img{
    width: 20px;
}
ul.nav_menu{
    list-style: none;
    margin-top: 30px;
}
.nav_menu li{
    display: block;
}
.nav_menu li a {
    color: #dbdbdb;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    text-decoration: none;
}
.nav_menu li a .fas{
    float: right;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.drop .fas{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

ul.submenu {
    padding-left: 15px;
}
ul.submenu li a{
    padding:5px 0;
}
/** main slider
-----------------------**/
.home_banner .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.8;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #616161;
}
.owl-page.active span{
    background: #000;
}
.owl-pagination {
    display: inline-block;
    background: rgba(255, 255, 255, 0.7607843137254902);
    padding: 5px 0 0 0;
    border-radius: 5px 5px 0 0;
}

footer {
    background: #343434;
    padding: 15px;
    color: #d0d0d0;
}
footer p {
    margin-bottom: 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: normal;
}
footer a{
    color: #fff !important;
    text-decoration: underline;
}

/** content design section **/

section.inner_section {
    padding: 90px 0 0;
}
section.inner_section:last-of-type {
    padding-bottom: 90px;
}
span.divider {
    display: inline-block;
    background: #000000;
    height: 3px;
    width: 25%;
    margin-bottom: 30px;
}
#quote_section{
    padding-bottom: 90px;
}
.quote_box h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
}
.quote_box h5 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 25px;
}

/** grid filter **/

.container .mix{
    display: inline-block;
    width: 16.8%;
    /* padding: 15px; */
    position: relative;
    overflow: hidden;
    margin: 15px;
}

.mix img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;

}

.container .mix {
  display: none;
}
.controls {
    text-align: center;
}
button.filter {
    padding: 10px;
    display: inline-block;
    background: transparent;
    border: none;
    margin: 20px 10px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    /*font-style: italic;*/
    outline: none;
    color: #565656;
    opacity: 0.5;
}

.filter.active{
    color: #000;
    font-weight: 700;
    opacity: 1;
}

.overlay_cont {
    position: absolute;
    background: rgba(0, 0, 0, 0.6901960784313725);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 025s ease;
}
.overlay_cont h4{
    margin: 0px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 0px;
    text-align: center;
}
.mix:hover img{
    filter:grayscale(0);
    -webkit-filter:grayscale(0);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}
.mix:hover .overlay_cont{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}
/** service **/
#service_section{
    background: #e8e8e8;
    padding: 0px;
}
.service_bg{
    background-image: url('../images/service/service-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.service_block {
    padding: 100px 0 100px 45px;
}
.read_btn {
    text-decoration: none !important;
    color: #282828;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-style: italic;
}
.service_block h3{
    margin: 0px;
    margin-bottom: 15px;
}
.margin-b-100{
    margin-bottom: 100px;
}
.service_bg .service_block{
    color: #fff;
}
.service_bg .read_btn{
    color: #fff;
}

#contact_section{
    padding-bottom: 90px;
    background-color: #e8e8e8;
}
.address_block h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.address_block p{
    font-size: 16px;
}


/*career */

.careeer_banner{
    position:relative;
}
.career_header{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.career_header_left,.career_header_right{
    background:#00000099;
    color:#fff;
    padding: 31px 34px;
    min-height: 240px;
}
.career_header h3{
    padding-bottom: 10px;
}
.career_header_right a{
     color:#fff;
    /*text-decoration:underline;*/
}
.career_text p{
    font-size: 18px;
}

.benefits h1{
    padding-bottom: 25px;
}
.section_two .container-fluid{
    padding: 0px;
}
.section_benefit{
    padding-top:90px;
}
.section_benefit .container-fluid{
    padding: 0px;
}

/*footer*/
.footer_social{
    list-style: none;
}
.footer_social li{
    display: inline-block;
}
.footer_social li a{
    display: inline-block;
    margin: 0 10px;
}
.footer_social{
    margin-bottom: 0px;
    text-align: right;
}

.title_inner{
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 20px;
    margin-bottom: 30px;
    font-style: normal;
}
.title_inner .fas{
    font-size: 18px;
    margin: -10px 15px;
    display: inline-block;
    color: #010101;
    position: static;
    transform: translateY(-2px);
}

#services {
    padding-top: 0;
}
.service_inner{
    background-image: url('../images/service/service-bg-2.jpg')
}
.service_inner h1{
    margin-top: 0;
}
.service_inner span.divider{
    background-color: #fff;
}
.service_inner {
    background-image: url(../images/service/service-bg-2.jpg);
    padding: 150px 0 200px 0;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}
.service_inner a{
    color: #fff;
}
.service_inner .fas{
    color: #fff !important;
}
.flip_blocks{
    background-color: #e8e8e8;
    padding:0px 0 50px 0;
}
.service_block_1 {
    text-align: center;
    padding: 100px 0;
    background: #fff;
    margin-top: -70px;
    border-bottom: 3px solid;
}
.flip_block_text {
    padding: 35px 0;
}
.flip_block_text h3{
    color: #000;
    margin-bottom: 30px;
}
.learn_more{
    text-transform: uppercase;
    color: #000;
    text-decoration: none !important;
    margin-top: 30px;
    display: block;
    letter-spacing: 0.5px;
}
.learn_more .fas{
    font-size: 15px;
    color: #111;
    margin-left: 23px;
}

#featured_work{
    padding-bottom: 90px;
}

.breadcrumb a{
    color: #000;
    text-decoration: none;
}

/*team*/
hr{
    border: 0;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}
.team-head{
    font-size:32px;
    text-transform: uppercase;
    text-align: center;
    margin:30px auto;
}
.team_name{
    text-align: center;
    margin-top: 10px;
}
.team_name h4{
    font-size: 21px;
}
.team_image{
    padding:10px;
}
.team_header p{
    font-size:20px;
}

/*media*/
.press_head h2{
    text-align: center;
}
.thumbnail_media .caption{
   /*  height:150px;
     padding:30px;*/
}
.caption h4:hover{
    color:#9FA0A1;
    /*font-weight: 600;*/
}
.thumbnail_media .btn_more{
       /* background-color: #5B9BD5; */
    color: #000;
    border-bottom: 1px solid #000;
    display: inline-block;
}
.thumbnail_media.thumbnail{
    padding:0px!important;
    border:none;
    padding-top: 5px!important;
    border-radius:0px;
    border-top: 3px solid #000;
    margin-bottom: 30px;
}
a.btn_more{
    text-decoration: none;
}
a.btn_more:hover{
    color:#9FA0A1;
}
/*awards*/
.section_awards{
    padding-bottom: 90px!important;
}
.award_section{
    background-image: url('../images/awards/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  background-position:;
}

.awards_header{
    background: #5f606282;
    color: #000000;
    padding: 30px;
    text-align: center;
}
.awards_header span.devider{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #000;
    display: block;
    margin: 0 auto;
    border: 4px double #d8d8d9;
    transform: rotate(-45deg);
}

.awards_header span.devider-line{
    height: 1px;
    width: 150px;
    margin: 0 auto;
    background: #000;
    display: block;
    margin-top: -11px;
}
.awards_header p{
    margin-top: 20px;
    margin-bottom: 50px;
}
.awards_slider h1{
    font-size:40px;
    margin-bottom: 10px;
}

/*exhibition*/
.section_exhi{
    padding-bottom: 90px!important;
}
.exhi_image img{
    height:175px;
    object-fit: cover;
    width: 100%;
    filter: grayscale(100%);
}
.exhi_image:hover img{
    filter: grayscale(30%);
}
.exhi_date, .exhi_loc{
    margin-bottom:10px;
}

.exhi_date span, .exhi_loc span{
    margin-right: 15px;
}
.exhi_details p{
    font-style: italic;
    margin-top: 30px;
}
.exhi_footer{
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
    border-top: 1px solid #dbdcdd;
}
.exhi_footer img{
   max-width:15%;

}
.exhi_body h3{
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #c2c1bf;
}
