.home-banner-img {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 15%;
}
.homepage-banner .banner{
    height: 60vh;
}
.homepage-header .sticky ul li:last-child a {
    color: #fe700a;
}
#conference_call_form_search.search-form .form-group, #coverage .search-form .form-group {
    float: none !important;
}

.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.homepage-header .search{
    border-radius: 20px !important;
    margin-left: -35px !important;/*-20px !important;*/
    z-index: 999999 !important;
    padding: 9px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    background: #f37121;
    border-color: transparent;
}
.homepage-header.sticky .search:active:hover, .homepage-header.sticky .search:hover{
    background: #fe700a;
    /*border-color: transparent;*/
    border: 1px solid #f37121;
}
.sticky ul li:last-child a {
    color: #fe700a !important;
}
.homepage-header input{
    border-radius: 20px;
}
.search-box{
    display: inline-flex;
    padding: 24px 0px;
}
.sticky .search-box {
    display: inline-flex;
    padding: 5px 0px 0px 0px;
    vertical-align: text-top;
}
.search-box .form-control {
    height: 37px;
    text-transform: uppercase;
    padding: 5px 15px;
    color: gray;
}
.search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray !important;
    font-size: 12px !important;
    letter-spacing: 1px;
    padding-left: 20px;
}
.search-box input::-moz-placeholder { /* Firefox 19+ */
    color: gray !important;
    font-size: 12px !important;
    letter-spacing: 1px;
    padding-left: 20px;
}
.search-box input:-ms-input-placeholder { /* IE 10+ */
    color: gray !important;
    font-size: 12px !important;
    letter-spacing: 1px;
    padding-left: 20px;
}
.search-box input:-moz-placeholder { /* Firefox 18- */
    color: gray !important;
    font-size: 12px !important;
    letter-spacing: 1px;
    padding-left: 20px;
}
/*@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
}*/

/*textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:active,
label:focus,
.btn:active,
.btn.active,
.form-control:focus {
    border-color: transparent;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.search-box .form-control:focus, .search-box .form-control:hover  {
    border-color: transparent;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #f37121;
}
.search-box .form-control, .search-box .form-control  {
    border: 1px solid #f37121;
}

.sticky .search-box .form-control:focus, .sticky .search-box .form-control:hover, .sticky .search-box .form-control  {
    /*border-color: #d2d2d2;
    outline: 0 !important;
    -webkit-box-shadow: 1px 1px 1px 1px #d2d2d2;
    box-shadow: 1px 1px 1px 1px #d2d2d2;*/
    border-color: #d2d2d2;
    outline: 0 !important;
    -webkit-box-shadow: 1px 1px 1px 3px #d2d2d2;
    box-shadow: 1px 1px 1px 3px #d2d2d2;
    border: 0px;
    background: #ffffff;
    border-radius: 50px;
}
/*#adv-search .form-control:hover{
          border: 0px !important;
  box-shadow: none !important;
}*/

.homepage-banner .banner_caption h1, .homepage-banner .banner_caption h6{
    color: #000000;
}
.homepage-banner .banner_caption {
    position: absolute;
    width: 45%;
}
section#home {
    background: #e6e6e6 !important;
}
.homepage-banner .banner_caption h1{
    letter-spacing: 0px;
    margin-left: 80px;
    font-size: 35px;
}
.homepage-banner .banner_caption h6{
    /* font-weight: 900;
 letter-spacing: 3px;
 text-transform: uppercase;
 margin-left: 80px;
 font-size: 10px;
 line-height: 1.8;*/
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 80px;
    font-size: 8px;
    line-height: 2.5;
    color: #000000;
}
.homepage h1.main_title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-size: 35px;
    color: #000000 !important;
    text-align: center;
}
.homepage-about h6{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    line-height: 1.8;
    padding-bottom: 30px;
}
.view_all_number, .conference_email_check, .smscheckauth {
    color: black;
}

.hide1 {
    position: absolute;
    right: 20px;
    top: 35%;
    background: transparent;
    border: 0px;
    font-size: 25px;
    outline: none;
}
.hide1:hover, .hide1:active{
    outline: none;
    color: #f37121;
}
.main-menu ul {
    width: 250px !important;
    overflow: visible !important;
    background: #212121;
    opacity: .7 !important;
    height: 100vh !important;
    padding: 0% 10px 0px 10px !important;
    top: 0px !important;
    left: 0 !important;
    padding: 6% 10px 0px 10px !important;
}
/*#carousel-pager .carousel-inner>.item {
    position: relative;
    display: block;
    }
    #carousel-pager .carousel-inner.vertical {
    height: 548px;
}*/

.homepage-about #thumbnail-slider .thumb {
    background-size: cover !important;
    border: 0px solid #fe700a !important;
}
.homepage-about #thumbnail-slider .caption {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #ffffff;
    z-index: 1;
    font-size: 12px;
    text-align: left;
    margin: 0px;
}
.homepage-about #thumbnail-slider ul li {
    height: 100px !important;
    z-index: 1;
    padding: 0px;
    margin: 0px !important;
    border: 0px solid transparent;
}
.homepage-about .controls{
    position: absolute;
    bottom: 20px;/*0;*/
    width: 100%;
}
.buttons.video_icon, #btnFullscreen {
    display: none !important;
}
.homepage-about i.fas.fa-share-alt {
    right: 10px;
    font-size: 20px;
    padding: 11px 0px;
    color: #ffffff;
    position: absolute;
    bottom: 22px;
}
.homepage-about   .vid-btn i{
    font-size: 22px;
    padding: 11px 0px;
    color: #ffffff;
    position: absolute;
    left: 45px;
    bottom: 0px;
}
.homepage-about  i.fas.fa-arrows-alt-h {
    right: 10px;
    font-size: 25px;
    padding: 11px 0px;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    transform: rotate(135deg);
}
.homepage-about  i.fas.fa-step-backward {
    position: absolute;
    left: 20px;
    font-size: 25px;
    color: #ffffff;
    bottom: 10px;
}
.homepage-about i.fas.fa-step-forward {
    font-size: 25px;
    padding: 10px 0px;
    color: #ffffff;
    position: absolute;
    left: 67px;
    bottom: 0px;
}
.homepage-about .slider-inner .video-title{
    position: absolute;
    bottom: 50px;
    width: 50%;
    height: auto;
    font-size: 25px;
    text-align: left;
    left: 20px;
    color: #ffffff;
    font-weight: 900;
}

.homepage-about #carousel-main-video .video-title {
    position: absolute;
    bottom: 26px;
    width: 100%;
    height: auto;
    font-size: 25px;
    text-align: left;
    left: 0px;
    color: #ffffff;
    font-weight: 900;
    background: #333333;
    padding: 10px 10px;
    opacity: 0.6;
}
.homepage-about .sq-abt-thumb-slider {
    display: block;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #333333;
    cursor: pointer;
}
.homepage-about .sq-abt-thumb-slider img {
    width: 100%;
}
.homepage-about .sq-abt-thumb-slider .thumb-wrapper p.caption {
    margin-top: -30px;/*-104px*/
    color: #ffffff;
    padding: 0px 0px 0px 5px;
}
.video-slider-left, .video-slider-right{
    padding:0px !important;
}
.video-slider-left a.left.carousel-control, .video-slider-left a.right.carousel-control {
    display: none;
}
#carousel-pager-video .carousel-control.left {
    bottom: initial;
    width: 100%;
    margin: 0px;
    color: #ffffff;
}
#carousel-pager-video .carousel-control.right {
    top: initial;
    width: 100%;
    color: #ffffff;
}


.homepage-conference-calls h6, .homepage-research-reports h6, .homepage-sq-intelligence h6{
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 20px;
    color: #000000;
    line-height: 1.8;
}
.homepage-conference-calls .conference-date{
    color: #f37121;
    text-align: left;
    letter-spacing: 4px;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.homepage-conference-calls .table-business td {
    padding: 8px 5px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 11px;
    color: #000000;
    font-weight: 600;
}
.homepage-conference-calls  .table-business th {
    padding: 8px 2px;
    border: 1px solid #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 900;
    color: #000000;
}

.homepage-conference-calls  .table-business .fa-users, .fa.fa-download, .homepage-conference-calls  .table-business .fa-phone, .homepage-conference-calls  .table-business .fa-arrows-alt-h, .homepage-conference-calls  .table-business  .fa-comments, .homepage-conference-calls  .table-business  .fa-envelope, .homepage-conference-calls  .table-business .fa-file-pdf{
    color: #fe700a;
    font-size: 15px;
}
.homepage-conference-calls  .table-business .fa-phone{
    transform: rotate(100deg);
}
.homepage-conference-calls  .table-business .fa-arrows-alt-h{
    transform: rotate(135deg);
}
.homepage-conference-calls  .table-business .remind-values td{
    border: none;
    padding: 0px;
}
.homepage-conference-calls  .table-business .presentation{
    color: #000000;
}
.homepage-conference-calls  .conference-listing{
    margin-bottom: 50px;
}
.homepage-research-reports span.right_buy {
    min-width: 150px;
    text-align: center;
    padding: 10px 5px;
    font-size: 12px;
    top: 20px;/*42px;*/
}
.homepage-research-reports .cover_text {
    background: #ffffff !important;
    color: #000000;
    -webkit-box-shadow: inset 0 0 4px 1px #d2d2d2;/*0 0 10px 1px  #d2d2d2;*/
    box-shadow:  inset 0 0 4px 1px #d2d2d2;/*0 0 10px 1px #d2d2d2;*/
}
.homepage-research-reports .cover_price, .homepage-research-reports .sub-title h5, .homepage-research-reports .cover_text .date{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: 1px;
    font-size: 9px;
}
.homepage-research-reports .cover_price .c_price.percent{
    color:#3EC8B9;
}
.homepage-research-reports .cover_price .c_price, .homepage-research-reports .cover_text .date .c_price{
    font-weight: 900;
    font-size: 11px;
}
.homepage-research-reports .owl-nav {
    float: right;
}
.homepage-research-reports  .owl-next, .homepage-research-reports  .owl-prev {
    position: relative;
    margin: 20px 10px;
}
.homepage-research-reports  .owl-dots {
    float: right;
    margin-top: 27px;
    margin-right: 30px;
}
.main_navigation ul li a {
    padding: 8px 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    color: #f37121;
}
.read-view-more button{
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px double;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 15px;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background: transparent;
    margin: 0 auto;
    outline: none;
}

/*--------------------sq intelligence slider css------------------*/
.carousel-inner.vertical {
    height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}
.carousel-inner.vertical > .item {
    -webkit-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner.vertical > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .carousel-inner.vertical > .item.next,
    .carousel-inner.vertical > .item.active.right {
        -webkit-transform: translate3d(0, 33.33%, 0);
        transform: translate3d(0, 33.33%, 0);
        top: 0;
    }
    .carousel-inner.vertical > .item.prev,
    .carousel-inner.vertical > .item.active.left {
        -webkit-transform: translate3d(0, -33.33%, 0);
        transform: translate3d(0, -33.33%, 0);
        top: 0;
    }
    .carousel-inner.vertical > .item.next.left,
    .carousel-inner.vertical > .item.prev.right,
    .carousel-inner.vertical > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
}

.carousel-inner.vertical > .active {
    top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
    top: 0;
    height: 100%;
    width: auto;
}
.carousel-inner.vertical > .next {
    left: 0;
    top: 33.33%;
    right:0;
}
.carousel-inner.vertical > .prev {
    left: 0;
    top: -33.33%;
    right:0;
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
    top: 0;
}
.carousel-inner.vertical > .active.left {
    left: 0;
    top: -33.33%;
    right:0;
}
.carousel-inner.vertical > .active.right {
    left: 0;
    top: 33.33%;
    right:0;
}




#carousel-pager .carousel-control.left {
    bottom: initial;
    width: 100%;
    margin: 0px;
    color: #333333;
}
#carousel-pager .carousel-control.right {
    top: initial;
    width: 100%;
    color: #333333;
    margin-bottom: -30px;
}
#carousel-pager .carousel-control.right span{
    position: absolute;
    right: -30px;
    top: -170px;
}
#carousel-pager .carousel-control.left span{
    position: absolute;
    right: -30px;
    top: 150px;
}
.homepage-sq-intelligence .intelligence-details {
    background: #ffffff;
    border: 1px solid #333333;
}
.intelligence-pic  {
    display: inline-flex;
}
.intelligence-pic .thumbnail {
    font-size: 70px;
    background: transparent;
    outline: none;
    border: 0px;
    margin-bottom: 0px;
}
.intelligence-pic p {
    margin: 0px 5px;
    text-align: left;
    padding: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.intelligence-pic p.name {
    font-size: 13px;
    font-weight: 900;
    padding-top: 20px;
}
.intelligence-pic span.designation {
    font-size: 10px;
    font-weight: normal;
}
.intelligence-details h6{
    /*width: 100%;*/
    /*margin-bottom: 5px;*/
    width: 100%;
    margin-bottom: 5px;
    max-height: 70px;
    height: 70px;
    padding-bottom: 20px;
    overflow: hidden;
}
.sq-intelligence-read-more button {
    float: right;
    color: #ffffff;
    background: #3DC7B8;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
    display: inline-block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-decoration: none;
    margin: 0 auto;
    outline: none;
    border: 0px;
}
.sq-intelligence-read-more button a{
    color: #ffffff;
}
.intelligence-title{
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*width: 50%;*/
    /*height: auto;*/
    /*font-size: 20px;*/
    /*text-align: left;*/
    /*left: 20px;*/
    /*color: #ffffff;*/
    /*font-weight: 900;*/

    position: absolute;
    bottom: -12px;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    left: 0px;
    color: #ffffff;
    font-weight: 900;
    background: #333333;
    padding: 10px 10px;
    opacity: 0.6;
}
.homepage-sq-intelligence a.right.carousel-control, .homepage-sq-intelligence a.left.carousel-control {
    background: no-repeat;
}
.homepage-sq-intelligence .carousel-control {
    bottom: 30px;
}
.homepage-sq-intelligence img{
    width: initial;
}
.sq-thumb-slider {
    display: inline-flex;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #333333;
    cursor: pointer;
}
.sq-thumb-slider p.title {
    width: 60%;
    padding: 10% 10px;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: normal;
}
.sq-thumb-slider img {
    width: 40%;
}
.sq-thumb-slider .credits{
    color: #3DC7B8;
    text-transform: uppercase;
}
.homepage-sq-intelligence #carousel-main .carousel-inner img.img-responsive {
    height: 215px;
}

/*.homepage-sq-intelligence #carousel-pager .carousel-inner>.item {
    display: block;
}*/
/*.homepage-sq-intelligence div#carousel-pager {
    height: 515px;
}*/
/*#sq_intelligence .slider-nav-thumbnails .slick-slide {
    width: 100% !important;
}
#sq_intelligence .slider-nav-thumbnails.medium-4.slick-initialized.slick-slider {
    height: 400px;
    float: right;
    overflow: scroll;
    overflow-x: hidden;
}
#sq_intelligence .slider.medium-8.slick-initialized.slick-slider {
    float: left;
}*/

.modal {
    z-index: 99999;
}

/*-----------------------css for homepage bottom button-------------------------*/

.bottom_menu {
    width: 75%;
    /*background: #0075d2;*/
    background:#F2F2F2;
    height: 100%;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    /*transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;*/
    position: fixed;
    left: 0;
    z-index: 999;/*9999;*/
    padding: 0px 30px 0px;
    top: 0;
    overflow-x: auto;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.menu_active1{
    transform:translateY(75%);
    -webkit-transform:translateY(75%);
    -moz-transform:translateY(75%);
}

.menu_active1 .hamburger1{
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
}
.burger_active1{
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    transition:0.5s ease-in-out;
    -webkit-transition:0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
}
.bottom_menu .owl-dots, #sq_intelligence #carousel-main a.left.carousel-control, #sq_intelligence #carousel-main a.right.carousel-control {
    display: none;
}
.bottom_menu span.c_icon {
    /*width: 35%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: block;*/

    width: 35%;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    display: block;
    top: 20px;
    left: 30%;
}
.bottom_menu .press_block .img_text h4 {
    font-size: 11px;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 2px;
    position: relative;
    bottom: 0px;
    padding: 40px 10px 0px 10px;
    display: block;
    text-align: center;
    font-weight: 700;
}
.bottom_menu a.p_read {
    display: block;
    background: #fff;
    padding: 10px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0 0 10px 10px;
    font-size: 11px;
    text-align: center;
}
.bottom_menu .press_block {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px gainsboro;
    text-align: left;
    margin-top: 40px;
    background: #ffffff;
}

.burger1 {
    width: 250px;
    height: auto;
    position: fixed;
    bottom: -4px;/*0;*/
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    left: 0;
    z-index: 999;
    background: transparent;
}

.side_menu button.close {
    position: absolute;
    top: 8%;
    font-size: 40px;
    right: 0;
    color: #f37121;
    opacity: .9;
    outline:none;
}

.burger__item {
    display: block;
    width: 40px;
    height: 4px;
    background: #0075d2;
    position: absolute;
    left: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    /*border-radius: 50px;*/
}

.scroll-on-outsourcing .burger__item {
    background: #fff
}

.section_bcs {
    padding: 50px 0;
}
.side_menu h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f2f2f2;
    background-image: none;
    border-bottom: 2px solid #ccc;
    border-top: 0px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: none;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}
.side_menu p.top-text, .side_menu form {
    margin: 30px 0px;
}
/*.stay_fix {
    bottom: 0;
}*/
.stay_updated {
    display: inline-grid;
}
/*.stay_updated .whatsapp{
    right: 0;
    position: absolute;
    bottom: 30px;
}*/
.stay_updated .whatsapp {
    right: -4px;
    position: fixed;
    bottom: 24px;
    width: 12%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.stay_updated .subscribe-now {
    width: 13%;
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.stay_fix img.whatsapp {
    bottom: 115px;/*118px;*/
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.stay_fix img.subscribe-now {
    bottom: 94px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.burger1.stay_fix {
    bottom: 91px;
}
img.white_logo {
    padding-top: 15px;
}
#home {
    background: #e6e6e6 !important;
}
.homepage-banner img.home-banner-img {
    width: 23%;
    right: 18%;
}


/*---------------------------- todays changes for slider------------------------*/
.homepage-sq-intelligence .carousel .carousel-inner.vertical{
    height: 380px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #333333;
}
.homepage-sq-intelligence .carousel a.left.carousel-control, .homepage-sq-intelligence .carousel a.right.carousel-control, .sq-tv-slider a.left.carousel-control, .sq-tv-slider a.right.carousel-control  {
    display: none;
}
.homepage-sq-intelligence .carousel .sq-thumb-slider img {
    width: 40%;
    height: 94px;
}
.homepage-sq-intelligence .carousel .sq-thumb-slider p.title {
    width: 60%;
    padding: 7% 6px 0%;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: normal;
}
/*
 *  STYLE 2
 */

.homepage-sq-intelligence .carousel .carousel-inner.vertical::-webkit-scrollbar-track, .sq-tv-slider .carousel .carousel-inner.vertical::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #ffffff;
}

.homepage-sq-intelligence .carousel .carousel-inner.vertical::-webkit-scrollbar, .sq-tv-slider .carousel .carousel-inner.vertical::-webkit-scrollbar
{
    width: 8px;
    background-color: #ffffff;
}

.homepage-sq-intelligence .carousel .carousel-inner.vertical::-webkit-scrollbar-thumb, .sq-tv-slider .carousel .carousel-inner.vertical::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3dc7b8;
}



.homepage-about .sq-tv-slider .sq-abt-thumb-slider img {
    /*width: 81%;*/
    height: 130px;
    width: 240px;
}
.sq-tv-slider .carousel .carousel-inner.vertical{
    height: 408px;/*409px;*/
    overflow: scroll;
    overflow-x: hidden;
}
button#btnFullscreen1 {
    -webkit-appearance: button-bevel;
        background-color: transparent;
}
.homepage-about .sq-tv-slider .sq-abt-thumb-slider .thumb-wrapper p.caption {
    margin-top: -73px;
    color: #ffffff;
    padding: 0px 0px 0px 5px;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: 700;
    background: #000000;
    position: fixed;
    opacity: 0.8;
}


.sticky {
    border-bottom: 4px solid #f37121;
    box-shadow: 1px 1px 10px 1px grey;
}
.banner_caption.aos-init.aos-animate {
    padding: 57px 50px 0px;
}
.table-business {
    border: 1px solid #000000;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    box-shadow: 0 1px 1px #000000;
}
/*table {
    border-spacing: 0;
    width: 600px;
    margin: 30px;
} */
.table-business th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

.table-business th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

.table-business .last-tr td:first-child {
    border-radius: 0px 0px 0px 6px;
    -moz-border-radius: 0px 0px 0px 6px;
    -webkit-border-radius: 0px 0px 0px 6px;
}

.table-business .last-tr td:last-child {
    border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
}

.table-business td:first-child, .table-business th:first-child {
    /* border-left: medium none;*/
}

.table-business th {
    background: none !important;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #ECECEC);
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#F8F8F8), to(#ECECEC), color-stop(.4, #F8F8F8));
    border-top: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.table-business td, .table-business th {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 10px;
    text-align: left;
}
.table-business {
    border: 1px solid #000000;/*1px solid #000000;*/
    transition: 0.5s;
    background-color: transparent;
    -webkit-border-radius:6px;
    border-radius: 6px;
    border-collapse: separate;
}

header{
    border-bottom: 4px solid #f37121;
    box-shadow: 1px 1px 10px 1px grey;
    padding: 10px;
    background: #ffffff;
    margin: 0px;
}
.sticky .search-box {
    padding: 10px 0px 10px 0px;
}
.sticky ul li, .main_navigation ul li {
    line-height: 4;
}
.search-box {
    padding: 10px 0px;
    left: 5%;
}
img.white_logo {
    padding-top: 0px;
}
.sticky .search-box .form-control:focus, .sticky .search-box .form-control:hover, .sticky .search-box .form-control, .search-box .form-control, .search-box .form-control:focus, .search-box .form-control:hover {
    border-color: #d2d2d2;
    outline: 0 !important;
    -webkit-box-shadow: 1px 1px 1px 3px #d2d2d2;
    box-shadow: 1px 1px 1px 3px #d2d2d2;
    border: 0px;
    background: #ffffff;
    border-radius: 50px;
    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
}
button, button:hover, button:active, button:focus {
    outline: none;
}
button.btn.btn-primary.search:hover, button.btn.btn-primary.search:active, button.btn.btn-primary.search:focus {
    background: #ef7f3b;
    outline: none;
}
* {
    outline: none;
}
.homepage-header .search {
    border-radius: 20px !important;
    margin-left: -44px !important;
    z-index: 999999 !important;
    padding: 11px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    background: #f37121;
    border-color: transparent;
    margin-top: -3px;
}
.homepage-banner .banner {
    height: 50vh;
}
.hide1 {
    position: absolute;
    right: 20px;
    top: 23%;
    background: transparent;
    border: 0px;
    font-size: 20px;
    outline: none;
    z-index: 999;
}
.table-business tr:nth-child(even) {background: #d2d2d2}
.table-business tr:nth-child(odd) {background: #FFF}
.homepage-conference-calls .table-business th, .homepage-conference-calls .table-business td{
    border: 0px;
}
.table-business .remind-values tr:nth-child(odd) {
    background: none;
}
button.close-relevant-companies {
    font-size: 35px;
    position: absolute;
    right: -25px;
    top: 0px;
    font-weight: 900;
    border: 0px;
    background: transparent;
    color: #f37121;
    padding: 5px 0px;
    line-height: 1;
    cursor: pointer;
    z-index: 999999;
}
button.close-relevant-companies:hover {
    color: #000000;
}
.bottom_menu.menu_active1 {
    transform: skew(-150deg,0deg) translateY(75%);
}
.bottom-menu-wrapper {
    transform: skew(-209deg,0deg);
}
div#relevant-companies-slider {
    margin-left: 150px;
}
#relevant-companies-slider.owl-carousel {
    width: 85%;
}
.bottom_menu {
    left: -260px;
}
.homepage-about.section_inner {
    padding: 85px 0;
}

/*<!--start of css for stay updated on whatsapp-->*/



.whatsapp-toggle .col-md-2, .col-md-10{
    padding:0;
}
.whatsapp-toggle .panel{
    margin-bottom: 0px;
}
.whatsapp-toggle .chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.whatsapp-toggle .chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.whatsapp-toggle .icon_minim{
    padding:2px 10px;
}
.whatsapp-toggle .msg_container_base{
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height:420px; /*300px;*/
    /*overflow-x:hidden;*/
}
.whatsapp-toggle .top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.whatsapp-toggle .msg_receive{
    padding-left:0;
    margin-left:0;
}
.whatsapp-toggle .msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.whatsapp-toggle .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.whatsapp-toggle .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.whatsapp-toggle .messages > time {
    font-size: 11px;
    color: #ccc;
}
.whatsapp-toggle .msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
/*.whatsapp-toggle img {
    display: block;
    width: 100%;
}*/
.whatsapp-toggle .avatar {
    position: relative;
}
.whatsapp-toggle .base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.whatsapp-toggle .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.whatsapp-toggle .base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.whatsapp-toggle .msg_sent > time{
    float: right;
}



.whatsapp-update-scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.whatsapp-update-scroller::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.whatsapp-update-scroller::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #333333;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.whatsapp-update-scroller{
    overflow-x: hidden;
    background: #e5e5e5;
    margin: 0;
    padding: 10px 10px 10px;
    max-height: 350px;

}
.whatsapp-toggle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
}
.whatsapp-toggle-body {
    bottom: 0;
    width: 300px;
    z-index: 99;
}
.whatsapp-toggle-body .panel.panel-default {
    background: transparent;
    border: 0px;
}
.whatsapp-toggle-body .panel.panel-default .panel-heading {
    background: transparent;
    height: 80px;/*-webkit-fill-available;/*60px;*/
    border: 0px;
}
.whatsapp-toggle-img{
    /*position: absolute;
        bottom: 0;/*93px;*/
    /*right: 0;
    width: 65%;
        cursor: pointer;*/

    position: absolute;
    bottom: -1px;
    right: 9px;
    width: 65%;
    cursor: pointer;
}
img.whatsapp-toggle-img.glyphicon-minus {
    bottom: -1px;/*0px;*/
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.padding-zero{
    padding: 0px !important;
}
.whatsapp-toggle-subscribe-now{
    /*position: absolute;
    width: 54%;
    bottom: 46px;
    right: 0;*/

    position: absolute;
    width: 54%;
    bottom: 43px;
    right: 10px;
}
.whatsapp-post-btn{
    font-size: 20px;
}
button#btn-chat {
    background: #39cbbc;
    border: 0px;
}

.whatsapp-update-scroller {
    overflow-x: hidden;
    background: transparent;
    margin: 0;
    padding: 10px 10px 10px;
    max-height: 260px;/*350px;*/
    margin-top: 110px;
}

.whatsapp-toggle .msg_container_base {
    background: url(http://dev.firsteconomy.com/scout_quest/images/chat-mob.png);
    display: block;
    background-color: transparent;
    max-height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:10px;
}
.whatsapp-toggle .msg_container_base .panel-footer{
    padding: 10px 15px;
    background-color: #ede5dd;
    border-top: 0px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0px 4px;
}
.whatsapp-toggle .msg_container_base .panel-footer #btn-input{
    background: #ffffff;
}
.whatsapp-toggle .msg_container_base .panel-footer #btn-input .form-control:focus  {
    border-color: transparent;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #f37121;
}
/*<!--end of css for stay updated on whatsapp-->*/

.homepage-research-reports .side_menu button.close {
    top: 11%;
}
.homepage-research-reports .burger {
    z-index: 99;
}
.homepage-conference-calls h6, .homepage-research-reports h6 {
    text-align: center;
}
.dropdown.open ul.dropdown-menu {
    width: 40px !important;
    min-width: 120px;
}

#header.sticky .main_navigation ul li a {
    color: #000000;
}
header.sticky nav.main_navigation {
    padding: 0px;
}


/*.homepage-research-reports h1.main_title{
    font-size: 25px;
}*/

/*.onhover-search input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color:#000000;
    border-radius: 20px !important;
    margin-left: -44px !important;
    z-index: 999999 !important;
    padding: 11px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    border-color: transparent;
    margin-top: -3px;
    padding-left: 20px;
}

.onhover-search input[type=text]:focus {
    width: 80%;
}
.onhover-search input::-webkit-input-placeholder { 
  color: #000000 !important;
  font-size: 12px !important;
  letter-spacing: 5px;
  padding-left: 20px;
}
.onhover-search input::-moz-placeholder { 
  color: #000000 !important;
  font-size: 12px !important;
  letter-spacing: 5px;
  padding-left: 20px;
}
.onhover-search input:-ms-input-placeholder { 
  color: #000000 !important;
  font-size: 12px !important;
  letter-spacing: 5px;
  padding-left: 20px;
}
.onhover-search input:-moz-placeholder { 
  color: #000000 !important;
  font-size: 12px !important;
  letter-spacing: 5px;
  padding-left: 20px;
}*/



.search-form .form-group input.form-control::-webkit-input-placeholder{
    display:none;
    top: -10px;
    text-transform: uppercase;
}
.search-form .form-group input.form-control::-moz-placeholder{
    display:none;
    top: -10px;
    text-transform: uppercase;
}
.navbar-right{
    min-width:450px; /*or I can probably just use columns*/
}
.navbar-right form{
    width:100%;
}
.search-form .form-group{
    position:relative;
    width:0%;
    /* min-width:60px;
   height:60px;*/
    overflow:hidden;
    transition: width 1s;
    backface-visibility:hidden;
    margin: 0 auto;
    display: block;
    min-width: 140px;
    height: 40px;
    line-height: 1;
    vertical-align: middle;
    padding: 0px;
    border-radius: 20px;
}
.search-form .form-group input.form-control{
    position:absolute;
    top:0;
    right:0;
    outline:none;
    width:100%;/*100%;*/
    height:40px;
    margin:0;
    z-index:10;
    text-transform: uppercase;
    border: 0px;
}
.search-form input[type="text"].form-control{
    -webkit-appearence:none;
    -webkit-border-radius:0;
}
.search-form .form-control-submit,
.search-form .search-label{
    /*/*width:60px;
    height:60px;
    position:absolute;
    right:0;
    top:0;
    right: 0px;
      top: -10px;
    padding:0;
    margin:0;
    text-align:center;
    cursor:pointer;
    line-height:60px;
    background:white;
        letter-spacing: 4px;*/

    width: 140px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background: #f37121;
    letter-spacing: 3px;
    border-radius: 71px;
    color: #ffffff;
    font-size: 13px;
}
.search-form .form-control-submit{
    background:#fff; /*stupid IE*/
    opacity: 0;
    color:transparent;
    border:none;
    outline:none;
    z-index:-1;
}
.search-form .search-label{
    z-index:90;
}
.search-form .form-group.sb-search-open,
.search-form .no-js .sb-search-open{
    width:100%;
}
.search-form .form-group.sb-search-open .search-label,
.search-form .no-js .sb-search .search-label {
    background: #f37121;
    color: #fff;
    z-index: 11;
}
.search-form .form-group.sb-search-open .form-control-submit,
.search-form .no-js .form-control .form-control-submit {
    z-index: 90;
}
.search-form{
    width: 80%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
}
.search-label i.glyphicon.glyphicon-search {
    padding-right: 5px;
}
.search-form .form-group input.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*----video slider css starts hrer---*/

.product-slider { padding: 0px; }

.product-slider #carousel { border: 4px solid #1089c0; margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 15px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 4px solid #cecece; width: 24%; margin:15px 0px; display: inline-block; vertical-align: middle; cursor: pointer; /*max-width: 98px;*/ }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto; }

.product-slider .carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.product-slider .carousel-control:hover, .product-slider .carousel-control:focus, .product-slider .carousel-control:active { color: #333; }

.product-slider .carousel-caption, .product-slider .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.product-slider .carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.product-slider .carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }

.stay_fix1{
    bottom: 94px !important;
}
.burger1.stay_fix.burger_active1 {
    bottom: 0px;
}



/*------------------------css from homepage.html--------------------*/
/** sidebar custom css
-------------------------------------**/
.vid-btn {/*width: 40px; height: 40px; border-radius: 50%; display: inline-block*/
    width: auto;
    height: fit-content;
    border-radius: 50%;
    display: inline-block;
    border: 0px;
    outline: none;
}
/*.first {display: none;}*/
.second {display: none;}
/*.vid-btn i{
        font-size: 30px;
    padding: 15px 0px;
    color: #ffffff;
}*/
.buttons.video_icon {
    padding-bottom: 8px;
    outline: none;
}
button#btnFullscreen {
    background: transparent;
    border: 0px;
    display: block;
    outline: none;
    padding-top: 11px;
}
/*i.fas.fa-arrows-alt {
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 10px;
}*/
/*___________________index4- css starts here__________________*/
#mainNav .onload-text {
    text-decoration: none;
}
#mainNav .onload-text {
    font-size: 12px;/*8px;*/
}
#mainNav .onload-text:hover {
    font-size: 15px;
}
.sticky ul li:last-child a {
    color: #000000;
}
.agenda_block:hover {
    background-color: #606061;
}
.agenda_block:hover p {
    color: #ffffff;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
}

span.right_buy {
    /* background: #09d660;
   font-size: 12px;
    text-align: center;
        min-width: 115px;
        padding: 10px 35px;*/
    min-width: 115px;
    text-align: center;
    padding: 10px 5px;
    font-size: 12px;
}
/*.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #606061;
}*/
/*a.left_btn, a.right_btn {
    background: #ffffff;
    color: #000000;
        border-top: 1px solid #000000;
    margin: 0px;
    }

span.right_sell {
    background: red;
        display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -1;
    min-width: 115px;
    text-align: center;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #ffffff;
    font-size: 12px;
}
span.right_hold {
    background: yellow;
       display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -1;
        min-width: 115px;
    text-align: center;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #000000;
    font-size: 12px;
}
span.right_accumulate{
    background: yellow;
       display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -1;
        min-width: 115px;
    text-align: center;
    padding: 10px 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #000000;
    font-size: 12px;
}*/
nav#mainNav, nav.main-menu ul {
    padding: 15% 10px 0px 10px;
}
.cover_text h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
}
.burger {
    background: none;
    right: -2px;
    z-index: 99;
}
/*------------index5- css starts here 10-08-2018---------------*/
body section {
    background: #ffffff !important;
}
body {
    font-family: Montserrat;
}
body section:nth-child(odd), body section:nth-child(odd) .main_title {
    background: #d2d2d2 !important;
    color: #000000 !important;
}
section#coverage .cover_text{
    background: #d2d2d2 ;
    color: #000000;
}
/*section:nth-child(odd)#coverage .cover_text, section:nth-child(odd)#coverage a.left_btn, section:nth-child(odd)#coverage a.right_btn, section:nth-child(odd)#speak_analyst .cover_text, section:nth-child(odd)#speak_analyst a.left_btn, section:nth-child(odd)#speak_analyst a.right_btn{
    background: #ffffff;
}
.cover_text, a.left_btn, a.right_btn {
    background: #d2d2d2;
}
#coverage .owl-dot.active, .owl-dot.active, .vertical_line {
    background: #343434 !important;
}
#coverage .owl-next, #coverage .owl-prev, .owl-prev, .owl-next {
    position: relative;
    margin: 20px 10px;
    background: #343434 !important;
    color: #f2f2f2 !important;
}
#coverage .owl-dot, .owl-dot{
    border: 1px solid #000000 !important;
}*/
/*#coverage .main_title, body, #quarterly h1, #quarterly .left p, #plant_visit .main_title, #plant_visit, #investor .main_title, #investor, .investor_left .read_more {
    color: #333333 !important;
}*/
#chat {
    width: 100%;
    height: 520px;
    padding: 0px;/*5px;*/
    /*display: none;*/
    display: block !important;
    /*margin-top: 60px;
    border: 1px solid #333333;
    border-radius: 20px;*/
}
.toggle-chat{
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px double;
    padding: 10px 40px;
    border-radius: 50px;
    /*margin: 15px;*/
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background: transparent;
    /*margin: 0 auto;*/
    outline: none;
}
.Hide{
    display:none;
}



@media (min-width: 992px){
    .col-md-offset-2 {
        margin-left: 16.66666667% !important;
    }
}

/*------------------------- css starts for comments------------------------*/
.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:10%;/*25%;*/
    float:left;
    padding-right:10px;
}
.macro{
    /*margin-top:5px;*/width:85%;border-radius:5px;padding:5px;display:flex;height: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #333333;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#d2d2d2;/*#e0e0de;*/
    height: 400px;/*298px;*/
    overflow: hidden;
    padding: 0;
    /*border-radius: 20px;*/
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}
body > div > div > div:nth-child(2) > span{
    background: whitesmoke;padding: 10px;font-size: 21px;border-radius: 50%;
}
body > div > div > div.msj-rta.macro{
    margin:auto;margin-left:1%;
}
.frame ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}
input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}
.my-chatbox{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

/*---------------------------*/
/*#chat .stay_block {
    list-style: none;
    margin-bottom: 0px;
}
nav.main_navigation {
    display: none;
}
#chat .stay_block li {
    display: inline-block;
    background: #000;
    color: #fff;
    transform: skew(-25deg);
    margin: 0 -3px;
}*/
/*------------------------ *  STYLE for scroller----------------------------- */

#chat ul::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#chat ul::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}

#chat ul::-webkit-scrollbar-thumb{
    background-color: #000000;
    border: 2px solid #555555;
}
.chat-forward {
    font-size: 34px;
    color: #333333;
}
/*------------------------- css ends for comments------------------------*/


/*------------------------- css on 14-08-2018----------------------------*/
#mainNav li {
    line-height: 1.4;
}
#speak_analyst .right_buy {
    padding: 8px 7px 0 25px;
}
#set_meeting .read_more:hover {
    background: #fe700a;
    border-color: #ffffff;
    color: #ffffff;
}
section:nth-child(odd) .owl-carousel .owl-nav button.owl-next, section:nth-child(odd) .owl-carousel .owl-nav button.owl-prev{
    background: #343434 !important;
    color: #f2f2f2 !important;
}
section:nth-child(odd) .owl-carousel button.owl-dot.active{
    background: #343434 !important;
    color: #343434 !important;
}
section:nth-child(odd) .owl-carousel button.owl-dot{
    color: #343434 !important;
}
section:nth-child(odd) .vertical_line {
    background-color: #343434;
}
.owl-next, .owl-prev {
    background: #343434 !important;
    color: #f2f2f2 !important;
}
.owl-dot {
    background: #ffffff !important;
    color: #343434 !important;
}
.owl-dot.active {
    background: #343434 !important;
}
.post-comments {
    background: gray !important;/*#d2d2d2 !important;*/
    padding: 35px 44px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    border: 1px solid #333333;
}
.post-comments a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.close1 {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
#comments_modal .modal-title{
    text-align: center;
}
#comments_modal .modal-content {
    background: #d2d2d2;
}
#comments_modal.modal{
    z-index: 999999 !important;
}
#comments_modal .modal-footer {
    padding: 0px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}
#set_meeting .read_more {
    border-color: #fe700a;
    padding: 10px 15px;
    margin: 0px;
}
body .modal-open {
    overflow: hidden;
    position: fixed;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
#set_meeting .left, #set_meeting .right {
    margin: 20px 0px;
}
#investor .sub_title, #investor .read_more {
    margin-left: 50px;
}
.investor-right img{
    padding-top: 30px;
}


/*#mainNav li a.active .onload-text {
    font-weight: 900;
    font-size: 14px !important;
}*/
.cover_price, .cover_text .date {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: 1px;
    font-size: 12px;
}

#business_model {
    margin-top: 30px;
}

#comments_modal .modal-header .close1 {
    margin-top: -2px;
    font-size: 30px;
}
#comments_modal .modal-header .close1:hover {
    color:#000000 !important;
    opacity: 1;
}
.contributor-pic {
    display: inline-flex;
}
.contributor-pic .thumbnail{
    font-size: 50px;
    background: transparent;
    outline: none;
    border: 0px;
}
#conference {
    height: auto;
}
.call-audio, .call-transcript{
    display: inline-flex;
}
.call-audio h3, .call-transcript h3 {
    margin: 0px;
    padding: 12px;
    color: #000000;
}
.call-transcript i.fas.fa-file {
    font-size: 30px;
    padding: 10px;
    color: #fe700a;
}
.call-highlights p{
    color: #000000;
}
.call-highlights h3{
    text-align: left;
    color: #000000;
    padding: 0px 10px;
    margin: 10px 0px;
}
li.loading div a.ns-img{
    display: block !important;
}
/*#ninja-slider, #ninja-slider .slider-inner, #ninja-slider ul, #ninja-slider li, #thumbnail-slider{
        height: 600px !important;
}*/

/*#thumbnail-slider ul li {
    border: #FE700A 1px solid;
    filter: initial;
        border-radius: 4px;
}*/
#slider-thumbs .thumbnail {
    border: #FE700A 1px solid;
    filter: initial;
    border-radius: 4px;
}
#slider-thumbs .thumbnail span{
    margin:0px 0px 20px 0px;
}

#conference .burger {
    top: 35%;
}
.contributor-pic .checked {
    color: orange;
}
.contributor-pic span{
    padding: 20px 0px;
}
.contributor-pic p{
    padding: 10px 0px;
}
.contributor-pic p{
    margin: 0px 5px;
    text-align: left;
}
#conference h3 {
    font-size: 18px;
}
#conference #thumbnail-slider h3{
    font-size: 14px;
}
.text-left{
    text-align: left;
}
#business_model{
    margin-top: 0px;
}
li.loading:focus, #ninja-slider:focus, #ninja-slider .slider-inner:focus {
    outline: none;
}
/*span.right_buy {
    top: 42px;
    }*/




#conference .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

#conference .thumbnail {
    padding: 0;
    padding: 20px 0px;
}
#conference .thumbnail h3 {
    margin: 15px 0px;
}
#conference .thumbnail h3, #conference .thumbnail span{
    color: #000000;
    text-decoration: none;
}
#conference .thumbnail:hover{
    color: #ffffff !important;
    background: #fe700a;
    text-decoration: none;
    color: #ffffff;
}
#conference .thumbnail:hover h3, #conference .thumbnail:hover span{
    color: #ffffff;
    text-decoration: none;
}

#conference .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
#conference #slider-thumbs {
    height: 500px;/*565px;*/
    overflow-y: scroll;
    white-space: nowrap;
}
#conference .carousel-control.right, #conference .carousel-control.left{
    background: none;
}
/*
 *  STYLE 2
 */

#conference #slider-thumbs::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#conference #slider-thumbs::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}
body.modal-open{
    padding-right: 0px !important;
    margin-right: 0px !important;
}
#business .conference_call_result ul li, #coverage .research_contribute_result ul li {
    margin: 0px;
    width: 100%;
}


#conference #slider-thumbs::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #333333;
}
#conference #slider-thumbs li.col-sm-12 {
    margin-left: 10px;
    padding-bottom: 10px;
}
.upside{
    color: green;
}
.downside{
    color: red !important;
}
.homepage-research-reports .cover_text h6 {
    margin: 0px;
    width: 100%;
    font-size: 11px;
    font-weight: 700;
    text-align: left;
}
.homepage-research-reports .cover_text .date {
    padding-top: 10px;
}
section#coverage .cover_text {
    min-height: 180px;
}
/*.carousel-inner>.item {
    position: relative;
    display: none;
     -webkit-transition: .6s ease-in-out left; 
     transition: .6s ease-in-out left; 
}
@media not all, (-webkit-transform-3d){
.carousel-inner>.item.next.left, .carousel-inner>.item.active {
    -webkit-transform: none;
    transform: none; 
    right: 0; 
}
.carousel-inner>.item.prev.right{
    -webkit-transform: none;
    transform: none; 
    left: 0; 
}
}*/

@media not all, (-webkit-transform-3d){
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out !important;
        -o-transition: -o-transform 0.6s ease-in-out !important;
        transition: transform 0.6s ease-in-out !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        margin: 0px;
    }
}

#conference .thumbnail.active{
    color: #ffffff !important;
    background: #fe700a;
    text-decoration: none;
}
#conference .thumbnail.active h3{
    color: #ffffff !important;
}
img.updown {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    /* margin-left: -25px;*/
}
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/*--------------------- sidebar css starts here-------------------*/

.main-menu .fa-2x {
    font-size: 2em;
}
.main-menu .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
    color: #ffffff;
}


/*.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}*/
.side-img .main-menu {
    /*background:transparent !important;
    /*border-right:1px solid #e5e5e5;*/
    /*position:absolute;
        top: 0px;
        bottom: 0;
        height: -webkit-fill-available;
    left:0;
    width:60px;
    /*overflow:hidden;*/
    /*-webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;*/

    background: transparent !important;
    position: fixed;
    position: fixed;
    top: 42%;
    bottom: 0;
    height: 120px;
    left: 0;
    width: 60px;
    /* overflow: hidden; */
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
}

.side-img img:hover .main-menu, nav.main-menu.expanded, .main-menu ul{
    width: 250px !important;
    overflow: visible !important;
    background:#212121 ;
    opacity: .7 !important;
    height: 100vh !important;
}
.side-img:hover .main-menu{
    width: 250px !important;
    overflow: visible !important;
    background:#212121 ;
    opacity: .7 !important;
    position: absolute !important;
    height: 100vh !important;
    top: 0% !important;

}
.main-menu:hover .side-img{
    display: none;
}
.main-menu ul li:first-child {
    margin-top: 90%;
}
.side-img:hover .updown {
    display: none !important;
}

/*.main-menu>ul {
margin:7px 0;
}*/

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;

}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    color: #ffffff;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:transparent;
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

.main-menu ul {
    display: none !important;
    position: absolute;
    height: -webkit-fill-available;
    /*top: 25%;*/
}

.main-menu:hover ul {
    display: block !important;
}
/*.side-img{
    
    position: absolute;
    top: 45%;
        width: 100px;
}*/
.side-img img {
    width: 1px;
    position: fixed;
    top: 45%;
    left: 0;
    width: 100px;
    z-index: 999;
}
.side-img img{
    width: 65px;
}
.main-menu ul li {
    line-height: 1.4;
}
.main-menu ul li a{
    color: #999;
}
/*--------------------- sidebar css ends here-------------------*/

#quarterly .caption{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    left:20px;
}
div#myCarousel-1 .carousel-control {
    color: #fe700a;
}
div#myCarousel-1 a.left.carousel-control {
    left: -60px;
}
div#myCarousel-1 a.right.carousel-control {
    right: -30px;
}
#annual_reports .read_more {
    font-size: 11px;
    padding: 10px 15px;
}
.press_block .img_text h4 {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    position: absolute;
    bottom: 50px;
    padding: 0 10px;
}
#text, #text1, #text2, #text3{
    display: none;
}

/*--------------------------home toggle css----------*/
/*#parent{
    width:500px;
}*/
ul#profile{
    display:none;
}
#LoginButton{
    width: 200px !important;
    height: 30px;
    overflow: hidden;
    margin-top: 3px;
    padding: 3px;
    background: #40c5b9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #ffffff;
    cursor: pointer;
    display: none;

    /*width: 200px !important;
height: 30px;
overflow: hidden;
margin-top: 3px;
padding: 3px;
background: #a02722;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-align: center;
margin: 0 auto;
display: block;
color: #ffffff;
position: absolute;
top: 400px;
margin: 0 auto;
display: -webkit-inline-box;
right: 0;
z-index: 99;*/
}
#LoginButton img{
    float:left;
    width:20px;
    height:20px;
}
#LoginButton span{
    margin-right:0px;
    line-height:24px;
}
.hide2{
    color: #000000;
    font-size: 20px;
    box-shadow: none;
    outline: none;
    background: none;
    border: 0px;
}
.hide2:hover{
    color: #f37121;
}
.hide2-btn{
    background: transparent;
    border: 0px;
    padding: 2px;
}
/*#mainNav li a:hover .onload-text, #mainNav li a:focus .onload-text, #mainNav li a:active .onload-text, #mainNav li a:visited  .onload-text{
    display: none;
    text-decoration: none;
}
#mainNav li a:hover .hover-text, #mainNav li a:focus .hover-text, #mainNav li a:active .hover-text, 
#mainNav li a:visited .hover-text {
    display: block;
    text-decoration: none;
}*/



/*-------------------------------------------css ends from homepage.html-----------------------------------------*/

.custom-modal.modal-dialog {
    left: 0px;
    width: 35%;
}
#search_result a:hover, #conference_call_search li:hover, #recent_contributor_search_result li:hover, #searchreports a:hover
{
    color: #41c5b8;
}
#search_result .view-all {
    width: 100px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    background: #f37121;
    letter-spacing: 1px;
    border-radius: 71px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px;
}
#search_result span.search-list-ppl-count {
    background: #40c5b9 !important;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 12px;
}
.search-list-ppl-count-covers {
    background: #350093 !important;
    border-radius: 42px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0px 8px;
    font-weight: 6;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 11px;
    height: 20px;
    line-height: 2;
    margin-top: 8px;
}
.search-list-ppl-count-contribution {
    background: #40c5b9 !important;
    border-radius: 42px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0px 8px;
    font-weight: 6;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 11px;
    height: 20px;
    line-height: 2;
    margin-top: 8px;
}
#search_result a.contributeresult-contribute {
    display: block;
    color: #000000;
}
#search_result .houseresult h5 {
    margin-top: 0px;
    font-size: 13px;
    color: gray;
}
#search_result .houseresult{
    line-height: 2;
}
.searchresult-ppl-rating {
    margin: 00px 0px 15px 0px;
    line-height: 0;
    font-size: 13px;
    color: grey;
}
.contributeresult-contribute h5 {
    margin: 00px 0px 15px 0px;
    line-height: 1;
    font-size: 13px;
    color: grey;
}
.custom-modal .close-modal {
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}
.intelligence-share{
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
}
.custom-share-btn, button.btn.custom-share-btn:hover, button.btn.custom-share-btn:focus{
    border:0px;
    outline: none;
    background: transparent;
    box-shadow: none;
}
.custom-share-btn i.fas.fa-share-alt {
    position: absolute;
    right: 10px;
    bottom: -15px;
    color: #ffffff;
    background: #3b77e7;
    border-radius: 50%;
    padding: 15px;
}
.intelligence-share-modal .omb_socialButtons div{
    width: 20%;
}
.omb_login .omb_socialButtons .omb_btn-whatsapp{
    background: #25d366;
}
/*#carousel-main .item {*/
    /*background: #333333;*/
/*}*/
#carousel-main img.img-responsive {
    width: auto;
    margin: 0 auto;
}

.main_navigation ul.dropdown-menu li a {
    font-size: 10px;
    padding: 5px;
}
.dropdown.open ul.dropdown-menu {
    min-width: 130px;
}

#coverage .side_menu h1.main_title, #sq_intelligence.side_menu h1.main_title {
    background: transparent !important;
}
#side_menu3 h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
    text-align: left;
    background: transparent !important;
}

.tutorial_video iframe{
    /*width: 100%;*/
    height: 315px;
}
.btn-search-icon {
    background: transparent !important;
    border-radius: 0px !important;
    padding: 9px 50px 9px 10px;
    margin-left: -50px !important;
    border: 0px !important;
    border-left: 1px solid #d2d2d2 !important;
    width: 75px;
    z-index: 999999 !important;
}
.btn-search-icon span.glyphicon.glyphicon-search {
    color: #777777;
}
.btn-list-dropdown {
    border-top-left-radius: 00px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -42px !important;
    z-index: 999999 !important;
    padding: 10px 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-color: #ef7f3b !important;
    font-size: 13px;
    background: #f37121;
    border-color: transparent;
    margin-top: -2px;
}
.btn-list-types {
    color: #ffffff;
    background: transparent;
    border: 0px;
    width: 120px;
}
.btn-list-types option {
    background: #777777;
}
.homepage-about ul.nav.nav-pills {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: #ffffff;
}
.homepage-about .nav-pills>li {
    float: initial;
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    background: #eeeff1;
    border-radius: 30px;
    padding: 0px 20px;
    margin-right: 10px;
    font-size: 13px;
}
.homepage-about li.active {
    background: #40c5b9 !important;
}

/*.mysearchinput{*/
    /*font-size: 19px;*/
    /*cursor: pointer;*/
    /*padding: 5px 10px 4px 10px;*/
/*}*/
.btn-list-dropdown {
    padding: 0px !important;
}
.mysearchinput {
    font-size: 15px;
    cursor: pointer;
    padding: 8px 10px 8px 15%;/*8px 10px 8px 10px;*/
}
button.btn.btn-list-dropdown span.glyphicon.glyphicon-search {
    padding-left: 5px;
    color: #ffffff;
}


@media(max-width: 1440px){
    .menu_active1{
        transform:translateY(78%);
        -webkit-transform:translateY(78%);
        -moz-transform:translateY(78%);
    }
    .stay_updated .whatsapp {
        bottom: 22px;
    }
    .stay_fix img.subscribe-now {
        bottom: 93px;
    }
    .burger1.stay_fix.burger_active1, .burger1.burger_active1 {
        bottom: 25px;
    }
    .tutorial_video {
        float: right;
        right: 10% !important;
        position: absolute;
        top: 35%;
        width: 40%;
        height: 300px;
    }
    .tutorial_video iframe{
        width: 100%;
        height: 250px;
        position: absolute;
        bottom: 30px;
        right: 0px;
    }
    .search-box {
        left: 0%;
    }
    .side_menu button.close {
        top: 11%;
        right: 4px;
    }
    .whatsapp-toggle .msg_container_base {
        /*max-height: 370px;*/
        max-height: 440px;
    }
    .dropdown-menu{
        left: -50px;
    }
    .following-details h4 {
        margin-bottom: 0px;
    }
}
@media(max-width: 1366px){
    .menu_active1{
        transform:translateY(71%);
        -webkit-transform:translateY(71%);
        -moz-transform:translateY(71%);
    }
    .burger1.stay_fix.burger_active1, .burger1.burger_active1 {
        bottom: -30px;
    }
    .bottom_menu {
        left: -240px;
    }
    .bottom_menu .press_block .img_text h4 {
        padding: 20px 10px 0px 10px;
    }
    .homepage-banner .banner {
        height: 70vh;
    }
    .search-box input::-webkit-input-placeholder {
        font-size: 11px !important;
        padding: 0px;
    }
    .side_menu button.close {
        top: 15%;
        right: 4px;
    }
}
@media(max-width: 1301px){
    .menu_active1{
        transform:translateY(75%);
        -webkit-transform:translateY(75%);
        -moz-transform:translateY(75%);
    }
    .burger1.stay_fix.burger_active1, .burger1.burger_active1 {
        bottom: 0px;
    }
}
@media(max-width: 1280px){
    .burger1.stay_fix.burger_active1, .burger1.burger_active1 {
        bottom: 0px;
    }
    .bottom_menu {
        left: -275px;
    }

}

@media(max-width: 1280px){
    #LoginButton {
        width: 160px !important;
    }
    #LoginButton span {
        font-size: 12px;
    }
}


@media (min-height:800px) and (max-width: 1280px){
    .burger1.stay_fix.burger_active1, .burger1.burger_active1 {
        bottom: 0px;
    }
    .homepage-banner .banner {
        height: 55vh;
    }
}
@media (min-height:950px) and (max-width: 1280px){
    .burger1.stay_fix.burger_active1, .burger1.burger_active1 {
        bottom: 36px;
    }
    .homepage-banner .banner {
        height: 50vh;
    }
}

@media(max-width: 1280px){
    .banner_caption.aos-init.aos-animate {
        padding: 57px 10px 0px;
    }
    .homepage-banner .banner_caption h1, .homepage-banner .banner_caption h6 {
        margin-left: 40px;
    }
}

@media(max-width: 1279px){
    .menu_active1{
        transform:translateY(70%);
        -webkit-transform:translateY(70%);
        -moz-transform:translateY(70%);
    }
    .bottom_menu {
        left: -230px;
    }
    .bottom_menu .press_block .img_text h4 {
        padding: 5px 10px 0px 10px;
    }
    .burger1.stay_fix.burger_active1, .burger1.burger_active1 {
        bottom: -35px;
    }
}
@media(max-width: 1200px){
    .menu_active1{
        transform:translateY(67%);
        -webkit-transform:translateY(67%);
        -moz-transform:translateY(67%);
    }
    .bottom_menu.menu_active1 {
        transform: skew(-150deg,0deg) translateY(72%);
    }
    .homepage-about .nav-pills>li {
        margin-bottom: 10px !important;
    }
    .search-box input::-webkit-input-placeholder {
        font-size: 10px !important;
        padding: 0px;
    }
}
@media(max-width:1024px){
    .main_navigation ul li a {
        padding: 8px 10px;
        font-size: 9px;
    }
    div#adv-search {
        margin-left: 0px !important;
        width: 100%;
    }

    .homepage-research-reports span.right_buy {
        min-width: 150px;
        text-align: center;
        padding: 6px 5px;
        font-size: 12px;
        top: 7px;
    }
    .side_menu button.close {
        top: 10%;
        right: 4px;
    }
    ul.footer_links {
        margin-top: 3px;
    }
    .copyright {
        padding: 0px 0px;
    }
    .copyright p {
        line-height: 5;
    }
}

@media(max-width: 768px){
    .logo {
        float: none !important;
        width: 160px !important;
        margin: 0 auto !important;
    }
    .sticky .site-nav ul li, .site-nav ul li {
        line-height: 2.5;
    }
    .whatsapp-toggle, .whatsapp-toggle-body {
        width: 100%;
    }
    .whatsapp-update-scroller {
        max-height:70vh !important
    }
    .whatsapp-toggle .msg_container_base {
        max-height: 75vh;
        border: 0px !important;
        padding: 0px;
    }
    .whatsapp-toggle-img {
        /*bottom: 5px;*/
        width: 25%;
        /*padding: 0px 0px 5px 0px;*/
    }
    .whatsapp-toggle-body .panel.panel-default .panel-heading {
        height: 50px !important;
    }
    .homepage-mobile .whatsapp-toggle .chat-window {
        bottom: 75px !important;

    }
}

@media(max-width: 500px){
    .whatsapp-toggle, .whatsapp-toggle-body {
        width: 100%;
    }
    .whatsapp-update-scroller {
        max-height:70vh !important
    }
    /*.whatsapp-toggle .chat-window {*/
        /*height: 600px;*/
    /*}*/
    .whatsapp-toggle .msg_container_base {
        max-height: 70vh;/*75vh;*/
        border: 0px !important;
        padding: 0px;
    }
    .whatsapp-toggle-img {
        /*bottom: 5px;*/
        width: 35%;
        /*padding: 0px 0px 5px 0px;*/
    }
    .whatsapp-toggle-body .panel.panel-default .panel-heading {
        height: 50px !important;
    }
    .homepage-mobile .whatsapp-toggle .chat-window {
        bottom: 75px !important;

    }
}
