.site-nav {
    position: absolute;
    /*top: 100%;*/
    /*right: 0%;*/
    top: 107%;
    right: 0%;
    background: #464655;
    clip-path: none;
/*circle(0px at top);*/
    /*transition: clip-path ease-in-out 500ms;*/
    /*   display: none; */
    /*width: 100%;*/
    width: 0%;
    transition: top ease-in-out 1500ms;
}

.site-nav--open {
    clip-path: none;
/*circle(250% at top);*/
    /*   display: block; */
    width: 100%;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: 1px solid #575766;
}

.site-nav a {
    color: gray;
    display: block;
    padding: 0.2em 2em 0.1em .7em;/*2em 4em 2em 1.5em;*/
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px !important;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #f37122;
    color: #000000 !important;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}

.menu-toggle {
    /*padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;*/

    padding: 1em;
    position: absolute;
    top: .5em;
    left: .5em;
    cursor: pointer;
    background: transparent;
    /*pointer-events: none;*/
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #f37121;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;*/
    border: 1px solid #f37121;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 25px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #f37121;
    left: initial;
    font-size: 14px;
}
header .search-form .form-group{
    min-width: 0px;
}
header .search-form .form-group {
    min-width: 10px;
}
.has-feedback{
    position: absolute;
    top: -33px;
    right: 0px;
}
.header-user{
    /*position: absolute;*/
    /*top: -28px;*/
    /*right: 15px;*/
    /*font-size: 20px;*/
    /*color: #f37121;*/


    position: initial;
    font-size: 20px;
    color: #f37121;
    margin-top: -25px;
    margin-right: 15px;
}

.header-user1{
    position: absolute;
    top: -28px;
    right: 15px;
    font-size: 38px;
    color: #f37121;
    width: 100%;
    border-radius: 50%;
    /*height: 24px;*/
    background: #f37529;
}
span.c_icon {
    z-index: 99;
}
.homepage-mobile .research-wrapper .cover_text {
    z-index: 9;
}
header .search-form .form-group input.form-control{
    height: 30px;
}
.homepage-mobile .tab-wrapper{
    height: 100vh;
    position:initial;
    /*fixed;*/
    background:#ffffff !important;
}
.homepage-mobile .tab-wrapper h6{
    line-height: 1.8;
    text-align: center;
}
.homepage-mobile .tab-wrapper h1.main_title {
    background: #ffffff !important;
}
.homepage-mobile .tab-wrapper .nav-tabs{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #d2d2d2;
    z-index: 999;
}
.homepage-mobile .tab-wrapper .nav-tabs>li {
    text-align: center;
    width: 20%;
    font-size: 11px;
}
.homepage-mobile .tab-wrapper .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 2px;
    min-height: 75px;
    color: #333333;
    text-transform: uppercase;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
    color: #f37121 !important;
    background: #ffffff !important;
}
/*.homepage-mobile .tab-content {
    height: 100vh;
}
.homepage-mobile ul.nav.nav-tabs {
    position: absolute;
    bottom: 0px;
}*/
.homepage-mobile .tab-wrapper #myVideo .controls {
    position: absolute;
    bottom: 30px;
    color: #ffffff;
    font-size: 20px;
}
.homepage-mobile .tab-content {
    height: 100vh;
    /*overflow: scroll;*/
    background: #ffffff;
    overflow: visible;
}
.section_inner {
    padding: 100px 0 90px;
}
.homepage-mobile .controls {
    position: absolute;
    bottom: 45px;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
}
.homepage-mobile .controls i.fas.fa-arrows-alt-h {
    right: 15px;
    position: absolute;
    transform: rotate(135deg);
    font-size: 25px;
    top: 20px;
}
.homepage-mobile .video-wrapper{
    box-shadow: 0px 0px 7px 0px #d2d2d2;
    padding: 0px;
    margin-bottom: 20px;
    background: #ffffff;
}

.homepage-mobile .tab-wrapper #home {
    background: #ffffff !important;
}
.homepage-mobile .video-wrapper p.video-title {
    padding: 0px 10px;
}
.homepage-mobile .video-wrapper p.video-title .share-video{
    float: right;
    padding-top: 5px;
    color: #0bd561;
}
.homepage-mobile ul.footer_links, .homepage-mobile .copyright p {
    line-height: 1.1;
    /*text-align: left;*/
}
.homepage-mobile #footer{
    margin-bottom: 150px;
    text-align: center;
}
.homepage-mobile li.subscribe {
    position: absolute;
    width: 45%;
    bottom: -15px;
    right: -40px;
}
body.homepage-mobile section:nth-child(odd), body.homepage-mobile section:nth-child(odd) .main_title {
    background: #ffffff !important;
}
.homepage-mobile .read-view-more button{
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
.homepage-mobile .intelligence-title {
    top: 50px;
}
.homepage-mobile #sq_intelligence i.fas.fa-share-alt.share-reports {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 17px;
    color: #3dc7b8;
}
.homepage-mobile .sq-intelligence-read-more button {
    bottom: -30px;
    position: absolute;
    right: 0px;
}
.homepage-mobile #sq_intelligence .video-wrapper {
    box-shadow: 0px 0px 7px 0px #d2d2d2;
    padding: 0px;
    margin-bottom: 50px;
    background: #ffffff;
}
.homepage-mobile .main_title{
    font-size: 22px !important;
}
.homepage-mobile #sq_intelligence .intelligence-title {
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*width: 50%;*/
    /*height: auto;*/
    /*font-size: 18px;*/
    /*letter-spacing: 2px;*/

    position: unset;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    left: 0px;
    color: #ffffff;
    font-weight: 900;
    background: #333333;
    padding: 10px 10px;
    opacity: 0.6;
}
.homepage-mobile .tab-wrapper i {
    font-size: 18px;
    margin-bottom: 2px;
}
.homepage-mobile .research-wrapper .cover_text{
    box-shadow: 0px 0px 7px 0px #d2d2d2;
    padding: 40px 10px 20px 10px;
}
.homepage-mobile span.right_buy {
    min-width: 147px;
    text-align: center;
    padding: 10px 5px;
    font-size: 12px;
    z-index: 9;
    background: #F34500;
    top: 54px;
    right: 15px;
}
#text_reports3 {
    display: none;
}
.homepage-mobile .research-wrapper {
    margin-bottom: 20px;
}
.homepage-mobile a.right_btn, .homepage-mobile a.left_btn {
    font-size: 12px;
}
.homepage-mobile .cover_price, .homepage-mobile .cover_text .date {
    font-size: 13px;
}

.homepage-mobile .cover_text h4, .homepage-mobile .sub-title h5{
    font-size: 14px;
}
#accordion .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
}
#accordion .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}
#accordion .panel-heading {
    padding: 20px 20px 20px 0px;
    background: gray !important;
    color: #ffffff !important;
}
#accordion.panel-group{
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
}
#accordion.panel-group .panel{
    border: 0px;
}
#accordion .panel-body {
    padding: 0px;
}
#accordion a.accordion-toggle {
    padding: 20px 45% 20px 20px;
}
table.con-calls {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.con-calls td, table.con-calls th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.con-calls tr:nth-child(even) {
    background-color: #dddddd;
}
#accordion td.con-call {
    background: #f37121;
    color: #ffffff;
    width: 100px;
    text-align: center !important;
    font-size: 12px;
    letter-spacing: 2px;
}
#accordion td.con-time {
    text-align: center !important;
}
#accordion td.con-company{
    line-height: 2;
    font-size: 15px;
}
#accordion i.fas.fa-arrow-right {
    position: initial;
    right: 25px;
    font-size: 20px;
    color: gray;
}
#accordion table.con-calls td, #accordion table.con-calls th {
    padding: 4px 8px;
}

.homepage-mobile .footer_block .text-right{
    text-align: center !important;
}
.homepage-mobile .tab-wrapper .nav-tabs>li:last-child {
    background: #0bd561;
}
.homepage-mobile .tab-wrapper .nav-tabs>li.active:last-child {
    background: #f37121;
}
.homepage-mobile .tab-wrapper .nav-tabs>li:last-child a{
    color: #ffffff !important;
}
.homepage-mobile .tab-wrapper .nav-tabs>li:nth-child(3) {
    background: #3b77e7;
}
.homepage-mobile .tab-wrapper .nav-tabs>li:nth-child(3) a {
    color: #ffffff;
}
/*.homepage-mobile .tab-wrapper i.fas.fa-book, */
.homepage-mobile .tab-wrapper i.fab.fa-whatsapp {
    padding-bottom: 7PX;
}
/*.homepage-mobile #sq_subscribe button.btn.btn-info.btn-lg {
    width: 100%;
    margin-top: 20px;
}
.homepage-mobile #sq_subscribe input#email {
    width: 100%;
}*/
.homepage-mobile .nav-tabs>li.active>a, .homepage-mobile .nav-tabs>li.active>a:hover, .homepage-mobile .nav-tabs>li.active>a:focus{
    background-color: transparent;
}
.homepage-mobile .whatsapp-toggle .chat-window {
    bottom: 94px;
}
.homepage-mobile .whatsapp-update-scroller .form-group {
    margin-bottom: 10px;
}
section.section_inner.tab-wrapper {
    width: 100%;
}
#sq_subscribe .input-group, #sq_subscribe input#email {
    width: 100%;
    margin-bottom: 20px;
}
button.btn.btn-info.btn-lg {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.subscribe-footer {
    position: absolute;
    bottom: 0px;
    margin-bottom: 75px !important;
    width: 100%;
}
.whatsapp-toggle-body .panel.panel-default .panel-heading {
    background: transparent;
    height: 40px;
    border: 0px;
    z-index: 999999999;
}
#myloginModal .nav-tabs li {
    width: 50%;
    text-align: center;
}
#myloginModal #register-id .form-group:last-child {
    margin-bottom: 40px;
}
#myvideoModal .modal-dialog, .myregisterModal .modal-dialog, .myloginModal .modal-dialog {
    left: 0px;
    width: 60%;
}

#myvideoModal .modal-header .close-modal, #comments_modal .modal-header .close-modal, .myregisterModal .close-modal, .myloginModal .close-modal {
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
#comments_modal .modal-header .close-modal:hover, #myvideoModal .modal-header .close-modal:hover, .myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover{
    color:#000000 !important;
    opacity: 1;
}


.myloginModal.modal-dialog {
    left: 0px;
    width: 95%;
    /*top: 25%;*/
}

.myregisterModal .close-modal, .myloginModal .close-modal {
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover{
    color:#000000 !important;
    opacity: 1;
}
.homepage-mobile .myloginModal .tab-content {
    height: auto;
    overflow: scroll;
    background: #ffffff;
}
.intelligence-pic img {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    border-radius: 50%;
}
.intelligence-title {
    background: transparent;
}
.intelligence-pic p.name {
    padding-top: 10px;
}
.nav-tabs .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 0px 13%;
    display: -webkit-inline-box;
    width: 100%;
}
.nav-tabs .copyright p {
    color: #333333 !important;
    text-align: center;
    margin: 0 auto;
}
div#sq_tv, div#sq_conference_calls, div#sq_research_reports, div#sq_intelligence {
    padding-bottom: 200px;
}
.mobile-description{
    margin-bottom:25px;
}

header {
    height: 60px;
}
.logo{
    float: none !important;
    width: 100px !important;
    margin: 0 auto !important;
}
.logo3241{
    float: none !important;
    width: 100px !important;
    margin: 0 auto !important;
}
#sq_tv i.fas.fa-share-alt {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #ffffff;
    background: #3b77e7;
    border-radius: 50%;
    padding: 15px;
}

.whatsapp-toggle-img {
    /*bottom: 18px;*/
}
.homepage-mobile #sq_intelligence .video-wrapper img.img-responsive {
    width: auto !important;
    margin: 0 auto !important;
    height: 150px;
}
.firstsqlintelegenceimage {
    background: url(http://pmsecurities.com/images/BG-full-article.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.custom-share-btn, button.btn.custom-share-btn {
    border: 0px;
    outline: none;
    background: transparent;
    box-shadow: none;
    position: absolute;
    float: right;
    right: 0;
}
.whatsapp-toggle .msg_container_base {
    background: #F2F2F2;
    border: 1px solid #000000;
}
.whatsapp-update-scroller {
    margin-top: 35px;
}
.mob-view-details p {
    width: 30% !important;
    display: inline-block;
    line-height: 20px;
}
.mob-view-details p.mob-reminder i {
    width: 45%;
    color: #f37122;
}
.mob-view-details p.mob-presentation {
    padding-left: 30px;
}
@media (min-width: 769px) {

    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }

    .site-nav--icon {
        display: none;
    }
    /*  .homepage-mobile ul.footer_links, .homepage-mobile .copyright p {
        line-height: 1.1;
        text-align: center !important;
    }*/

}

.contribute-btn i.fas.fa-arrow-circle-right {
    right: 0px;
}
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

@media (max-width: 768px) {
    .homepage-mobile span.right_buy {
        top: 72px;
    }

    .main_navigation ul, .main_navigation ul li {
        width: 30px !important;
        height: 30px !important;
        right: 5px;
        top: -4px;
    }
    .homepage-mobile .whatsapp-toggle .chat-window {
        bottom: 64px;
    }
}
@media(max-width: 540px) {

}

@media(max-width: 414px){
    .homepage-mobile ul.footer_links, .homepage-mobile .copyright p {
        line-height: 1.1;
        text-align: left !important;
    }
    .homepage-mobile span.right_buy {
        top: 54px;
    }
    #accordion a.accordion-toggle {
        padding: 20px 40% 20px 20px;
    }

}
@media(max-width: 384px){
    #accordion a.accordion-toggle {
        padding: 20px 37% 20px 20px;
    }
}
@media(max-width: 375px){
    #accordion a.accordion-toggle {
        padding: 20px 38% 20px 20px;
    }
    .header-user {
        margin-left: 10px !important;
    }
}

@media(max-width: 360px){
    #accordion a.accordion-toggle {
        padding: 20px 34% 20px 20px;
    }
}

@media(max-width: 320px){
    #accordion a.accordion-toggle {
        padding: 20px 23% 20px 20px;
    }
    .homepage-mobile .whatsapp-toggle .chat-window {
        bottom: 100px;
    }
}