/*<!--start of css for stay updated on whatsapp-->*/

body{
    max-width: 768px;
    margin: 0 auto;
    display: block;
}

.whatsapp-toggle .col-md-2, .col-md-10{
    padding:0;
}
.index-mobile .btn-overflow1{
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px double;
    padding: 10px 25px;
    border-radius: 50px;
    margin: 15px;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background: transparent;
    margin: 10px;
    outline: none;
    float: left;
}
.index-mobile .toggle-chat{
    padding: 10px 25px;
    border-radius: 50px;
    margin: 10px 0px;
    float: right;
}
.whatsapp-toggle .panel{
    margin-bottom: 0px;
}
.whatsapp-toggle .chat-window{
    position: absolute;
    float: right;
    margin-left: 0px !important;
    right: 0;
    width: 100%;
    left: 0px;
}
.whatsapp-toggle .chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.whatsapp-toggle .icon_minim{
    padding:2px 10px;
}
.whatsapp-toggle .msg_container_base{
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height:420px; /*300px;*/
    /*overflow-x:hidden;*/
}
.whatsapp-toggle .top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.whatsapp-toggle .msg_receive{
    padding-left:0;
    margin-left:0;
}
.whatsapp-toggle .msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.whatsapp-toggle .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.whatsapp-toggle .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.whatsapp-toggle .messages > time {
    font-size: 11px;
    color: #ccc;
}
.whatsapp-toggle .msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
/*.whatsapp-toggle img {
    display: block;
    width: 100%;
}*/
.whatsapp-toggle .avatar {
    position: relative;
}
.whatsapp-toggle .base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.whatsapp-toggle .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.whatsapp-toggle .base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.whatsapp-toggle .msg_sent > time{
    float: right;
}



.whatsapp-update-scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.whatsapp-update-scroller::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.whatsapp-update-scroller::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #333333;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.whatsapp-update-scroller{
    overflow-x: hidden;
    background: #e5e5e5;
    margin: 0;
    padding: padding: 0px 25px 10px 10px;/*10px 10px 10px;*/
    max-height: 350px;

}
.whatsapp-toggle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
.whatsapp-toggle-body {
    bottom: 0;
    width: 300px;
    z-index: 99;
}
#conference .whatsapp-toggle {
    bottom: -30px;
}
#requestconferncecall {
    margin-bottom: 15px;
}
.whatsapp-toggle-body .panel.panel-default {
    background: transparent;
    border: 0px;
}
.whatsapp-toggle-body .panel.panel-default .panel-heading {
    background: transparent;
    height: 80px;/*-webkit-fill-available;/*60px;*/
    border: 0px;
    padding: 0px;
}
.whatsapp-toggle-img{
    /*position: absolute;
        bottom: 0;/*93px;*/
    /*right: 0;
    width: 65%;
        cursor: pointer;*/

    position: absolute;
    bottom: -1px;
    right: 9px;
    width: 35%;
    cursor: pointer;
    right: 0px;/*15px;*/
    position: absolute;
}
img.whatsapp-toggle-img.glyphicon-minus {
    bottom: -1px;/*0px;*/
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.padding-zero{
    padding: 0px !important;
}
.whatsapp-toggle-subscribe-now{
    /*position: absolute;
    width: 54%;
    bottom: 46px;
    right: 0;*/

    position: absolute;
    width: 54%;
    bottom: 43px;
    right: 10px;
}
.whatsapp-post-btn{
    font-size: 20px;
}
button#btn-chat {
    background: #39cbbc;
    border: 0px;
}

.whatsapp-update-scroller {
    overflow-x: hidden;
    background: transparent;
    margin: 0;
    padding: 0px 25px 10px 10px;/*10px 10px 10px;*/
    max-height:550px;/* 335px;*/
    /*margin-top: 110px;*/
}

.whatsapp-toggle .msg_container_base {
    /*background: url(http://dev.firsteconomy.com/scout_quest/images/chat-mob.png);*/
    display: block;
    /*background-color: transparent;*/
    /*max-height: 520px;*/
    background-color: #d2d2d2;
    max-height:550px;/* 350px;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:10px;
    border: 3px solid #555555;
    width: 50%;
    float: right;
}
.whatsapp-toggle .msg_container_base .panel-footer{
    padding: 10px 15px;
    background-color: #ede5dd;
    border-top: 0px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0px 4px;
}
.whatsapp-toggle .msg_container_base .panel-footer #btn-input{
    background: #ffffff;
}
.whatsapp-toggle .msg_container_base .panel-footer #btn-input .form-control:focus  {
    border-color: transparent;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #f37121;
}
.index-mobile .whatsapp-toggle .chat-window {
    bottom: 0px;
}
.index-mobile .whatsapp-update-scroller .form-group {
    margin-bottom: 10px;
}
.index-mobile .whatsapp-toggle #chat_window_2.chat-window {
    bottom: 0px;
}



@media(max-width: 768px){
    span.right_buy {
        top: 24px;
    }
    #conference .container{
        width: 100%;
    }
    .my-chatbox {
        width: 90%;
    }
    .msj-rta:after{
        display: none;
    }
    .macro {
        border-radius: 5px;
        padding: 6px;
        display: flex;
        height: 50px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border: 1px solid #333333;
    }
    .post-comments {
        background: gray !important;
        padding: 10px 30px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        border: 1px solid #333333;
    }
    .modal {
        z-index: 9999999;
    }
    .modal-dialog {
        width: 90% !important;
    }
    #conference .whatsapp-toggle .chat-window {
        bottom: 30px;
    }
    .stay_block #stay a {
        padding-left: 22px;
    }
}

@media(max-width: 600px){
    .my-chatbox {
        width: 92%;
    }
}

@media(max-width: 540px){
    .my-chatbox {
        width: 91%;
    }
}

@media(max-width: 414px){
    .my-chatbox {
        width: 60%;
    }
    span.right_buy {
        top: 60px;
    }
    .whatsapp-toggle .msg_container_base {
        width: 100%;
        float: none;
    }
    .index-mobile .btn-overflow1, .toggle-chat {
        color: #1d1d1d;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        border: 3px double;
        padding: 10px 10px;
        border-radius: 50px;
        margin: 15px;
        display: inline-block;
        font-size: 12px;
        text-decoration: none;
        background: transparent;
        margin: 10px;
        outline: none;
        float: left;
    }
}

/*<!--end of css for stay updated on whatsapp-->*/
.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    /*   display: none; */
    width: 100%;
}

.site-nav--open {
    clip-path: circle(250% at top right);
    /*   display: block; */
    width: 100%;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: 1px solid #575766;
}

.site-nav a {
    color: gray !important;
    display: block;
    padding: 0.1em 4em 0.1em 1.5em;/*2em 4em 2em 1.5em;*/
    text-transform: uppercase;
    text-decoration: none;
    /*color: #ffffff !important;*/
}

.site-nav a:hover,
.site-nav a:focus {
    background: #f37122;
    color: #000000 !important;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}

.menu-toggle {
    /*padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;*/

    padding: 1em;
    position: absolute;
    top: .5em;
    left: .5em;
    cursor: pointer;
    background: transparent;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #f37121;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.index-mobile header{
    border-bottom: 4px solid #f37121;
    box-shadow: 1px 1px 10px 1px grey;
    padding: 10px;
    background: #ffffff;
    margin: 0px;
    opacity: 1;
}
.modal-dialog {
    transform: translate(0, 0) !important;
}
.index-mobile .logo {
    /*margin-left: 15%;
    float: none !important;
    width: 100px !important;*/
    width: 100px !important;
    position: absolute;
    left: 20%;
    top: 15px;
    z-index: 9999999;
}
.index-mobile .square-logo{
    position: absolute;
    right: 30%;
    top: 15px;
    width: 25px;
}
.index-mobile .login-user{
    position: absolute;
    /*right: 18%;*/
    right: 0%;
    top: 15px;
    width: 25px;

}
.header-user {
    position: absolute;
    /*top: -28px;*/
    right: 15px;
    font-size: 20px;
    color: #f37121;
}
.index-mobile .twitter-logo{
    position: absolute;
    right: 0%;
    top: 0px;
    width: 80px;
}
.index-mobile .banner_caption h1 {
    margin-left: 0px;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 5px;
}
.index-mobile .video_btn {
    position: absolute;
    right: 0px;
}
.index-mobile .banner_content {
    position: absolute;
    bottom: 20px;
    right: 7px;
    width: 92%;
    margin: 0 auto;
    display: block;
}
.index-mobile .banner_content .controls {
    display: inline-flex;
    width: 100%;
}
.index-mobile .vid-btn i {
    font-size: 50px;
    padding: 10px 0px;
    color: #ffffff;
}
.index-mobile .stay_updated {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
}
.index-mobile .stay_updated {
    right: 0px;
}
.index-mobile .stay_block li:first-child {
    display: inline-block;
    background: #000;
    color: #fff;
    /* padding: 10px 20px; */
    transform: none;
    margin: 0 -10px;
}
.index-mobile .stay_block li:first-child a {
    text-transform: uppercase;
    color: white;
    border: none;
    transform: none;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 1.5px;
}
.index-mobile .vline {
    display: none;
}
.index-mobile #quarterly h1 {
    color: #fff;
    margin: 20px;
}
.index-mobile #quarterly .left p {
    padding-right: 0px;
    text-align: center;
}
.index-mobile .plant_left {
    padding: 0px;
    padding: 0px 5px;
    text-align: center;
}
.index-mobile button.owl-next {
    position: absolute;
    right: 20px;
    top: auto;
    bottom: -5px;
    margin-right: 0px;
}
.index-mobile button.owl-prev {
    position: absolute;
    left: 20px;
    top: auto;
    bottom: -5px;
    margin-left: 0px;
}
.index-mobile #cover_videos .owl-next, .index-mobile #cover_videos .owl-prev {
    position: absolute;
    margin: 0px;
    bottom: 45px;
    top: auto;
}
.index-mobile #cover_videos .owl-dots, .index-mobile #speak_analyst .owl-dots {
    float: none;
    margin-top: 10px;
    margin-right: 0px;
}
.index-mobile #speak_analyst .owl-next, .index-mobile #speak_analyst .owl-prev {
    position: absolute;
    top: auto;
    bottom: -18px;
    margin: 0px;
    background: #343434 !important;
    color: #f2f2f2 !important;
}
.index-mobile .pull-right.contributor-pic {
    float: none !important;
}


.datepicker .gj-datepicker-bootstrap span[role=right-icon].input-group-addon {
    border: 0px solid #d2d2d2;
    position: relative;
    border-bottom: 2px solid #D2D2D2;
    border-radius: 0 4px 4px 0;
}
.index-mobile #investor .sub_title, .index-mobile #investor .read_more {
    margin-left: 0px;
    text-align: center;
}
.index-mobile #investor .read_more {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 70%;
}
.index-mobile #annual_reports img {
    width: 30%;
    margin: 0 auto;
}
.index-mobile #annual_reports .owl-nav {
    position: absolute;
    top: 200px;
    width: 100%;
}
.index-mobile #annual_reports button.owl-next {
    position: absolute;
    float: right;
}
.index-mobile #annual_reports .owl-dots {
    display: none;
}
.index-mobile #annual_reports {
    text-align: center;
}
.index-mobile .copyright p {
    line-height: 1;
    text-align: center;
}
.index-mobile ul.footer_links {
    list-style: none;
    line-height: 1;
    font-size: 12px;
    text-align: center;
}
.index-mobile ul.footer_links li {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 2;
}
.index-mobile footer .footer_block .container{
    padding-bottom: 30px;
}
.index-mobile .stay_block li:first-child {
    /*width: 42%;*/
    width: 75%;
}
.stay_block li {
    /*width: 15%;*/
    width: 19%;
    float: left;
}
.stay_block li:last-child {
    transform: none !important;
}
.index-mobile .call-audio, .call-transcript {
    display: inline-flex;
    float: left;
    width: 100%;
}
.index-mobile .stay_block {
    background: #005fb3;
    float: right;
}
.index-mobile .stay_block li a {
    transform: skew(0deg);
    font-size: 15px;
}
.index-mobile .stay_block li:first-child a {
    transform: skew(0deg);
    font-size: 14px;
}
#myloginModal .nav-tabs li {
    width: 50%;
    text-align: center;
}
#myloginModal #register-id .form-group:last-child {
    margin-bottom: 40px;
}

#myvideoModal .modal-dialog, .myregisterModal .modal-dialog, .myloginModal .modal-dialog {
    left: 0px;
    width: 60%;
}

#myvideoModal .modal-header .close-modal, #comments_modal .modal-header .close-modal, .myregisterModal .close-modal, .myloginModal .close-modal {
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
#comments_modal .modal-header .close-modal:hover, #myvideoModal .modal-header .close-modal:hover, .myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover{
    color:#000000 !important;
    opacity: 1;
}



.myregisterModal.modal-dialog, .myloginModal.modal-dialog {
    left: 0px;
    width: 95%;
}

.myregisterModal .close-modal, .myloginModal .close-modal {
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover{
    color:#000000 !important;
    opacity: 1;
}


/*------------------ login-register csss--------------------------*/
.myloginModal h4.modal-title {
    color: #f47b30;
    font-weight: 600;
}
.myloginModal .nav-tabs>li a{
    color: #636363;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.myloginModal .nav-tabs>li.active>a, .myloginModal .nav-tabs>li.active>a:hover, .myloginModal .nav-tabs>li.active>a:focus{
    color: #3EC8B9 !important;
    font-weight: 600;
}

.myloginModal .form-control {
    color: #636363;
    background-color: #ffffff;
    border-bottom: 2px solid #f37121;
}
.myloginModal .form-control:focus {
    border-color: #4dccbe;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #3EC8B9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #3EC8B9;
}
.myloginModal .text-info {
    color: #636363;
}
.myloginModal input.btn.btn-info.btn-md.text-info, .myloginModal input.btn.btn-info.btn-md{
    background: #3EC8B9 !important;
    color: #e6e6e6 !important;
    font-weight: 600;
    letter-spacing: 1.2px;
    outline: none;
    border: 0px;
}
.myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover {
    color: #000000 !important;
    opacity: 1;
    background: transparent;
}
.myregisterModal .close-modal, .myloginModal .close-modal{
    border: 0px;
}


.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}
.omb_login .omb_socialButtons .omb_btn-linkedin {    background: #007bb6;}

a.btn.btn-md.btn-block.omb_btn-twitter:hover, a.btn.btn-md.btn-block.omb_btn-facebook:hover, a.btn.btn-md.btn-block.omb_btn-google:hover, a.btn.btn-md.btn-block.omb_btn-linkedin:hover {
    color: #333333;
}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
.omb_socialButtons div {
    width: 25%;
}
.omb_socialButtons{
    padding-bottom: 30px;
}

#home .banner iframe {
    width: 100%;
    height: 400px;
    padding-top: 55px;
}

.banner {
    height: auto;
    bottom: -5px;
}
.banner_caption {
    position: absolute;
    bottom: 0px;
    width:100%;
}
.index-mobile .banner_caption h1 {
    font-size: 15px;
    background: #000000;
}

.index-mobile .banner_caption h1 {
    font-size: 34px;
    background: 0;
    margin-left: -5px;
    margin-bottom: -14px;
    color: black;
}

.section_inner {
    padding: 20px 0 30px 0px;
    position: relative;
}
#comments_modal .modal-content {
    margin-top: 0px;
}
#business_model .owl-stage-outer {
    /*min-height: 550px;*/
    /*height: 600px;*/
    /*overflow: scroll;*/
    min-height: 0px;
    height: 480px !important;
    overflow: hidden
}
.whatsapp-toggle-body .panel.panel-default .panel-heading {
    height: 35px;
}
#press .owl-carousel .owl-item img {
    width: 100%;
}
.cover_price, .cover_text .date {
    display: flex;
}

/*-------------------------------------login-register csss- ends-------------------------*/

@media (max-width: 768px) {
    header {
        height: 60px !important;
        /*position: relative !important; */
    }
    .owl-dots{
        display:none;
    }
    .index-mobile #cover_videos .owl-next, .index-mobile #cover_videos .owl-prev {
        bottom: 20px;
    }
    button.read_more, button.toggle-chat {
        margin-top: 20px !important;
    }
    #business_model .owl-stage-outer .col-md-12:nth-child(2) {
        overflow: scroll;
        height: 300px;
        min-height: 300px;
    }
    #cover_videos .owl-nav {
        float: right;
        margin-bottom: 40px;
    }
    .index-mobile #annual_reports img {
        width: 60%;
    }
    .#inv_videos img {
         width: 30%;
     }
    .investor-pdf {
        font-size: 30px !important;
    }
    .site-nav li, .sticky ul li {
        line-height: 2.5 !important;
    }
    .index-mobile .stay_block li:first-child {
        width: 69%;
    }
    .index-mobile .stay_block li:first-child a {
        font-size: 11px;
    }
    .index-mobile .stay_updated {
        right: -15px;
        width:30%;
    }
    .index-mobile .stay_block {
        background: #005fb3;
        float: none;
    }
    #business a {
        text-align: left;
        width: 50%;
        float: left;
        padding: 0px 0px;
    }
    #about .read_more.btn-overflow {
        display: block;
        padding: 5px 25px;
        border-radius: 50px;
        margin: 0 auto;
        font-size: 12px;
    }
}

@media(max-width: 540px) {
    #conference #slider-thumbs {
        /*height: 175px !important;*/
        /*overflow-y: scroll;*/
        /*white-space: nowrap;*/
        max-height: 100px !important;
        overflow-y: auto;
        white-space: nowrap;
    }
    #annual_reports .read_more {
        font-size: 10px;
        padding: 10px 15px 6px;
        margin: 10px 0px;
    }
    .index-mobile .banner_caption h1 {
        font-size: 16px;
        margin-left: -22px;

    }
    .index-mobile .stay_updated {
        right: -15px;
        width:55%;
    }
}

@media(max-width: 414px){
    span.right_buy{
        top:63px !important;
    }
    .index-mobile #cover_videos .owl-next, .index-mobile #cover_videos .owl-prev {
        bottom: -27px !important;
    }
    button#readmoreoption {
        padding: 10px 25px;
        border-radius: 50px;
        margin: 10px 0px;
        font-size: 12px;
    }
}

@media(max-width: 375px){
    span.right_buy {
        top: 46px !important;
    }
    span.annual-year {
        font-size: 15px !important;
    }
    #annual_reports .read_more {
        padding: 10px 8px 6px;
    }
        .my-chatbox {
            width: 55%;
        }
    .index-mobile .banner_caption h1 {
        font-size: 13px;
        margin-left: -32px;

    }
    #business #business_model .owl-stage-outer {
        height: 425px !important;
    }
}

/**{
  border:1px solid red;
}
.noanimated {
    -webkit-animation-duration: none;
            animation-duration: none;
    -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
}
}*/

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
        .index-mobile .stay_updated {
            position: fixed;
            bottom: 0;
            z-index: 999;
            width: 100%;
            right: 0px;
        }
        .stay_block li {
            /* width: 15%; */
            width: 19%;
            float: left;
        }
        .index-mobile .stay_block li:first-child {
            /* width: 42%; */
            width: 75%;
        }
        .stay_block li:last-child {
            transform: none !important;
        }
     }
}