.item-wrapper {
    margin-bottom: 20px;
}

.pos-relative {
    position: relative;
    display: block;
}

#inv_videos img {
    width: 50%;
}

.investor-pdf {
    margin-left: 0px !important;
}

span.investor-pdf {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

span.annual-year {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




@media (max-width: 767px) {
    #quarterly {
        text-align: center;
    }
    
    span.investor-pdf {
        font-size: 30px !important;
    }
    
    .press_block {
        margin-top: 0px; 
    }
    
    #conference #slider-thumbs li.col-sm-12 {
        padding-bottom: 0px;
    }
    
    #conference .thumbnail {
        padding: 5px 0px;
    }
    
    h1.main_title {
        font-size: 18px;
    }
    
    #conference #slider-thumbs {
        height: auto;
    }
    
    .pdLess-btm {
        padding-bottom: 0px;
    }
    
    #press {
        padding-bottom: 50px;
    }
    
    #cover_videos {
        padding: 0px;
    }
    
    span.right_buy {
        top: 42px;
    }


}


@media (min-width: 768px) {
    #quarterly {
        text-align: center;
    }
}

@media (min-width: 992px) {
    #quarterly {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1366px) {
    
}

@media (min-width: 1400px) {
    
}

@media (min-width: 1600px) {
    
}

@media(max-width: 540px){
    #inv_videos img {
        width: 40%;
    }
    span.investor-pdf {
        font-size: 15px !important;
    }
}