* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    background-color: #F2F2F2;
    overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

/** header
------------------**/
header {
    padding: 0px 20px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    display: inline-block;
    width: 100%;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.logo {
    float: left;
    width: 160px;
}

.main_navigation {
    float: right;
}

.main_navigation ul {
    list-style: none;
    margin-bottom: 0px;
}

.main_navigation ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 6;
}

.main_navigation ul li a {
    padding: 8px 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.login_link {
    border: 3px double;
    border-radius: 50px;
}

.orange_logo {
    display: none;
}

.follow_us {
    background: #16CBFA;
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 101%;
    padding: 10px 50px 10px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    z-index: -1;
    transform: skew(25deg);
    opacity: 0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    o-transition: 0.5s ease;
}

.follow_us span {
    display: block;
    transform: skew(-25deg);
}

.follow_us .fa-twitter {
    margin-left: 10px;
}

.sticky {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.sticky ul li {
    line-height: 3.5;
}

.sticky ul li a {
    color: #000;
}

.sticky .login_link {
    color: #fe700a;
}

.sticky ul li:last-child a {
    color: #fe700a;
}

.sticky .orange_logo {
    display: block;
}

.sticky .white_logo {
    display: none;
}

.sticky .follow_us {
    opacity: 1;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    o-transition: 0.5s ease;
}

/** content wrapper
-----------------------**/

.banner {
    /*height: 100vh;
    position: relative;*/
    bottom: 0;
    position: relative;
    left: 0%;
    height: 100vh; /*100%;*/
    width: 100%;
    overflow: hidden;
    /*background: #000;*/
}

.banner-video {
    bottom: 0;
    position: relative;
    left: 0%;
    /*height: 100%;*/
    width: 100%;
    overflow: hidden;
    /*background: #000;*/
}

#home {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*padding: 0px 25px 0 50px;*/
}

.hero_inner {
    text-align: center;
    padding-top: 40px;
    /*padding-top: 25px;*/
}

.hero_inner img {
    max-width: 90%;
}

.banner_caption {
    position: absolute;
    bottom: 70px;
}

.banner_caption h1 {
    /*font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;*/
    font-weight: 900;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    /* font-size: 35px; */
    font-size: 40px;
    margin-left: 40px;
}

.stay_updated {
    position: fixed;
    bottom: 0;
    right: 0px;/*-5px;*//*-10px;*/
    z-index: 999;
}

.stay_block {
    list-style: none;
    margin-bottom: 0px;
}

.stay_block li {
    display: inline-block;
    background: #000;
    color: #fff;
    /*padding: 10px 20px;*/
    /*transform: skew(-25deg);*/
    margin: 0 -3px;
}

.stay_block li a {
    text-transform: uppercase;
    color: white;
    border: none;
    /*transform: skew(25deg);*/
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 1.5px;

}

.stay_block li:last-child a {
    padding-right: 25px;
}

#stay {
    background-color: #FE700A;
}

#whats_app {
    background-color: #09D660;
}

#telegram {
    background-color: #35AFE2;
}

#messenger {
    background-color: #0284FF;
}

#mail {
    background-color: #005FB3;
}

.banner_content {
    position: absolute;
    bottom: 70px;
    right: 30px; /* 0px;*/
    text-align: right;
}

.video_btn {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

span.video_icon {
    display: block;
    font-size: 50px;
    color: #fff;
}

span.v_text {
    font-size: 11px; /*13px;*/
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 700;
}

.video_text a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px double;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.section_inner {
    padding: 30px 0;
    position: relative;
}

h1.main_title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-size: 25px;
}

#quarterly {
    background-color: #343434;
}

#quarterly {
    color: #fff;
}

#quarterly h1 {
    color: #fff;
    margin: 0px;
}

#quarterly .left p {
    padding-right: 20px;
}

.grid_lines {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.line:last-child {
    border-right: none;
}

.line {
    width: 24.8%;
    /*width: 317px;*/
    display: flex;
    border-right: 1px solid #b9b9b9;
    display: inline-block;
    height: 100%;
    opacity: 0.3;
}

.vline {
    padding: 135px 0;
}

.vertical_line {
    display: block;
    width: 5px;
    background-color: #fff;
    height: 165px;
    text-align: center;
    margin: 0 auto;
}

.left {
    margin: 100px 0;
}

.item_inner {
    padding: 10px;
}

a.read_more {
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px double;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 15px;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
}

/** owl dots
--------------------**/
.owl-dot {
    border: 1px solid !important;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 10px;
    outline: none !important;
}

.owl-dot.active {
    background: #fff !important;
}

.owl-dots {
    text-align: center;
}

.owl-next {
    background: #fff !important;
    color: #000 !important;
    padding: 10px !important;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    outline: none !important;
}

.owl-prev {
    background: #fff !important;
    color: #000 !important;
    padding: 10px !important;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    outline: none !important;
}

button.owl-next {
    position: absolute;
    right: 0;
    margin-right: -40px;
    top: 45%;
}

button.owl-prev {
    position: absolute;
    left: 0;
    margin-left: -40px;
    top: 45%;
}

#agenda .vertical_line {
    background-color: #343434;
}

.agenda_block {
    border: 1px solid #fe700a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.agenda_block h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0px;
    font-weight: 700;
}

.agenda_block:hover {
    background-color: #fe700a;
    color: #fff;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
}

.agenda_block:hover h3 {
    color: #fff;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
}

#plant_visit {
    background: #343434;
    color: #fff;
}

#plant_visit .main_title {
    color: #fff;
    text-align: center;
}

.plant_left {
    padding: 0px;
    padding-left: 35px;
}

#business_model {
    margin-top: 50px;
    margin-bottom: 30px;
}

#business_model .owl-next,
#business_model .owl-prev {
    background: #343434 !important;
    color: #f2f2f2 !important;
}

#business_model .owl-dot.active {
    background: #343434 !important;
}

.table-business {
    border: 1px solid #16cbfa;
    width: 100%;
    text-align: center;
}

.table-business td, th {
    padding: 10px 5px; /*10px;*/
    border: 1px solid #16cbfa;
}

.pie-img img {
    max-width: 50%;
    margin: 0 auto;
}

#business_model .owl-stage-outer {
    margin-bottom: 20px;
    min-height: 550px;
    height: 550px;
    overflow: hidden;
}

#competitors {
    background-color: #D9D9D9;
}

#competitors_model {
    margin-top: 50px;
    margin-bottom: 30px;
}

#competitors_model .owl-next,
#competitors_model .owl-prev {
    background: #343434 !important;
    color: #f2f2f2 !important;
}

#competitors_model .owl-dot.active {
    background: #343434 !important;
}

#competitors_model .owl-stage-outer {
    margin-bottom: 20px;
}

#competitors .vertical_line {
    background-color: #343434;
}

#competitors .pie-img img {
    max-width: 100%; /*80%;*/
}

#investor {
    background: #343434;
    color: #fff;
}

#investor .main_title {
    color: #fff;
    text-align: center;
}

.sub_title {
    text-transform: uppercase;
    font-size: 18px; /*25px;*/
    font-weight: 700;
}

.investor_left .read_more {
    margin: 0px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

#annual_reports {
    background-color: #D9D9D9;
}

#annual_reports .vertical_line {
    background-color: #343434;
}

#annual_reports .read_more {
    font-size: 11px;
    padding: 10px 20px;
}

.pdf_blocks .col-md-4 {
    margin-bottom: 25px;
}

.pdf_blocks {
    padding: 35px 0;
}

#key_takeaways .left {
    padding-right: 35px;
    z-index: 99;
}

.nav-pills h3 {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 15px; /*20px*/
    font-weight: 600;
}

#key_takeaways .nav-pills > li > a {
    border-radius: 4px;
    border: 1px solid #fe700a;
    color: #000;
    margin-bottom: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff !important;
    background-color: #fe700a;
}

#key_takeaways .vertical_line {
    background-color: #343434;
}

#key_takeaways .vline {
    padding: 185px 0;
}

#financial {
    background-color: #D9D9D9;
}

#financial .vertical_line {
    background-color: #343434;
    margin: auto 30px;
}

#financial .left {
    margin-left: -35px;
}

#financial .right {
    margin: 135px 0;
    margin-left: -32px;
}

#financial .read_more {
    font-size: 12px;
}

#coverage {
    background: #343434;
    color: #fff;
}

#coverage .main_title {
    color: #fff;
    text-align: center;
}

#cover_videos {
    padding: 50px 0;
}

.cover_block {
    text-align: left;
}

span.c_icon {
    display: inline-block;
    width: 35%;
    margin-left: 15px;
    position: relative;
    z-index: 1;
}

.cover_text {
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    padding-top: 30px;
    margin-top: -30px;
    position: relative;
}

span.right_buy {
    display: inline-block;
    float: right;
    background: #F34500;
    position: absolute;
    right: 0;
    top: 15px; /*35px;*/
    z-index: -1;
    min-width: 100px;
    text-align: right;
    padding: 8px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #fff;
}

.bcover_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

a.left_btn {
    background: #3EC8B9;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
    width: 48%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: -3px;
    cursor: pointer;
}
#speak_slide_companypage a.right_btn {
    background: #FE700A;
    padding: 15px 10px 0px;
}

a.right_btn {
    background: #FE700A;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
    width: 48%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: -3px;
    cursor: pointer;
}
section#coverage a.right_btn {
    width: 100%;
}

.cover_text h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.cover_price {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: gray;
    letter-spacing: 1px;
    font-size: 12px;
}

#cover_videos .owl-next,
#cover_videos .owl-prev {
    position: relative;
    margin: 20px 10px;
}

#cover_videos .owl-dots {
    float: right;
    margin-top: 27px;
    margin-right: 30px;
    display: none;
}

#cover_videos .owl-nav {
    /*float: right;*/
    text-align: center;
}

#press {
    padding-bottom: 200px;
}

.press_block {
    /*border: 1px solid #c1c1c1;*/
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px gainsboro;
    text-align: left;
    margin-top: 40px;
}

.press_block .img_text h4 {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    position: absolute;
    bottom: 35px;
    padding: 0 10px;
}

a.p_read {
    display: block;
    background: #fff;
    padding: 10px;
    text-transform: uppercase;
    color: #313131;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
}

.press_block img {
    border-radius: 10px 10px 0 0;
}

#speak_analyst {
    background-color: #D9D9D9;
}

.rating {
    list-style: none;
}

.rating li {
    display: inline-block;
    font-size: 10px;
}

#speak_analyst .right_buy {
    padding: 5px 7px 0 25px;
}

#speak_analyst .owl-next,
#speak_analyst .owl-prev {
    position: relative;
    margin: 20px 10px;
    background: #343434 !important;
    color: #f2f2f2 !important;
}

#speak_analyst .owl-dots {
    float: right;
    margin-top: 27px;
    margin-right: 30px;
}

#speak_analyst .owl-nav {
    float: right;
}

#speak_analyst .owl-dot.active {
    background: #343434 !important;
}

#speak_slide {
    margin-top: 30px;
}

#set_meeting .read_more {
    font-size: 12px;
    padding: 10px 20px;
}

#set_meeting .vertical_line {
    background-color: #343434;
    margin: auto 30px;
}

#set_meeting .left {
    margin-left: -35px;
}

#set_meeting .right {
    margin: 100px 0;
    margin-left: -32px;
}

#conference {
    background: #d9d9d9;
    height: 50vh;
}

#conference h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
}

.footer_block {
    background-color: #343434;
    padding: 10px;
}

.copyright p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 5.5;
    font-size: 12px;
}

.footer {
    position: static;
}

ul.footer_links {
    list-style: none;
    line-height: 5.1;
    font-size: 12px;
}

ul.footer_links li {
    display: inline-block;
}

ul.footer_links li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    margin: 10px;
    font-weight: 700;
}

.stay_fix {
    bottom: 100px;
}

/* ------------------------------  css added for changes-----------------------------*/
/*.side_menu, .side_menu1, .menu-toggler-bm {*/
    /*width: 900px;*/
    /*/!*background: #0075d2;*!/*/
    /*background: #F2F2F2;*/
    /*height: 100%;*/
    /*transform: translateX(900px);*/
    /*-webkit-transform: translateX(900px);*/
    /*-moz-transform: translateX(900px);*/
    /*/!*transition: 0.5s ease-in-out;*/
    /*-webkit-transition: 0.5s ease-in-out;*/
    /*-moz-transition: 0.5s ease-in-out;*!/*/
    /*position: fixed;*/
    /*right: 0;*/
    /*z-index: 999; /!*9999;*!/*/
    /*padding: 80px 30px 0px;*/
    /*top: 0;*/
    /*overflow-x: auto;*/
    /*-webkit-transition: all .4s ease-in-out;*/
    /*transition: all .4s ease-in-out;*/
/*}*/

/*.menu_active {*/
    /*transform: translateX(0px);*/
    /*-webkit-transform: translateX(0px);*/
    /*-moz-transform: translateX(0px);*/
/*}*/

/*.menu_active .hamburger {*/
    /*transform: translateX(0px);*/
    /*-webkit-transform: translateX(0px);*/
    /*-moz-transform: translateX(0px);*/

/*}*/

/*.burger_active {*/
    /*transform: translateX(-900px);*/
    /*-webkit-transform: translateX(-900px);*/
    /*-moz-transform: translateX(-900px);*/
    /*transition: 0.5s ease-in-out;*/
    /*-webkit-transition: 0.5s ease-in-out;*/
    /*-moz-transition: 0.5s ease-in-out;*/
/*}*/


#side_menu, #side_menu2 {
    width: 900px;
    /*background: #0075d2;*/
    background:#F2F2F2;
    height: 100%;
    transform: translateX(900px);
    -webkit-transform: translateX(900px);
    -moz-transform: translateX(900px);
    /*transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;*/
    position: fixed;
    right: 0;
    z-index: 999;/*9999;*/
    padding: 80px 30px 0px;
    top: 0;
    overflow-x: auto;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#side_menu.menu_active, #side_menu2.menu_active{
    transform:translateX(0px);
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);
}

#side_menu.menu_active .hamburger, #side_menu2.menu_active .hamburger{
    transform:translateX(0px);
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);

}
#burger.burger_active, #burger2.burger_active{
    transform: translateX(-900px);
    -webkit-transform: translateX(-900px);
    -moz-transform: translateX(-900px);
    transition:0.5s ease-in-out;
    -webkit-transition:0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
}

#side_menu1 {
    width: 350px;
    /*background: #0075d2;*/
    background:#F2F2F2;
    height: 100%;
    transform: translateX(350px);
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    /*transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;*/
    position: fixed;
    right: 0;
    z-index: 999;/*9999;*/
    padding: 80px 30px 0px;
    top: 0;
    overflow-x: auto;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#side_menu1.menu_active{
    transform:translateX(0px);
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);
}

#side_menu1.menu_active .hamburger{
    transform:translateX(0px);
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);

}
#burger1.burger_active{
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    transition:0.5s ease-in-out;
    -webkit-transition:0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
}

.burger {
    width: 40px;
    height: auto;
    position: absolute;
    /*top: 7%;*/
    top: 33%;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    right: 0%;
    z-index: 999; /*9999;*/
    background: #fff;
}

.side_menu button.close {
    position: absolute;
    top: 8%;
    font-size: 40px;
    right: 0;
    color: #f37121;
    opacity: .9;
    outline: none;
}

.burger__item {
    display: block;
    width: 40px;
    height: 4px;
    background: #0075d2;
    position: absolute;
    left: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    /*border-radius: 50px;*/
}

.scroll-on-outsourcing .burger__item {
    background: #fff
}

.section_bcs {
    padding: 50px 0;
}

.side_menu h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f2f2f2;
    background-image: none;
    border-bottom: 2px solid #ccc;
    border-top: 0px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: none;
}

input {
    /*  -webkit-appearance: textfield; */
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #333333 !important;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}

.side_menu p.top-text, .side_menu form {
    margin: 30px 0px;
}

/*sidebar navigation starts here--*/
nav#mainNav {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    padding: 12% 10px 0px 10px; /*8% 10px 0px 10px;/*10% 10px;*/
    top: 0;
    overflow-x: auto;
}

#mainNav li {
    list-style-type: none;
    margin-bottom: 0px; /*1px;/*5px;*/
    line-height: 1.3;
}

.section_inner {
    padding: 80px 0;
    position: relative;
}

.hover-text {
    display: none;
    text-decoration: none;
    color: #000000; /*#f37121;/*#*/
    font-weight: 900;
    line-height: 20px;
}

#mainNav .onload-text {
    text-decoration: line-through;
    color: #000000; /*#f37121;/*#*/
    font-size: 15px; /*20px;*/
    line-height: 0px;
}

#mainNav li a:hover .hover-text {
    display: block;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    text-decoration: none;
    font-size: 14px;
}

#mainNav li a:hover .onload-text {
    display: none;
    text-decoration: none;
}

#mainNav a:hover, #mainNav a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.perks {
    letter-spacing: 2.2px;
    font-size: 12px;
    font-weight: 900;
}

.submit {
    width: 100%;
    padding: 0px;
    border: 0px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.submit:hover {
    -webkit-box-shadow: 1px 1px 1px 1px #d3d3d3;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    border: 0px !important;
    background: transparent;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99999;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    /*background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);*/
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

.spinners {
    text-align: center;
    margin-top: 30px;
}

#preloader em {
    display: inline-block;
    vertical-align: top;
    margin: 0 2px 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e74c3c;
    animation: 1.2s ease-in-out normal none infinite preload_animate;
    -webkit-animation: 1.2s ease-in-out normal none infinite preload_animate;
}

#preloader em:nth-child(1) {
    animation-delay: 0s;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    background-color: #f37121;
}

#preloader em:nth-child(2) {
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    background-color: #4c4d4f;
}

#preloader em:nth-child(3) {
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    background-color: #f37121;
}

#preloader em:nth-child(4) {
    animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    background-color: #4c4d4f;
}

#preloader em:nth-child(5) {
    animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes preload_animate {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes preload_animate {
    0% {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1440px) {
    nav#mainNav {
        width: 130px; /*300px;*/
        height: 100%;
        position: fixed;
        left: 0;
        z-index: 999;
        padding: 12% 10px 0px 10px;
    }

    .hover-text {
        line-height: 15px; /*25px;*/
    }
}

#mainNav i.fa.fa-arrow-circle-up, #mainNav i.fa.fa-arrow-circle-down {
    font-size: 20px;
    padding-left: 4px; /*8px;*/
    color: #000000; /*#fe700a;*/
}

#competitors .owl-item .item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#competitors button.owl-next {
    position: absolute;
    right: 0;
    margin-right: -20px;
    top: 45%;
}

#competitors button.owl-prev {
    position: absolute;
    right: 0;
    margin-left: -20px;
    top: 45%;
}

/*---------------------------css starts for readmore button------------------------------------------*/
.text-overflow, .text-overflow1, .text-overflow2, .text-overflow3, .text-overflow4 {
    width: 100%;
    height: 120px;
    display: block;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
}

.btn-overflow, .btn-overflow1, .btn-overflow2, .btn-overflow3, .btn-overflow4, .button-overflow {
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px double;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 15px;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background: transparent;
    margin: 0 auto;
    outline: none;
}

a.btn-overflow.less:hover {
    text-decoration: none;
}

/*---------------------------css ends for readmore button------------------------------------------*/

#coverage .side_menu .main_title, #coverage .side_menu p, #coverage .side_menu h5 {
    color: #000000;
    text-align: left;
}

.contribute-btn {
    border: 3px double;
    border-radius: 50px;
    color: #f37121;
    padding: 5px 30px 5px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: right;
    margin: 10px 15px 0px 0px;
}

.btn-default {
    /* color: #333; */
    background-color: transparent;
}

.contribute-btn i.fas.fa-arrow-circle-right {
    float: right;
    position: absolute;
    /*right: -16px; */
    font-size: 20px;
}

a.contribute-btn:hover {
    color: #ef4923;
    text-decoration: none;
    box-shadow: none;
}

a.contribute-btn:focus {
    outline: 0px;
    outline-offset: 0px;
    color: #ef4923;
    text-decoration: none;
    box-shadow: none;
}

button.close1 {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-header .close1 {
    margin-top: -2px;
}

.close1 {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal.fade .modal-dialog {
    transform: translate(0, -100%);
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.owl-carousel .owl-item img, .owl-carousel .owl-item img:focus {
    outline: none;
}

i.fas.fa-arrows-alt {
    transform: rotate(45deg);
}

.banner_content .controls {
    display: inline-flex;
}

.banner_caption.aos-init.aos-animate {
    padding: 20px 50px;
}

.agenda_block a:hover {
    text-decoration: none;
}

.agenda_block a {
    color: #000000;
}

textarea {
    width: 100%;
    resize: vertical;
    border-radius: 20px;
    outline: none;
    padding: 10px;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-height: 1200px) and (max-width: 1900px) {

    .banner {
        height: 88vh;
    }

}

@media (min-height: 800px) and (max-width: 1310px) {

    .banner {
        height: 90vh;
    }

}

@media (min-height: 1024px) and (max-width: 1280px) {

    .banner {
        height: 70vh;
    }

}

@media (max-width: 1024px) {
    .banner_caption h1 {
        font-size: 30px;
    }

    .left {
        margin: 20px 0;
    }

    #set_meeting .right {
        margin: 20px 0;
        margin-left: -32px;
    }

    #competitors_model .item .table-content {
        padding-left: 0px;
        padding-right: 15px;
    }

    .table-business td, th {
        padding: 10px 0px;
    }

    .copyright {
        padding: 10px 0px;
    }

    ul.footer_links li a {
        margin: 0px;
    }

    ul.footer_links {
        margin-top: 12px;
    }
}

/*-------------------- css started with customization by client----------------------------*/

/** sidebar custom css
-------------------------------------**/
.vid-btn {
    /*width: 40px; height: 40px; border-radius: 50%; display: inline-block*/
    width: auto;
    height: fit-content;
    border-radius: 50%;
    display: inline-block;
    border: 0px;
    outline: none;
}

.first {
    display: none;
}

.vid-btn i {
    font-size: 50px;
    padding: 15px 0px;
    color: #ffffff;
}

.buttons.video_icon {
    padding-bottom: 8px;
    outline: none;
}

button#btnFullscreen {
    background: transparent;
    border: 0px;
    display: block;
    outline: none;
    padding-top: 11px;
}

i.fas.fa-arrows-alt {
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 10px;
}

/*___________________index4- css starts here__________________*/
#mainNav .onload-text {
    text-decoration: none;
}

#mainNav .onload-text {
    font-size: 12px; /*8px;*/
}

#mainNav .onload-text:hover {
    font-size: 15px;
}

.sticky ul li:last-child a {
    color: #000000;
}

.agenda_block:hover {
    background-color: #606061;
}

.agenda_block:hover p {
    color: #ffffff;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
}

span.right_buy {
    /* background: #09d660;
   font-size: 12px;
    text-align: center;
        min-width: 115px;
        padding: 10px 35px;*/
    min-width: 115px;
    text-align: center;
    padding: 10px 5px;
    font-size: 12px;
}

/*.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #606061;
}*/
/*a.left_btn, a.right_btn {
    background: #ffffff;
    color: #000000;
        border-top: 1px solid #000000;
    margin: 0px;
    }

span.right_sell {
    background: red;
        display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -1;
    min-width: 115px;
    text-align: center;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #ffffff;
    font-size: 12px;
}
span.right_hold {
    background: yellow;
       display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -1;
        min-width: 115px;
    text-align: center;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #000000;
    font-size: 12px;
}
span.right_accumulate{
    background: yellow;
       display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -1;
        min-width: 115px;
    text-align: center;
    padding: 10px 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #000000;
    font-size: 12px;
}*/
nav#mainNav, nav.main-menu ul {
    padding: 15% 10px 0px 10px;
}

.cover_text h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
}

.burger {
    background: none;
    right: -2px;
}

/*------------index5- css starts here 10-08-2018---------------*/
body section {
    background: #ffffff !important;
}

body {
    font-family: Montserrat;
}

body section:nth-child(odd), body section:nth-child(odd) .main_title {
    background: #d2d2d2 !important;
    color: #000000 !important;
}

section#coverage .cover_text {
    background: #d2d2d2;
    color: #000000;
}

/*section:nth-child(odd)#coverage .cover_text, section:nth-child(odd)#coverage a.left_btn, section:nth-child(odd)#coverage a.right_btn, section:nth-child(odd)#speak_analyst .cover_text, section:nth-child(odd)#speak_analyst a.left_btn, section:nth-child(odd)#speak_analyst a.right_btn{
    background: #ffffff;
}
.cover_text, a.left_btn, a.right_btn {
    background: #d2d2d2;
}
#coverage .owl-dot.active, .owl-dot.active, .vertical_line {
    background: #343434 !important;
}
#coverage .owl-next, #coverage .owl-prev, .owl-prev, .owl-next {
    position: relative;
    margin: 20px 10px;
    background: #343434 !important;
    color: #f2f2f2 !important;
}
#coverage .owl-dot, .owl-dot{
    border: 1px solid #000000 !important;
}*/
#coverage .main_title, body, #quarterly h1, #quarterly .left p, #plant_visit .main_title, #plant_visit, #investor .main_title, #investor, .investor_left .read_more {
    color: #333333 !important;
}

#chat {
    width: 100%;
    height: 520px;
    padding: 0px; /*5px;*/
    /*display: none;*/
    display: block !important;
    /*margin-top: 60px;
    border: 1px solid #333333;
    border-radius: 20px;*/
}

.toggle-chat {
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px double;
    padding: 10px 40px;
    border-radius: 50px;
    /*margin: 15px;*/
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background: transparent;
    /*margin: 0 auto;*/
    outline: none;
}

.Hide {
    display: none;
}

@media (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 16.66666667% !important;
    }
}

/*------------------------- css starts for comments------------------------*/
.mytext {
    border: 0;
    padding: 10px;
    background: whitesmoke;
}

.text {
    width: 97%;
    display: flex;
    flex-direction: column;
}

.text > p:first-of-type {
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    line-height: 13px;
    font-size: 12px;
}

.text > p:last-of-type {
    width: 100%;
    text-align: right;
    color: silver;
    margin-bottom: -7px;
    margin-top: auto;
}

.text-l {
    float: left;
    padding-right: 10px;
}

.text-r {
    float: right;
    padding-left: 10px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%; /*25%;*/
    float: left;
    padding-right: 10px;
}

.macro {
    /*margin-top:5px;*/
    width: 85%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    height: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #333333;
}

.msj-rta {
    float: right;
    background: whitesmoke;
}

.msj {
    float: left;
    background: white;
}

.frame {
    background: #d2d2d2; /*#e0e0de;*/
    height: 430px; /*298px;*/
    overflow: hidden;
    padding: 0;
    /*border-radius: 20px;*/
}

.frame > div:last-of-type {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

body > div > div > div:nth-child(2) > span {
    background: whitesmoke;
    padding: 10px;
    font-size: 21px;
    border-radius: 50%;
}

body > div > div > div.msj-rta.macro {
    margin: auto;
    margin-left: 1%;
}

.frame ul {
    width: 100%;
    list-style-type: none;
    padding: 18px;
    position: absolute;
    bottom: 47px;
    display: flex;
    flex-direction: column;
    top: 0;
    overflow-y: scroll;
}

.msj:before {
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: -14px;
    position: relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;
}

.msj-rta:after {
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: 14px;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d4d4d4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #d4d4d4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4;
}

.my-chatbox {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

/*---------------------------*/
/*#chat .stay_block {
    list-style: none;
    margin-bottom: 0px;
}
nav.main_navigation {
    display: none;
}
#chat .stay_block li {
    display: inline-block;
    background: #000;
    color: #fff;
    transform: skew(-25deg);
    margin: 0 -3px;
}*/
/*------------------------ *  STYLE for scroller----------------------------- */

#chat ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#chat ul::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#chat ul::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.chat-forward {
    font-size: 34px;
    color: #333333;
}

/*------------------------- css ends for comments------------------------*/

/*------------------------- css on 14-08-2018----------------------------*/
#mainNav li {
    line-height: 1.4;
}

#speak_analyst .right_buy {
    padding: 8px 7px 0 25px;
}

#set_meeting .read_more:hover {
    background: #fe700a;
    border-color: #ffffff;
    color: #ffffff;
}

section:nth-child(odd) .owl-carousel .owl-nav button.owl-next, section:nth-child(odd) .owl-carousel .owl-nav button.owl-prev {
    background: #343434 !important;
    color: #f2f2f2 !important;
}

section:nth-child(odd) .owl-carousel button.owl-dot.active {
    background: #343434 !important;
    color: #343434 !important;
}

section:nth-child(odd) .owl-carousel button.owl-dot {
    color: #343434 !important;
}

section:nth-child(odd) .vertical_line {
    background-color: #343434;
}

.owl-next, .owl-prev {
    background: #343434 !important;
    color: #f2f2f2 !important;
}

.owl-dot {
    background: #ffffff !important;
    color: #343434 !important;
}

.owl-dot.active {
    background: #343434 !important;
}

.post-comments {
    background: gray !important; /*#d2d2d2 !important;*/
    padding: 35px 44px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    border: 1px solid #333333;
}

.post-comments a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.close1 {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

#comments_modal .modal-title {
    text-align: center;
}

#comments_modal .modal-content {
    background: #d2d2d2;
}

#comments_modal.modal {
    z-index: 999999 !important;
}

#comments_modal .modal-footer {
    padding: 0px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}

#set_meeting .read_more {
    border-color: #fe700a;
    padding: 10px 15px;
    margin: 0px;
}

body .modal-open {
    overflow: hidden;
    position: fixed;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

#set_meeting .left, #set_meeting .right {
    margin: 20px 0px;
}

#investor .sub_title, #investor .read_more {
    margin-left: 50px;
}

.investor-right img {
    padding-top: 30px;
}

/*#mainNav li a.active .onload-text {
    font-weight: 900;
    font-size: 14px !important;
}*/
.cover_price, .cover_text .date {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: 1px;
    font-size: 9px;
}

#business_model {
    margin-top: 30px;
}

#comments_modal .modal-header .close1 {
    margin-top: -2px;
    font-size: 30px;
}

#comments_modal .modal-header .close1:hover {
    color: #000000 !important;
    opacity: 1;
}

.contributor-pic {
    display: inline-flex;
}

.contributor-pic .thumbnail {
    font-size: 50px;
    background: transparent;
    outline: none;
    border: 0px;
}

#conference {
    height: auto;
}

.call-audio, .call-transcript {
    display: inline-flex;
}

.call-audio h3, .call-transcript h3 {
    margin: 0px;
    padding: 12px;
    color: #000000;
}

.call-transcript i.fas.fa-file {
    font-size: 30px;
    padding: 10px;
    color: #fe700a;
}

.call-highlights p {
    color: #000000;
}

.call-highlights h3 {
    text-align: left;
    color: #000000;
    padding: 0px 10px;
    margin: 10px 0px;
}

li.loading div a.ns-img {
    display: block !important;
}

#ninja-slider, #ninja-slider .slider-inner, #ninja-slider ul, #ninja-slider li, #thumbnail-slider {
    height: 600px !important;
}

/*#thumbnail-slider ul li {
    border: #FE700A 1px solid;
    filter: initial;
        border-radius: 4px;
}*/
#slider-thumbs .thumbnail {
    border: #FE700A 1px solid;
    filter: initial;
    border-radius: 4px;
}

#slider-thumbs .thumbnail span {
    margin: 0px 0px 20px 0px;
}

#conference .burger {
    top: 35%;
}

.contributor-pic .checked {
    color: orange;
}

.contributor-pic span {
    padding: 20px 0px;
}
.contributor-pic span.fa {
    padding: 14px 0px;
    color: #cccccc !important;
}

.contributor-pic p {
    padding: 10px 0px;
}

.contributor-pic p {
    margin: 0px 5px;
    text-align: left;
}

#conference h3 {
    font-size: 18px;
}

#conference #thumbnail-slider h3 {
    font-size: 14px;
}

.text-left {
    text-align: left;
}

#business_model {
    margin-top: 0px;
}

li.loading:focus, #ninja-slider:focus, #ninja-slider .slider-inner:focus {
    outline: none;
}

/*span.right_buy {
    top: 42px;
    }*/

#conference .hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

#conference .thumbnail {
    padding: 0;
    padding: 20px 0px;
}

#conference .thumbnail h3 {
    margin: 15px 0px;
}

#conference .thumbnail h3, #conference .thumbnail span {
    color: #000000;
    text-decoration: none;
}

#conference .thumbnail:hover {
    color: #ffffff !important;
    background: #fe700a;
    text-decoration: none;
    color: #ffffff;
}

#conference .thumbnail:hover h3, #conference .thumbnail:hover span {
    color: #ffffff;
    text-decoration: none;
}

#conference .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

#conference #slider-thumbs {
    height: 500px; /*565px;*/
    overflow-y: scroll;
    white-space: nowrap;
}

#conference .carousel-control.right, #conference .carousel-control.left {
    background: none;
}

/*
 *  STYLE 2
 */

#conference #slider-thumbs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#conference #slider-thumbs::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#conference #slider-thumbs::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #333333;
}

#conference #slider-thumbs li.col-sm-12 {
    margin-left: 10px;
    padding-bottom: 10px;
}

#set_meeting .read_more:hover, #set_meeting .read_more:focus {
    outline: none;
}

/*.carousel-inner>.item {
    position: relative;
    display: none;
     -webkit-transition: .6s ease-in-out left; 
     transition: .6s ease-in-out left; 
}
@media not all, (-webkit-transform-3d){
.carousel-inner>.item.next.left, .carousel-inner>.item.active {
    -webkit-transform: none;
    transform: none; 
    right: 0; 
}
.carousel-inner>.item.prev.right{
    -webkit-transform: none;
    transform: none; 
    left: 0; 
}
}*/

@media not all, (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out !important;
        -o-transition: -o-transform 0.6s ease-in-out !important;
        transition: transform 0.6s ease-in-out !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        margin: 0px;
    }
}

#conference .thumbnail.active {
    color: #ffffff !important;
    background: #fe700a;
    text-decoration: none;
}

#conference .thumbnail.active h3 {
    color: #ffffff !important;
}

img.updown {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    /* margin-left: -25px;*/
}

}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

/*--------------------- sidebar css starts here-------------------*/

.main-menu .fa-2x {
    font-size: 2em;
}

.main-menu .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
}

/*.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}*/
.side-img .main-menu {
    /*background:transparent !important;
    /*border-right:1px solid #e5e5e5;*/
    /*position:absolute;
        top: 0px;
        bottom: 0;
        height: -webkit-fill-available;
    left:0;
    width:60px;
    /*overflow:hidden;*/
    /*-webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;*/

    background: transparent !important;
    position: fixed;
    position: fixed;
    top: 42%;
    bottom: 0;
    height: 120px;
    left: 0;
    width: 60px;
    /* overflow: hidden; */
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.side-img img:hover .main-menu, nav.main-menu.expanded, .main-menu ul {
    width: 250px !important;
    overflow: visible !important;
    background: #212121;
    opacity: .7 !important;
    height: 100vh !important;
}

.side-img:hover .main-menu {
    width: 250px !important;
    overflow: visible !important;
    background: #212121;
    opacity: .7 !important;
    position: absolute !important;
    height: 100vh !important;
    top: 0% !important;

}

.main-menu:hover .side-img {
    display: none;
}

.main-menu ul li:first-child {
    margin-top: 90%;
}

.side-img:hover .updown {
    display: none !important;
}

/*.main-menu>ul {
margin:7px 0;
}*/

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    color: #ffffff;
}

.main-menu > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: transparent;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

.main-menu ul {
    display: none;
    position: absolute;
    height: -webkit-fill-available;
    /*top: 25%;*/
}

.main-menu:hover ul {
    display: block !important;
}

/*.side-img{
    
    position: absolute;
    top: 45%;
        width: 100px;
}*/
.side-img img {
    width: 1px;
    position: fixed;
    top: 45%;
    left: 0;
    width: 100px;
}

.side-img img {
    width: 65px;
}

.main-menu ul li {
    line-height: 1.4;
}

.main-menu ul li a {
    color: #999;
}
div#myloginModal {
    z-index: 9999;
}

/*--------------------- sidebar css ends here-------------------*/

#quarterly .caption {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    left: 20px;
}

div#myCarousel-1 .carousel-control {
    color: #fe700a;
}

div#myCarousel-1 a.left.carousel-control {
    left: -60px;
}

div#myCarousel-1 a.right.carousel-control {
    right: -30px;
}

#annual_reports .read_more {
    font-size: 11px;
    padding: 10px 15px;
}

.press_block .img_text h4 {
    /*font-size: 13px;*/
    /*text-transform: uppercase;*/
    /*color: #fff;*/
    /*letter-spacing: 2px;*/
    /*position: absolute;*/
    /*bottom: 50px;*/
    /*padding: 0 10px;*/

    position: absolute;
    bottom: 37px;
    left: 11px;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    font-weight: 900;
    /*background: #333333;*/
    padding: 10px 10px;
    text-transform: capitalize;
    opacity: 0.9;
    width: 91.5%;
}

/*#mainNav li a:hover .onload-text, #mainNav li a:focus .onload-text, #mainNav li a:active .onload-text, #mainNav li a:visited  .onload-text{
    display: none;
    text-decoration: none;
}
#mainNav li a:hover .hover-text, #mainNav li a:focus .hover-text, #mainNav li a:active .hover-text, 
#mainNav li a:visited .hover-text {
    display: block;
    text-decoration: none;
}*/

.side_menu h1.main_title {
    font-size: 20px;
}

.side_menu button.close1, .side_menu button.close2 {
    position: absolute !important;
    top: 8% !important;
    font-size: 40px !important;
    right: 0 !important;
    color: #f37121 !important;
    opacity: .9 !important;
    outline: none !important;
    border: 0px;
    background: #f2f2f2;
    font-weight: 700;
}

#inv_videos img {
    width: 60%;
    margin: 0 auto;
}
span.published-date {
    text-align: right !important;
    font-weight: 900;
    font-size: 10px;
    float: right;
    padding: 0px;
    color: #f37122;
    padding-top: 2px;
}

@media (max-width: 1440px) {
    nav#mainNav {
        width: 200px;
    }

    #mainNav .onload-text {
        font-size: 12px;
    }

    .hover-text {
        line-height: 12px;
    }

    #chat {
        height: 475px;
    }
    .frame {
        height: 430px;
    }

    #comments_modal .modal-content {
        margin-top: 400px;
    }

    .my-chatbox {
        width: 96%;
    }
    .search-box {
        left: 0%;
    }
    .side_menu button.close {
        top: 10%;
    }
    .side_menu button.close1, .side_menu button.close2 {
        top: 12% !important;
        right: 4px !important;
    }
    .banner {
        height: 65vh;
    }
}

@media(max-width:1366px){
    #comments_modal .modal-content {
        margin-top: 310px;
    }
    #chat {
        height: 400px;
    }
    .frame {
        height: 350px;
    }
    .search-box input::-webkit-input-placeholder {
        font-size: 11px !important;
        padding: 0px;
    }
    .side_menu button.close {
        top: 14%;
        right:4px;
    }
}

@media(max-width:1024px){
    .button-overflow {
        padding: 10px 25px;
    }

    .cover_price, .cover_text .date {
        display: grid;
    }

    span.right_buy {
        top: 5px;
        min-width: 120px;
        padding: 5px 35px;
    }

    span.investor-pdf {
        position: absolute;
        top: 16px;
        left: 33px;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
    }

    span.annual-year {
        position: absolute;
        top: 40px;
        left: 63px;
        color: #ffffff;
        font-size: 18px;
    }
    .side_menu button.close {
        top: 10%;
        right:4px;
    }


}

@media (min-width: 992px) {
    #comments_modal .modal-lg {
        width: 90%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    #comments_modal .modal-dialog {
        right: auto;
        left: 0;
    }

}

#home .banner iframe {
    width: 100%;
    height: 100vh;
}

.star-rating .fa-star {
    color: #961613;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
    border: none;
}

.star-rating .fa-star {
    color: #961613;
}

.booknow_hotel button {
    border-radius: 30px;
    padding: 5px 30px;
    color: #ffffff;
    background: #961613;
}

.row.ratings-booknow {
    margin-top: 10px;
}

#myvideomodel-dialogue .modal-dialog {
    left: 0px;
    width: 60%;
}

#myvideomodel-dialogue .modal-header .close-modal, #comments_modal .modal-header .close-modal {
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

#comments_modal .modal-header .close-modal:hover, #myvideomodel-dialogue .modal-header .close-modal:hover {
    color: #000000 !important;
    opacity: 1;
}

element.style {
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal.fade .modal-dialog {
    transform: translate(0, -100%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#myvideomodel-dialogue {
    left: 0%;

}

header {
    background: #ffffff;
    opacity: .8;
}

header.sticky {
    background: #ffffff !important;
    opacity: 1 !important;
}

.modal.fade .modal-dialog.transform {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, 0%);
}

#comments_modal .modal-header .close-comments {
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.myregisterModal .modal-content {
    padding-bottom: 10px;
}

.myloginModal h4.modal-title {
    color: #f47b30;
    font-weight: 600;
}

.myloginModal .nav-tabs > li a {
    color: #636363;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.myloginModal .nav-tabs > li.active > a, .myloginModal .nav-tabs > li.active > a:hover, .myloginModal .nav-tabs > li.active > a:focus {
    color: #3EC8B9 !important;
    font-weight: 600;
}

.myloginModal .form-control {
    color: #636363;
    background-color: #ffffff;
    border-bottom: 2px solid #f37121;
}

.myloginModal .form-control:focus {
    border-color: #4dccbe;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3EC8B9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3EC8B9;
}

.myloginModal .text-info {
    color: #636363;
}

.myloginModal input.btn.btn-info.btn-md.text-info, .myloginModal input.btn.btn-info.btn-md {
    background: #3EC8B9 !important;
    color: #e6e6e6 !important;
    font-weight: 600;
    letter-spacing: 1.2px;
    outline: none;
    border: 0px;
}

.myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover {
    color: #000000 !important;
    opacity: 1;
    background: transparent;
}

.myregisterModal .close-modal, .myloginModal .close-modal {
    border: 0px;
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white;
/ / In yourUse @body-bg opacity : 0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
    background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}

.omb_login .omb_socialButtons .omb_btn-linkedin {
    background: #007bb6;
}

a.btn.btn-md.btn-block.omb_btn-twitter:hover, a.btn.btn-md.btn-block.omb_btn-facebook:hover, a.btn.btn-md.btn-block.omb_btn-google:hover, a.btn.btn-md.btn-block.omb_btn-linkedin:hover {
    color: #333333;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}

.omb_login .omb_loginForm .help-block {
    color: red;
}

.omb_socialButtons div {
    width: 25%;
}

.omb_socialButtons {
    padding-bottom: 30px;
}

/*-------------------------------------login-register csss- ends-------------------------*/

@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top: 10px;
    }
    #press-slider .owl-nav {
        padding-top: 10px;
    }

}
@media (max-width: 540px) {
    #set_meeting .read_more {
        padding: 10px 9px !important;
    }
    #set_meeting .left, #set_meeting .right{
        padding: 0px;
    }
    .pdf_blocks {
        padding: 5px 0;
    }
    .pdf_blocks .col-md-4 {
        margin-bottom: 15px;
    }

}

.cover_text {
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    padding-top: 30px;
    margin-top: -30px;
    position: relative;
}

span.right_buy {
    display: inline-block;
    float: right;
    background: #F34500;
    position: absolute;
    right: 0;
    top: 15px; /*35px;*/
    z-index: -1;
    min-width: 100px;
    text-align: right;
    padding: 8px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #fff;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

button.close-modal, button.close-comments {

    border-radius: 50px;
    height: 30px;
    width: 30px;
    border: 0;
    opacity: 1;
    outline: none;
    font-size: 25px;
}

header.sticky .main_navigation ul li a {
    color: #000000 !important;
}

.main_navigation ul li a {
    color: #ffffff !important;
}

#header .main_navigation ul li a .caret {
    border-top: 4px solid #ffffff;

}

.post-comments {
    padding: 37px 44px;
}

button#post_comments_company {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
}

.banner_content .controls, .video_text {
    display: none;
}

.cover_text {
    border: 1px solid #3ec8b9;
}

.main_navigation ul.dropdown-menu li a {
    color: #000000 !important;
}

.open > .dropdown-menu {
    display: block;
    min-width: 100px;
}

button.read_more, button.toggle-chat {
    margin-top: 20px;
}

.burger {
    z-index: 99;
}

.stay_fix {
    bottom: 92px;
    right: -5px;
}

li#whats_app a {
    /*padding: 13px 20px 12px;*/
    /*padding: 10px 20px 10px;*/
    padding: 8px 10px 7px;
}
li#mail a {
      /*padding: 13px 20px 12px;*/
      /*padding: 10px 20px 10px;*/
      padding: 9px 10px 7px;
  }
.stay_block i.fab {
    font-size: 16px;
    vertical-align: sub;
}
.stay_block i.fas {
    font-size: 15px;
    vertical-align: sub;
}

.stay_block #stay a {
    padding: 7px 20px 8px;
}

#quarterly h1 {
    padding-bottom: 15px;
}

body.modal-open {
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.cover_text h6 {
    margin: 0px 0px 2px;
}

.cover_text .date {
    padding-top: 10px;
}

.cover_price, .cover_text .date {
    text-transform: capitalize;
    font-size: 10px;
}

.cover_price .c_price, .cover_text .date .c_price {
    font-weight: 900;
    font-size: 11px;
}

#speak_analyst .cover_text {
    min-height: 194px;
}

.upside {
    color: green;
}

.downside {
    color: red;
}

/*--------------------coments-modal css starts here--------------------*/
.comments-user-details {
    display: -webkit-inline-box;
}

.no-padding {
    padding: 0px !important;
}

.comments-user-details .comments-img {
    width: 60px;
}

.comments-user-details .comments-user-info h5, .comments-user-details .comments-user-info h6 {
    margin: 0px 0px 5px 0px;
}

.frame ul {
    padding: 10px 0px;
}

header.sticky nav.main_navigation {
    padding-top: 0px;
}

.comments-outer {
    padding-bottom: 10px !important;
}

.comments-user-details .comments-user-info h5 {
    color: #f37122;
}

.comments-user-details .comments-user-info, .comments-user-details .comments-list {
    padding-top: 5px;
}

.comments-user-details .comments-user-info {
    padding-left: 10px;
}

.comments-datetime {
    color: #f37122 !important;
}

#quarterly .caption {
    padding: 0px 26%;
}

.macro {
    width: 89%;
}

.post-comments {
    padding: 35px 44px;
}

/*.frame {*/
/*height: 430px;*/
/*}*/
.post-comments:active {
    background: #cccccc !important;
    cursor: pointer;
    outline: none;
}

button#post_comments_company:hover {
    color: #000000;
    outline: none;
}

.post-comments {
    padding: 35px 44px;
}

#press .owl-carousel .owl-item img {
    width: 215px;
    height: 112px;
}

#conference a.left.carousel-control, #conference a.right.carousel-control {
    display: none;
}

.call-highlights-block {
    padding: 10px 20px;
    border-bottom: 1px solid #808080;
    border-radius: 50px;
    margin-bottom: 10px;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.call-highlights-block:hover {
    border: 1px solid #fe700a !important;
}

.call-highlights-block .thumbnail {
    font-size: 50px;
    margin: 0px;
    padding: 10px !important;
    border: 0px;
}

#view_call-highlights-block .modal-content, #view_analyst_number_auth .modal-content, #connect_with_management_request .modal-content, #connect_with_invsetor_relation_request .modal-content {
    margin-top: 0px;
}

button.close-comments:hover {
    color: #000000 !important;
    opacity: 1 !important;
    background: #ffffff;
}

#view_analyst_number_auth button.close-modal:hover, .mypdfModal .close-modal:hover {
    color: #000000 !important;
    opacity: 1 !important;
    border-radius: 50px !important;
    background: #d2d2d2 !important;
    font-size: 25px;
}

button.close-modal:hover {
    color: #000000 !important;
    opacity: 1 !important;
    border-radius: 50px !important;
    background: #d2d2d2 !important;
    font-size: 25px;
}

body.modal-open {
    overflow: hidden !important;
}
#side_menu2 .main_title, #side_menu1 .main_title, #side_menu .main_title       {
    background: transparent !important;
}



@media (max-width: 1440px) {
    .frame {
        height: 300px;
    }
    .main_navigation ul li a {
        padding: 8px 5px !important;
        text-transform: uppercase !important;
        letter-spacing: 0.5px!important;
        font-weight: 700 !important;
        text-decoration: none !important;
        font-size: 8px !important;
        color: #f37121 !important;
    }
    .main_navigation ul {
        margin-top: 10px;
    }
    .search-box #adv-search input::-webkit-input-placeholder {
        font-size: 11px !important;
        padding: 0px !important;
    }
}

@media (max-width: 1200px) {
    .search-box #adv-search input::-webkit-input-placeholder {
        font-size: 10px !important;
        padding: 0px !important;
    }
}

@media (max-width: 768px) {
    .call-highlights-block {
        border: 1px solid #808080;
        border-top: 1px solid #808080 !important;
    }
    .frame {
        height: 390px;
    }
    #speak_analyst .cover_text {
        text-align: center;
    }
    #speak_slide_companypage a.right_btn {
        padding: 20px 10px 0px;
    }
    .stay_block #stay a {
        padding: 8px 0px 8px 7px;
    }
    #view_call-highlights-block .modal-footer.star-rating-editable {
        text-align: center !important;
    }

    #view_call-highlights-block .star-rating_pop_up {
        padding-bottom: 5px;
    }

}

@media(max-width: 414px){
    .my-chatbox {
        width: 90% !important;
    }
    .macro {
        width: 100% !important;
    }
    .post-comments {
        width: 10% !important;
    }
    .post-comments {
        background: gray !important;
        padding: 10px 20px 38px 35px !important;

    }
    button#post_comments_company {
        padding: 6px;
        position: absolute;
        right: 10px;
        font-size: 12px !important;
    }

}

@media(max-width: 375px){
    /*#business .col-md-12.aos-init.aos-animate {*/
    /*padding: 0px;*/
    /*}*/
    #business a {
        width: 50%;
        float: left;
        padding: 0px 0px;
    }
    button#readmoreoption, .index-mobile .toggle-chat {
        padding: 4px 8px !important;
        font-size: 9px !important;
        width: 80%;
        margin-top: 0px !important;
    }
    .my-chatbox {
        width: 70% !important;
    }
    button#post_comments_company {
        right: -50px;
    }
    .contributor-pic .thumbnail {
        font-size: 35px;
    }
    .contributor-pic p {
        margin: 0px 5px;
        text-align: left;
        font-size: 10px;
    }
}





