header{
	    background: #333333;
    opacity: .8;
}

header.sticky {
    background: #ffffff !important;
    opacity: 1 !important;
}
.intelligence-pic {
    display: inline-flex;
        text-align: left;
            float: left;
}
.intelligence-pic p.name {
    font-size: 13px;
    font-weight: 900;
    padding-top: 20px;
}
.intelligence-pic span.designation {
    font-size: 10px;
    font-weight: normal;
}

#home .banner iframe {
    width: 100%;
    height: 100vh;
}

.star-rating .fa-star{color: #961613;}
.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}
.star-rating {
  line-height:32px;
  font-size:1.25em;
  border: none;
}

.star-rating .fa-star{color: #961613;}

.booknow_hotel button {
    border-radius: 30px;
    padding: 5px 30px;
    color: #ffffff;
    background: #961613;
}
.row.ratings-booknow {
    margin-top: 10px;
}
#myvideoModal .modal-dialog, .myregisterModal .modal-dialog, .myloginModal .modal-dialog {
     left: 0px; 
         width: 60%;
    }

    #myvideoModal .modal-header .close-modal, #comments_modal .modal-header .close-modal, .myregisterModal .close-modal, .myloginModal .close-modal {
    margin-top: -2px;
    font-size: 30px;
        float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
#comments_modal .modal-header .close-modal:hover, #myvideoModal .modal-header .close-modal:hover, .myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover{
    color:#000000 !important;
        opacity: 1;
}



.myregisterModal.modal-dialog, .myloginModal.modal-dialog {
     left: 0px; 
         width: 35%;
    }

.myregisterModal .close-modal, .myloginModal .close-modal {
    margin-top: -2px;
    font-size: 30px;
        float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover{
    color:#000000 !important;
        opacity: 1;
}
#register-link {
        margin-top: -45px;
    text-align: right;
}
.forgot-password {
    line-height: 3;
}
.myregisterModal .modal-content {
    padding-bottom: 10px;
}
.datepicker .gj-datepicker-bootstrap span[role=right-icon].input-group-addon {
    border: 0px solid #d2d2d2;
    position: relative;
    border-bottom: 2px solid #D2D2D2;
    border-radius: 0 4px 4px 0;
}
#myloginModal .nav-tabs li {
    width: 50%;
    text-align: center;
}
#myloginModal #register-id .form-group:last-child {
    margin-bottom: 40px;
}

#mypdfModal .modal-dialog{
    left: 0px;
    width: 90%;
}
#mypdfModal .close-modal{
    margin-top: -2px;
    font-size: 30px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}

.banner .hero_inner img{
        width: 100% !important;
    max-width: 100%;
}
.hero_inner {
    text-align: center;
    padding-top: 0px;
}
.banner {;
    height: auto; 
}

@media(max-width: 768px){
			.intelligence-pic {
	    display: inline-flex;
	        text-align: left;
	            float: none;
	}
	.intelligence-pic p.name {
	    font-size: 15px;
	    font-weight: 900;
	    padding-top: 20px;
	}
	.intelligence-pic span.designation {
	    font-size: 13px;
	    font-weight: normal;
	}
	.banner {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
}
}


/*------------------ login-register csss--------------------------*/
.myloginModal h4.modal-title {
    color: #f47b30;
    font-weight: 600;
}
.myloginModal .nav-tabs>li a{
        color: #636363;
        font-weight: 600;
            letter-spacing: 1.2px;
}
.myloginModal .nav-tabs>li.active>a, .myloginModal .nav-tabs>li.active>a:hover, .myloginModal .nav-tabs>li.active>a:focus{
        color: #3EC8B9 !important;
            font-weight: 600;
}

.myloginModal .form-control {
    color: #636363;
    background-color: #ffffff;
    border-bottom: 2px solid #f37121;
}
.myloginModal .form-control:focus {
    border-color: #4dccbe;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #3EC8B9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #3EC8B9;
}
.myloginModal .text-info {
    color: #636363;
}
.myloginModal input.btn.btn-info.btn-md.text-info, .myloginModal input.btn.btn-info.btn-md{
    background: #3EC8B9 !important;
    color: #e6e6e6 !important;
    font-weight: 600;
    letter-spacing: 1.2px;
    outline: none;
    border: 0px;
}
.myregisterModal .modal-header .close-modal:hover, .myloginModal .modal-header .close-modal:hover {
    color: #000000 !important;
    opacity: 1;
    background: transparent;
}
.myregisterModal .close-modal, .myloginModal .close-modal{
    border: 0px;
}


.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg 
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}
.omb_login .omb_socialButtons .omb_btn-linkedin {    background: #007bb6;}

a.btn.btn-md.btn-block.omb_btn-twitter:hover, a.btn.btn-md.btn-block.omb_btn-facebook:hover, a.btn.btn-md.btn-block.omb_btn-google:hover, a.btn.btn-md.btn-block.omb_btn-linkedin:hover {
    color: #333333;
}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}           

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
.omb_socialButtons div {
    width: 25%;
}
.omb_socialButtons{
    padding-bottom: 30px;
}

/*-------------------------------------login-register csss- ends-------------------------*/


@media(max-width: 768px){
    .myloginModal.modal-dialog {
        left: 0px;
        width: 95%;
        /* top: 25%; */
    }
}