/*------------- css starts for mobile header-------------------*/



.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #f37121;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    margin: 0 auto;
    display: block;
    min-width: 140px;
    line-height: 1;
    vertical-align: middle;
    padding: 0px;
    border-radius: 20px;
}
header .search-form .form-group {
    min-width: 10px;
}
#companydetail {
    width: 100% !important;
}
#companydetailheader {
    width: 100% !important;
}
.has-feedback {
    position: absolute;
    top: -33px;
    right: 0px;
}
.search-form .form-group span.form-control-feedback {
    top: -2px;
    right: -3px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #f37121;
    left: initial;
    font-size: 14px;
}
.has-feedback label~.form-control-feedback {
    top: 25px;
}
.has-feedback label.sr-only~.form-control-feedback {
    /*top: 0;*/
    top:-3px;
}
.search-form .form-group:hover, .search-form .form-group.hover {
    width: 100%;
    border-radius: 25px;
}
/*.header-user1 {*/
    /*top: -60px !important;*/
    /*right: 10px !important;*/
/*}*/
/*.index-mobile .logo {*/
/*width: 100px !important;*/
/*z-index: 9999999;*/
/*text-align: center;*/
/*margin: 0 auto;*/
/*display: block;*/
/*float: none;*/
/*position: initial;*/
/*}*/
.index-mobile .logo {
    float: none !important;
    width: 100px !important;
    margin: 0 auto !important;
    position: initial;
}
.logo3241 {
    float: none !important;
    width: 100px !important;
    margin: 0 auto !important;
    position: initial;
}

#myloginModal .nav-tabs li {
    width: 50%;
    text-align: center;
}

.error {
    color: red;
}



.abc {
    background-color: #ececec;
    margin-top: 6%;
    border-radius: 5px;
    color: #000;
    text-decoration: none !important;
    position: absolute;
    /* min-height: 200px; */
    overflow-y: auto;
    /* border: 1px solid red; */
    overflow-x: hidden;
    text-align: left;
    z-index: 9;
    /*padding: 2%;*/
    width: 80%;
    max-height: 370px !important;
}

.sresult, .clientresult, .noresultfound, .houseresult , .contributeresult{
    color: #000;
    line-height: 2.8;
}
button.info-tooltip.verification-icon {
    outline: none;
    background: transparent;
    border: 0px;
}
.verification-icon img{
    width: 20px;
}
.icon-padding {
    /*padding: 8px 0px !important;*/
}
.dropdown.open ul.dropdown-menu a:hover {
    color: #40c6b7;
}
.help-block{
    color: red;
}
.abc {
    background-color: #ececec;
    margin-top: 3%;
    border-radius: 5px;
    color: #000;
    text-decoration: none !important;
    position: absolute;
    /* min-height: 200px; */
    overflow-y: auto;
    /* border: 1px solid red; */
    overflow-x: hidden;
    text-align: left;
    z-index: 9;
    /* padding: 2%; */
    width: 80%;
    max-height: 370px !important;
}
#search_result {
    display: block;
    width: 98%;
    position: fixed;
    /* max-height: 85vh !important; */
    left: 1% !important;
    z-index: 99999;
}
#search_result a.sresult , #search_result a.clientresult , #search_result a.houseresult , #search_result a.contributeresult{
    padding-left: 0px;
}
#search_result label {
    border-bottom: 1px solid #40c5b9;
    width: 100%;
    padding-bottom: 10px;
}
#search_result{
    display: block;
    width: 98%;
    position: fixed;
    /*max-height: 85vh !important;*/
    left: 1% !important;
    z-index: 99999;
}

#search_result a.contributeresult {
    display: inline-flex;
}
#search_result a.contributeresult .people-img-outer{
    width: 50px;
}
#search_result img.people-img {
    width: 100%;
}
#search_result .search-rating{
    height: 20px;
}
#search_result .search-contri-details{
    padding: 5px 0px 0px 0px;
}
.search-list-ppl-count-covers {
    background: lightblue !important;
    border-radius: 42px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0px 8px;
    font-weight: 6;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 11px;
    height: 20px;
    line-height: 2;
    margin-top: 8px;
}
.custom-modal.modal-dialog {
    left: 0px;
    width: 35%;
}
#search_result a:hover, #conference_call_search li:hover, #recent_contributor_search_result li:hover, #searchreports a:hover
{
    color: #41c5b8;
}
#search_result .view-all {
    width: 80px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    background: #f37121;
    letter-spacing: 1px;
    border-radius: 71px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px;
}
#search_result span.search-list-ppl-count {
    background: #40c5b9 !important;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 12px;
}
.search-list-ppl-count-covers {
    background: #350093 !important;
    border-radius: 42px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0px 8px;
    font-weight: 6;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 11px;
    height: 20px;
    line-height: 2;
    margin-top: 8px;
}
.search-list-ppl-count-contribution {
    background: #40c5b9 !important;
    border-radius: 42px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0px 8px;
    font-weight: 6;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 11px;
    height: 20px;
    line-height: 2;
    margin-top: 8px;
}
#search_result a.contributeresult-contribute {
    display: block;
    color: #000000;
}
#search_result .houseresult h5 {
    margin-top: 0px;
    font-size: 13px;
    color: gray;
}
#search_result .houseresult{
    line-height: 2;
}
.searchresult-ppl-rating {
    margin: 00px 0px 15px 0px;
    line-height: 0;
    font-size: 13px;
    color: grey;
}
.listedcompanise_view {
    padding-top: 15px;
}
#search_resultheader {
    display: block;
    width: 98%;
    position: fixed;
    /* max-height: 85vh !important; */
    left: 1% !important;
    z-index: 99999;
}
#search_resultheader a.sresult , #search_resultheader a.clientresult , #search_resultheader a.houseresult , #search_resultheader a.contributeresult{
    padding-left: 0px;
    line-height: 1.2;
}
#search_resultheader label {
    border-bottom: 1px solid #40c5b9;
    width: 100%;
    padding-bottom: 10px;
}
#search_resultheader{
    display: block;
    width: 98%;
    position: fixed;
    /*max-height: 85vh !important;*/
    left: 1% !important;
    z-index: 99999;
}

#search_resultheader a.contributeresult {
    display: inline-flex;
}
#search_resultheader a.contributeresult .people-img-outer{
    width: 50px;
}
#search_resultheader img.people-img {
    width: 100%;
}
#search_resultheader .search-rating{
    height: 20px;
}
#search_resultheader .search-contri-details{
    padding: 5px 0px 0px 0px;
}
.search-list-ppl-count-covers {
    background: lightblue !important;
    border-radius: 42px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0px 8px;
    font-weight: 6;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 11px;
    height: 20px;
    line-height: 2;
    margin-top: 8px;
}
.custom-modal.modal-dialog {
    left: 0px;
    width: 35%;
}
#search_resultheader a:hover, #conference_call_search li:hover, #recent_contributor_search_result li:hover, #searchreports a:hover
{
    color: #41c5b8;
}
#search_resultheader .view-all {
    width: 80px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    background: #f37121;
    letter-spacing: 1px;
    border-radius: 71px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px;
}
#search_resultheader span.search-list-ppl-count {
    background: #40c5b9 !important;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 12px;
}

#search_resultheader a.contributeresult-contribute {
    display: block;
    color: #000000;
}
#search_resultheader .houseresult h5 {
    margin-top: 0px;
    font-size: 13px;
    color: gray;
}
#search_resultheader .houseresult{
    line-height: 2;
}

header .search-form .form-group input.form-control {
    height: 30px;
    width: 30px !important;
}

@media(max-width: 768px){
    .open > .dropdown-menu {
        display: block;
        min-width: 100px;
        /*margin-left: -70px !important;*/
        /*margin-top: -55px !important;*/
        /*margin-left: -98px !important;*/
        /*margin-top: -43px !important;*/
    }
    .main_navigation ul, .main_navigation ul li {
        top: 0px;
    }
    .main_navigation ul.dropdown-menu.userprofile_down {
        width: 30px;
        height: 60px;
    }

    .site-nav {
        position: absolute;
        top: 100%;
        right: 0%;
        background: #ffffff;
        clip-path: none;
        transition: top ease-in-out 1500ms;
        /* display: none; */
        width: 0%;
    }

    .site-nav--open {
        clip-path: none;
        /* display: block; */
        width: 100%;
    }
    .abc {
        max-height: 90vh !important;
    }
    .sticky ul li a, .sticky ul li:last-child a {
        color: gray !important;
    }
    .main_navigation ul, .main_navigation ul li {
        width: 30px;
        height: 30px;
    }
    .custom-modal.modal-dialog {
        left: 0px;
        width: 100%;
    }
    .search-form {
        width: 88%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    .header-user1 {
         border: 0px solid #f37122;
    }
}

@media(max-width: 540px){
    .main_navigation ul, .main_navigation ul li {
        width: 30px !important;
        height: 30px !important;
    }

    .open > .dropdown-menu {
        margin-left: -98px !important;
        margin-top: -7px !important;
    }
    .main_navigation ul.dropdown-menu.userprofile_down {
        height: 60px !important;
    }
    .search-form {
        width: 80%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
}

@media(max-width: 350px){
    .header-user1 {
        top: -62px !important;
        right: -3px !important;
        left: -3px;
    }
    header .search-form .form-group {
        margin-right: 0px !important;
    }
    .open > .dropdown-menu {
        margin-left: -98px !important;
        margin-top: -39px !important;
    }
}

/*------------- css ends for mobile header-------------------*/

