body{
    background: #e8e8e8;
}
.social-page-tabs #exTab1 {
        padding: 83px 0px 0px;
            margin-bottom: 50px;
}
.social-page-tabs ul.nav.nav-pills{
    margin: 0 auto;
    width: 100%;
    text-align: center;
        padding: 35px 0px;
    background: #ffffff;
}
.social-page-tabs .nav-pills>li {
        float: initial;
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    background: #eeeff1;
    border-radius: 30px;
    padding: 0px 20px;
    margin-right: 10px;
        font-size: 13px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #40c5b9 !important;
}
.social-page-tabs li.active {
    background: #40c5b9 !important;
}
.social-page-tabs .nav>li>a:hover, .social-page-tabs .nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeff1;
}
.social-page-tabs .nav-pills>li>a {
    border-radius: 5px;
    color: #888888;
    font-weight: 600;
}
/*.social-page-tabs .nav>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    color: red;
}*/
.homepage .social-page-tabs h1.main_title {
    font-size: 24px !important;
    color: #999999 !important;
    font-weight: 900;
    letter-spacing: 1px;
        margin-bottom: 20px;
}
.social-page-tabs .view-all {
    width: 120px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
    background: #f37121;
    letter-spacing: 1px;
    border-radius: 71px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
        margin-top: 15px;
}
.social-page-tabs .social-title{
  border-bottom: 1px solid #555555;
}
.no-padding{
  padding:0px !important;
}
.social-page-tabs .people-img{
    border-top-color: #f37121;
    border-top-style: solid;
    border-top-width: 10px;
    border-right-color: #40c5b9;
    border-right-style: solid;
    border-right-width: 10px;
    border-bottom-color: #40c5b9;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: #f37121;
    border-left-style: solid;
    border-left-width: 10px;
        border-radius: 20px;
        width:80%;
}
/*.social-page-tabs .people-outer {
    display: inline-flex;
            margin: 20px 0px 5px;
    border-bottom: 1px solid #d2d2d2;
}*/
.social-page-tabs .people-outer {
        display: inline-flex;
    padding: 20px;
    background: #eeeff1;
    border-radius: 10px;
    margin-bottom: 10px;
}
.social-page-tabs .contribution-list .people-outer {
    display: inline-flex;
            margin: 20px 0px 5px;
    border-bottom: 1px solid #d2d2d2;
}
.social-page-tabs .contribution-list .people-outer:last-child {
    border: 0px;
    margin-bottom: 0px;
}
.social-page-tabs .cover_text{
  background: none;
}
.social-page-tabs .cover_text h3{
  margin-top: 10px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
.social-page-tabs .tab-content .tab-pane {
    background: transparent !important;
}
.social-page-tabs .people-details, .social-page-tabs .following-details {
    width: 40%;
}
.social-page-tabs .people-img-outer {
    width: 20%;
    text-align: center;
}
.star-rating .fa-star{color: #40c5b9;}
.star-rating {
    line-height: 32px;
    font-size: 1.25em;
    display: inline-flex;
}
.star-rating {
  line-height:32px;
  font-size:1.25em;
  border: none;
}

.star-rating .fa-star{color: #40c5b9;}


.star-rating span.fa {
    padding-top: 5px;
}
.star-rating p{
      padding: 0px;
    font-size: 10px;
    margin: 0px;
}
.social-page-tabs  .cover_text .date {
    margin-bottom: 5px;
}
.cover_price.rating{
  margin: 0px;
}
.cover_price.rating .c_sub {
    padding-top: 5px;
}
.social-page-tabs span.c_sub {
    color: #777777;
    opacity: 1;
    font-weight: 700;
}
.social-page-tabs .date .c_price {
    color: #000000;
    font-weight: 700;
}
.social-page-tabs i.fa.fa-diamond {
    vertical-align: top;
}
.cover_text {
    background: #fff;
    color: #000;
    padding: 0px 10px;
    border-radius: 3px;
    padding-top: 30px;
    margin-top: -30px;
    position: relative;
}
.people-social-blocks{
        padding-top: 0px;
        padding-bottom: 50px;
}

.btn-search-icon{
        background: transparent !important;
    border-radius: 0px !important;
    padding: 9px 50px 9px 10px;
    margin-left: -50px !important;
    border: 0px !important;
    border-left: 1px solid #d2d2d2 !important;
        width: 75px;
            z-index: 999999 !important;
}
.btn-search-icon span.glyphicon.glyphicon-search {
    color: #777777;
}
.btn-list-dropdown{
    border-top-left-radius: 00px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -42px !important;
    z-index: 999999 !important;
    padding: 9px 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-color: #ef7f3b !important;
    font-size: 13px;
    background: #f37121;
    border-color: transparent;
    margin-top: -2px;
}
.btn-list-types{
        color: #ffffff;
    background: transparent;
    border: 0px;
    width: 120px;
}
button, button:hover, button:active, button:focus {
    outline: none !important;
}
.btn-list-types option{
    background: #777777;
}
body section:nth-child(odd), body section:nth-child(odd) .main_title {
    background: transparent !important;
    color: #000000 !important;
}
.company-title{
    text-transform: uppercase;
    font-weight: 900;
}
.company-details .sub-title span.sector {
    text-transform: uppercase;
    color: #777777;
    font-weight: 900;
}
.company-details .sub-title {
    color: #777777;
    text-transform: capitalize;
}
.tab-container-outer{
       margin: 15px 0px !important;
    background: #ffffff !important;
    padding: 20px 0px 40px !important;
}
body section {
    color: #000000 !important;
        /*background: #d2d2d2 !important;*/
}
.cover_text .sub-title{
        color: #777777;
    opacity: 1;
    font-weight: 700;
    font-size: 100%;
    margin-top: 0px;
}
.social-page-tabs .people-details .cover_text {
    width: 100%;
}
.following-details .cover_text .cover_price li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
        list-style-type: none;
        line-height: 1.6;
}
.following-details .cover_text .cover_price ul{
    padding: 25px 0px;
}
.investment-house .company-details .sub-title {
    color: #777777;
    text-transform: initial;
}
.ppl-on-sc{
        background: #40c5b9 !important;
        border-radius: 30px;
        color: #ffffff;
        text-transform:uppercase;
            padding: 12px 25px;
            font-weight: 600;
                letter-spacing: 1px;
                text-align: center;
}
.social-page-tabs .people-tab-outer .people-img-outer {
    width: 30%;
    text-align: center;
}
.social-page-tabs .people-tab-outer .people-details{
    width: 70%;
}
.social-page-tabs .people-tab-outer .people-img{
    width: 100%;
}
.sticky .search-box .form-control:focus, .sticky .search-box .form-control:hover, .sticky .search-box .form-control, .search-box .form-control, .search-box .form-control:focus, .search-box .form-control:hover{
    box-shadow: none;
    border: 1px solid #d2d2d2;
}

/*------------css for mobile view------------*/
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #ffffff;
  clip-path: none; /*circle(0px at top right)*/
  transition:top ease-in-out 1500ms;/* clip-path ease-in-out 700ms;*/
/*   display: none; */
    width: 0%;
}

.site-nav--open {
  clip-path: none;/*circle(250% at top right)*/
/*   display: block; */
    width: 100%;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  /*border-bottom: none;*/
    border-bottom: 1px solid #575766;
}

.site-nav a {
  color: gray;
  display: block;
  padding: 0.1em 4em 0.1em 1.5em;/*2em 4em 2em 1.5em;*/
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #f37122;
    color: #000000;

}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  /*padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;*/

      padding: 1em;
    position: absolute;
    top: .5em;
    left: .5em;
    cursor: pointer;
    background: transparent;
    /*pointer-events: none;*/
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #f37121;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;*/
  border: 1px solid #f37121;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 25px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -3px;
    right: -3px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #f37121;
  left: initial;
  font-size: 14px;
}
header .search-form .form-group{
    min-width: 0px;
}
header .search-form .form-group {
    min-width: 10px;
    }
.has-feedback{
         position: absolute;
    top: -33px;
    right: 0px;
}
.header-user{
    position: absolute;
    top: -28px;
    right: 15px;
    font-size: 20px;
    color: #f37121;
}
.header-mobile{
  display: none;
}
header .search-form .form-group input.form-control{
  height: 30px;
}
.twitter-login-outer{
      border: 1px solid #d2d2d2;
    border-radius: 10px;
        padding: 50px 20px;
}
.text-justify{
      text-align: justify !important;
}
.tw-title{
  padding: 20px 0px;
}
.tw-sub-title{
      color: #00aced;
      padding-bottom: 10px;
}
.tw-login{
      width: 60%;
    margin: 0 auto;
    text-align: center;
    display: block;
    border-radius: 20px;
    background: #00aced;
    border-color: #00aced;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 900;
}
.tw-login:focus, .tw-login:hover, .btn-info:active:hover {
    outline: none;
}
.twitter-login-outer .form-control {
    background: transparent;
}
input#remember {
    -webkit-appearance: checkbox !important;
}
#register-link {
    margin-top: -35px;
    text-align: right;
}
.cover_price.rating .c_sub, .cover_price.rating .c_price {
    padding-top: 0px;
}
.social-page-dashboard .cover_price{
  margin-bottom: 2px;
}
.following-details .cover_text {
    text-align: center;
    padding-top: 10px;
}
.social-page-dashboard .cover_price, .social-page-dashboard .cover_text .date {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 0px !important;
}
.social-page-dashboard .cover_price {
    /*display: flex;*/
    display: inline-block;
}
.social-page-dashboard .cover_text .date {
    margin-bottom: 5px !important;
}
.following-details{
      background: #ffffff;
    border-radius: 20px;
    border: 2px solid gray;
        padding: 10px 20px;
}
.following-details h4{
      border-bottom: 2px solid gray;
          padding-bottom: 5px;
    font-size: 15px;
    }
.following-details h5{
  text-align: justify;
}
.social-page-tabs .people-outer:nth-child(even) {
    background: #ffffff;
}
.social-page-tabs .people-outer:nth-child(odd) {
    background: #ffffff;
}
.top-searched-companies .company-details{
  display: block;
      padding: 0px;
}
.top-searched-companies .company-details .company-title{
    margin: 5px;
    font-size: 18px;
}
.top-searched-companies .company-details .sub-title {
    margin: 15px 5px 0px;
    font-size: 15px;
}
.top-searched-companies .company-details h6 {
    margin-top: 0px;
}
.top-searched-companies .company-details p.subscribe-whatsapp {
    padding: 10px 0px 0px 6px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px;
}
.top-searched-companies .company-details p.subscribe-whatsapp i.fab.fa-whatsapp {
    color: #3dd366;
    font-size: 20px;
    padding-left: 4px;
}
/*.whats-up-today .highest-contribution .people-outer*/
.top-searched-companies .people-outer, .top-rated-contributors .people-outer{
    margin-right: 15px;
    width: 48%;
  }
.people-social-blocks .people-outer {
    margin-right: 15px;
    /*width: 48%;*/
    height: 210px;
}
.people-social-blocks .readmoretext, .whats-up-today .readmoretext{
    font-size: 12px;
}
.social-page-tabs .popular-destinations, .social-page-tabs .popular-destinations {
    height: 100vh;
}
.social-page-tabs .people-img-outer img.people-img {
    height: 150px !important;
    /*width: 50%;*/
    width: 150px;
}
  #footer{
        position: unset;
    width: 100%;
    bottom: 0;
  }
  .social-page-tabs .popular-destinations .people-outer {
      background: #ffffff;
      min-height: 100px;
      box-shadow: 2px 4px 5px 1px #cccccc;
}
  .highest-contribution .total-count{
      position: absolute;
      top: 0;
      left: 10px;
  }
.highest-contribution .company-logo, .highest-contribution .company-details {
    margin-top: 20px;
}
.highest-contribution .company-details {
    padding-left: 10px;
}

.social-page-tabs .whats-up-today .people-img-outer {
    width: 20%;
}
.social-page-tabs .whats-up-today .people-details {
    width: 20%;
}
.social-page-tabs .whats-up-today .following-details {
    width: 60%;
}
.whats-up-today .whats-up-contr-text{
    padding-top: 10px;
}

/*.social-page-tabs .whats-up-today .following-details {*/
    /*width: 40%;*/
/*}*/
.social-page-tabs .whats-up-today .user-contribution .following-details{
    width:100%;
}
.social-page-tabs .whats-up-today .user-contribution{
    padding: 0px 8px 0px 15px;
    height: 130vh;
}
.social-page-tabs .people-social-blocks .people-img-outer {
    /*width: 30%;*/
    text-align: center;
}
.social-page-tabs .people-social-blocks .people-details{
    width: 20%;
}
.social-page-tabs .people-social-blocks .following-details{
    width: 60%;
}
/*.people-social-blocks .readmoretext p {*/
    /*padding: 20px 0px !important;*/
/*}*/
.people-social-blocks .readmoretext p, .highest-contribution .readmoretext p {
    height: 95px !important;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
}

.people-social-blocks .readmoretext p::-webkit-scrollbar-track, .highest-contribution .readmoretext p::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.people-social-blocks .readmoretext p::-webkit-scrollbar, .highest-contribution .readmoretext p::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}
#exTab1 .tab-content {
    height: unset;
    /*-webkit-fill-available;*/

}

.people-social-blocks .readmoretext p::-webkit-scrollbar-thumb, .highest-contribution .readmoretext p::-webkit-scrollbar-thumb
{
    background-color: #3fc6b8;
    /*border: 2px solid #555555;*/
}
.whats-up-today .company-update{
    height: 100vh;
}
.whats-up-today .highest-contribution .people-outer {
    min-height: 200px;
}
.following-details .cover_text {
    text-align: left;
    padding-top: 45px;
    padding-left: 0px;
    padding-right: 0px;
}
 .following-details .cover_price {
    padding-top: 6px;
    font-size: 9px;
}
.people-social-blocks  .following-details {
    padding: 0px 20px;
}
.following-details .cover_text .date {
    font-size: 9px;
    margin-bottom: 0px !important;
}
.following-details span.c_sub{
    width: 68%;
    padding-right: 0px;
}
.following-details span.c_price{
    width: 32%;
}
.top-rated-contributors .people-outer{
    width: 100%;
    margin-right: 0px;
}
.top-rated-contributors .people-details{
    width: 30%;
}
.top-rated-contributors .following-details{
    width: 50%;
}
.top-searched-companies.user-contribution .people-outer {
    /*margin-right: 15px;*/
    /*width: 32%;*/
    margin-right: 4px;
    width: 32.9%;
}

.following-details .sector-experties{
    border-right: 1px solid #333333;
}
.following-details .sector-experties li, .following-details .companies-covered li {
    list-style-type: none;
}
body section {
    color: #000000 !important;
    background: #e8e8e8 !important;
}
.whatsuptoday-thumb img.img-responsive {
    width: 100%;
    height: 150px;
}

.sector-companies-scrollblocks h4, .contribution h4{
    text-transform: uppercase;
    font-weight: 900;
}
.sector-companies-scrollblocks li {
    list-style-type: none;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
}
.sector-companies-scrollblocks ul {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sector-companies-scrollblocks ul::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.sector-companies-scrollblocks ul::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}

.sector-companies-scrollblocks ul::-webkit-scrollbar-thumb
{
    background-color: #3fc6b8;
    /*border: 2px solid #555555;*/
}
.container-fluid .sector-companies-scrollblocks, .contribution {
    background: #ffffff;
    padding: 5px;
}

header .search-form .form-group input.form-control {
    height: 30px;
    width: 30px !important;
}

@media(max-width: 1440px){
    .social-page-tabs .people-img{
        width: 100%;
    }
    .social-page-tabs .people-details .cover_text {
        width: 100%;
    }
    .container-search-box{
      width: 68%;
    }
    .myloginModal.modal-dialog {
        left: 0px;
        width: 50%;
        margin-top: 100px;
    }
    .top-searched-companies .company-details .sub-title {
        font-size: 11px;
    }

    .top-searched-companies .company-details p.subscribe-whatsapp {
        bottom: -11px;
        font-size: 11px;
    }

    .social-page-tabs .people-img-outer img.people-img {
        height: 120px !important;
    }
    .social-page-tabs .cover_text h3 {
        font-size: 15px;
    }
    .cover_text .sub-title {
        font-size: 11px;
    }
    .social-page-dashboard .cover_price, .social-page-dashboard .cover_text .date {
        font-size: 9px;
    }
}


@media(max-width: 1366px){
    .social-page-tabs .people-tab-outer .people-img-outer {
      width: 75%;
      text-align: center;
  }
  .social-page-tabs .people-tab-outer .people-details {
      width: 90%;
  }
  .people-social-blocks .people-outer {
    /*width: 100%;*/
}
.people-social-blocks .people-outer.col-md-offset-1 {
    margin-left: 0px;
}
.twitter-login-outer {
    padding: 50px 0px;
}
div#login-box {
    padding: 0px;
}
    .people-social-blocks .readmoretext p {
        padding: 0px !important;
    }
}

@media(max-width: 1279px){
    .following-details .cover_text .cover_price li {
        font-size: 13px;
        line-height: 1.8;
    }
}

@media (max-width: 1200px) {
.social-page-tabs .nav-pills>li {
     margin-bottom: 5px;
 }
    .top-searched-companies .company-details .sub-title {
        font-size: 10px;
    }

    .top-searched-companies .company-details p.subscribe-whatsapp {
        font-size: 10px;
    }
}

@media(max-width: 768px){
    .ipadcover_text{
        height: 132px !important;
    }
    .social-page-dashboard .following-details .cover_price {

        width: 251px !important;
    }
    .header-mobile, .whatsapp-mobile-toggle{
        display: block;
    }
    .header-desktop, .whatsapp-desktop-toggle, .menu-toggler1{
        display: none;
    }
        .logo {
       float: none !important; 
      width: 100px !important;
      margin: 0 auto !important;
  }
  .sticky .site-nav ul li, .site-nav ul li {
    line-height: 2.5;
}
.navbar-right {
    min-width: auto;
}
header .search-label i.glyphicon.glyphicon-search {
    padding-right: 5px;
    color: #f37121;
}
    header {
    height: 60px !important;
        /*position: relative !important;*/
  }
  .social-page-tabs .people-outer {
    display: block;
}
.social-page-dashboard .people-img-outer {
    width: 100%;
    text-align: center;
}
.social-page-dashboard .people-details{
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}
    .social-page-tabs .cover_text h3 {
        margin-top: 0px;
    }
.social-page-dashboard .following-details {
    width: 100%;
    text-align: center;
}
.social-page-dashboard .v-separator {
    border: 1px solid #888;
    margin: 20px 0px;
}
.social-page-dashboard .following-details span.c_sub, .social-page-dashboard .following-details .c_price {
    padding-right: 10px;
}
.social-page-tabs #exTab1 {
    padding: 60px 0px 0px;
}
.following-details .cover_text {
    text-align: center;
    padding-top: 20px;
}
.sector-experties, .companies-covered {
    text-align: left;
        padding-bottom: 20px;
}
.contribution-outer {
    display: block;
    width: 100%;
}
.contribution-1, .contribution-2, .contribution-3 {
    width: 100%;
    padding: 50px 0px;
    margin-bottom: 20px;
}
span.view-contribution {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 0px;
}
.contribution {
    padding: 0px;
}
.homepage .social-page-tabs h1.main_title {
    text-align: center !important;
    margin: 0 auto;
    float: none !important;
}
.social-page-tabs .view-all {
    text-align: center;
    margin: 0 auto;
    display: block;
    float: none !important;
}
.social-page-tabs  .view-all-btn{
    padding: 10px 0px;
}
.company-details .company-title, .company-details .sub-title, .cover_text .sub-title, .social-page-tabs .cover_text h3 {
    text-align: left;
    margin-left: 20px;
    font-size: 13px;
    margin-bottom: 2px;
}
.social-page-tabs .contribution-list .people-outer {
    display: block;
}
.social-page-tabs .people-img-outer {
    width: 20%;
    text-align: center;
    float: left;
}
.social-page-tabs .people-img {
    width: 50%;
}
.social-page-tabs .people-details, .social-page-tabs .following-details {
    width: 100%;
}
.following-details .cover_text .cover_price ul {
    padding: 15px 0px;
    width: 100%;
}
.ppl-on-sc {
    font-size: 15px;
    }
.social-page-tabs .people-tab-outer .people-img-outer {
    width: 100%;
    text-align: center;
}
.social-page-tabs .people-tab-outer .people-img {
    width: 50%;
}
.social-page-tabs .people-tab-outer .people-details {
    width: 100%;
}
.social-page-tabs .people-details .cover_text {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px 5px 20px;
}
.social-page-tabs .people-details .cover_text .date, .social-page-tabs .people-details .cover_text .cover_price.rating {
    display: block;
    text-align: left !important;
    margin-left: 20px;
    font-size: 11px;
    margin-bottom: 2px !important;
}
    .social-page-tabs .people-details .cover_text .cover_price{
        margin-left: 12px !important;
    }
    .people-social-blocks .cover_price.rating, .people-social-blocks .cover_price, .top-rated-contributors .cover_price .c_price p {
        /*display: none !important;*/
    }


    .top-rated-contributors .cover_price.rating {
        float: left;
        padding-right: 5px;
    }
    .top-rated-contributors .cover_price img{
        margin-top: -3px;
        padding-left: 2px;
    }
    .social-page-tabs .people-social-blocks .following-details {
        margin-top: 15px;
    }
#footer {
    position: relative;
    width: 100%;
    bottom: 0;
}
.show-tw-mobile #login-box {
    width: 60%;
    margin: 0 auto;
}
.top-searched-companies .people-outer {
    margin-right: 0px;
    width: 100%;
}
.social-page-tabs .nav-pills>li {
    margin-bottom: 10px;
}
    .social-page-tabs .nav-pills>li a {
        width: max-content;
        padding: 3px 1px;
    }

    .social-page-tabs ul.sticky-social {
        width: 100%;
        display: inline-flex;
        overflow: scroll;
    }
    .sector-experties ul, .companies-covered ul {
        width: 100%;
    }
    .social-page-tabs ul.nav.nav-pills {
        padding:10px 0px 0px;/* 15px 0px 5px;*/
    }
    .social-page-tabs .people-social-blocks .people-img-outer {
        width: 70px;
        text-align: center;
        height: 70px;
        float: left;
    }
    .social-page-tabs .people-img-outer img.people-img {
        height: 70px !important;
        width: 70px;
    }
    .following-details .sector-experties li, .following-details .companies-covered li {
        list-style-type: none;
        display: block;
        text-align: left !important;
        float: left !important;
        width: 100% !important;
    }
    .social-feed .following-details .cover_text {
        text-align: left;
        padding-top: 20px;
    }
    .social-feed .ipadcover_text span.c_sub {
        width: 420px;
    }
    .social-page-dashboard .following-details .cover_text .date {
        padding-top: 10px;
    }
    .whats-up-today span.c_sub {
        width: 410px !important;
        text-align: left;
    }


}


@media(max-width: 500px){
  .show-tw-mobile #login-box {
    width: 100%;
    margin: 0 auto;
}
    .top-searched-companies .company-details .company-title {
        margin: 0px 0px 18px;
        font-size: 14px;
    }
    .social-page-tabs .people-outer {
        padding: 10px;
    }
    .site-nav a {
        padding: 0.1em 0em 0.1em 1.5em;
        font-size: 12px;
    }
}


@media(max-width: 375px){
    .top-searched-companies .company-details p.subscribe-whatsapp {
        bottom: 15px !important;
    }
}