.social-page-tabs #exTab1 {
        padding: 83px 0px 0px;
}
.social-page-tabs ul.nav.nav-pills{
    margin: 0 auto;
    width: 100%;
    text-align: center;
        padding: 35px 0px;
    background: #ffffff;
}
.social-page-tabs .nav-pills>li {
        float: initial;
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    background: #eeeff1;
    border-radius: 30px;
    padding: 0px 20px;
    margin-right: 10px;
        font-size: 13px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #40c5b9 !important;
}
.social-page-tabs li.active {
    background: #40c5b9 !important;
}
.social-page-tabs .nav>li>a:hover, .social-page-tabs .nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeff1;
}
.social-page-tabs .nav-pills>li>a {
    border-radius: 5px;
    color: #888888;
    font-weight: 600;
}
/*.social-page-tabs .nav>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    color: red;
}*/
.homepage .social-page-tabs h1.main_title {
    font-size: 24px !important;
    color: #999999 !important;
    font-weight: 900;
    letter-spacing: 1px;
        margin-bottom: 20px;
}
.social-page-tabs .view-all {
    width: 120px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
    background: #f37121;
    letter-spacing: 1px;
    border-radius: 71px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
        margin-top: 15px;
}
.social-page-tabs .social-title{
	border-bottom: 1px solid #555555;
}
.no-padding{
	padding:0px !important;
}
.social-page-tabs .people-img{
    border-top-color: #f37121;
    border-top-style: solid;
    border-top-width: 10px;
    border-right-color: #40c5b9;
    border-right-style: solid;
    border-right-width: 10px;
    border-bottom-color: #40c5b9;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: #f37121;
    border-left-style: solid;
    border-left-width: 10px;
        border-radius: 20px;
        width:80%;
}
/*.social-page-tabs .people-outer {
    display: inline-flex;
            margin: 20px 0px 5px;
    border-bottom: 1px solid #d2d2d2;
}*/
.social-page-tabs .people-outer {
    display: inline-flex;
}
.social-page-tabs .contribution-list .people-outer {
    display: inline-flex;
            margin: 20px 0px 5px;
    border-bottom: 1px solid #d2d2d2;
}
.social-page-tabs .contribution-list .people-outer:last-child {
    border: 0px;
    margin-bottom: 0px;
}
.social-page-tabs .cover_text{
	background: none;
}
.social-page-tabs .cover_text h3{
	margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.social-page-tabs .tab-content .tab-pane {
    background: transparent !important;
}
.social-page-tabs .people-details, .social-page-tabs .following-details {
    width: 40%;
}
.social-page-tabs .people-img-outer {
    width: 20%;
    text-align: center;
}
.star-rating .fa-star{color: #40c5b9;}
.star-rating {
    line-height: 32px;
    font-size: 1.25em;
    display: inline-flex;
}
.star-rating {
  line-height:32px;
  font-size:1.25em;
  border: none;
}

.star-rating .fa-star{color: #40c5b9;}


.star-rating span.fa {
    padding-top: 5px;
}
.star-rating p{
	    padding: 0px;
    font-size: 10px;
    margin: 0px;
}
.social-page-tabs  .cover_text .date {
    margin-bottom: 5px;
}
.cover_price.rating{
	margin: 0px;
}
.cover_price.rating .c_sub {
    padding-top: 5px;
}
.social-page-tabs span.c_sub {
    color: #777777;
    opacity: 1;
    font-weight: 700;
}
.social-page-tabs .date .c_price {
    color: #000000;
    font-weight: 700;
}
.social-page-tabs i.fa.fa-diamond {
    vertical-align: top;
}
.cover_text {
    background: #fff;
    color: #000;
    padding: 0px 10px;
    border-radius: 3px;
    padding-top: 30px;
    margin-top: -30px;
    position: relative;
}
.people-social-blocks{
        padding-top: 20px;
}

.btn-search-icon{
        background: transparent !important;
    border-radius: 0px !important;
    padding: 9px 50px 9px 10px;
    margin-left: -50px !important;
    border: 0px !important;
    border-left: 1px solid #d2d2d2 !important;
        width: 75px;
            z-index: 999999 !important;
}
.btn-search-icon span.glyphicon.glyphicon-search {
    color: #777777;
}
.btn-list-dropdown{
    border-top-left-radius: 00px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -42px !important;
    z-index: 999999 !important;
    padding: 9px 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-color: #ef7f3b !important;
    font-size: 13px;
    background: #f37121;
    border-color: transparent;
    margin-top: -2px;
}
.btn-list-types{
        color: #ffffff;
    background: transparent;
    border: 0px;
    width: 120px;
}
button, button:hover, button:active, button:focus {
    outline: none !important;
}
.btn-list-types option{
    background: #777777;
}
body section:nth-child(odd), body section:nth-child(odd) .main_title {
    background: transparent !important;
    color: #000000 !important;
}
.company-title{
    text-transform: uppercase;
    font-weight: 900;
}
.company-details .sub-title span.sector {
    text-transform: uppercase;
    color: #777777;
    font-weight: 900;
}
.company-details .sub-title {
    color: #777777;
    text-transform: capitalize;
}
.tab-container-outer{
       margin: 15px 0px !important;
    background: #ffffff !important;
    padding: 20px 0px 40px !important;
}
body section {
    color: #000000 !important;
        background: #e6e6e6 !important;
}
.cover_text .sub-title{
        color: #777777;
    opacity: 1;
    font-weight: 700;
    font-size: 100%;
    margin-top: 0px;
}
.social-page-tabs .people-details .cover_text {
    width: 80%;
}
.following-details .cover_text .cover_price li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
        list-style-type: none;
        line-height: 1.6;
}
.following-details .cover_text .cover_price ul{
    padding: 25px 0px;
}
.investment-house .company-details .sub-title {
    color: #777777;
    text-transform: initial;
}
.ppl-on-sc{
        background: #40c5b9 !important;
        border-radius: 30px;
        color: #ffffff;
        text-transform:uppercase;
            padding: 12px 25px;
            font-weight: 600;
                letter-spacing: 1px;
                text-align: center;
}
.social-page-tabs .people-tab-outer .people-img-outer {
    width: 150px;/*30%;*/
    text-align: center;
}
.social-page-tabs .people-tab-outer .people-details{
    width: 70%;
}
.social-page-tabs .people-tab-outer .people-img{
    width: 150px;/*100%;*/
    height: 150px;
}
.sticky .search-box .form-control:focus, .sticky .search-box .form-control:hover, .sticky .search-box .form-control, .search-box .form-control, .search-box .form-control:focus, .search-box .form-control:hover{
    box-shadow: none;
    border: 1px solid #d2d2d2;
}

/*------------css for mobile view------------*/
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
    width: 100%;
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
    width: 100%;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: 1px solid #575766;
}

.site-nav a {
  color: gray;
  display: block;
  padding: 0.1em 4em 0.1em 1.5em;/*2em 4em 2em 1.5em;*/
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #f37122;
    color: #000000 !important;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  /*padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;*/

      padding: 1em;
    position: absolute;
    top: .5em;
    left: .5em;
    cursor: pointer;
    background: transparent;
    /*pointer-events: none;*/
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #f37121;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/*.search-form .form-group {*/
  /*float: right !important;*/
  /*transition: all 0.35s, border-radius 0s;*/
  /*width: 32px;*/
  /*height: 32px;*/
  /*background-color: #fff;*/
  /*/!*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
  /*border-radius: 25px;*!/*/
  /*border: 1px solid #f37121;*/
/*}*/
.search-form .form-group {
    /* float: right !important; */
    /* transition: all 0.35s, border-radius 0s; */
    /* width: 32px; */
    height: 32px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #f37121;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 25px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #f37121;
  left: initial;
  font-size: 14px;
}
header .search-form .form-group{
    min-width: 0px;
}
header .search-form .form-group {
    min-width: 10px;
    }
.has-feedback{
         position: absolute;
    top: -33px;
    right: 0px;
}
.header-user{
    position: absolute;
    top: -28px;
    right: 15px;
    font-size: 20px;
    color: #f37121;
}
.header-mobile{
  display: none;
}
header .search-form .form-group input.form-control{
  height: 30px;
}

@media(max-width: 1440px){
    .social-page-tabs .people-img{
        /*width: 100%;*/
    }
    .social-page-tabs .people-details .cover_text {
        width: 100%;
    }
    .container-search-box{
      width: 68%;
    }
}


@media(max-width: 1366px){
    .social-page-tabs .people-tab-outer .people-img-outer {
      width: 75%;
      text-align: center;
  }
  .social-page-tabs .people-tab-outer .people-details {
      width: 90%;
  }
}

@media(max-width: 1279px){
    .following-details .cover_text .cover_price li {
        font-size: 13px;
        line-height: 1.8;
    }
}
@media(max-width: 768px){
    .header-mobile, .whatsapp-mobile-toggle{
        display: block;
    }
    .header-desktop, .whatsapp-desktop-toggle, .menu-toggler1{
        display: none;
    }
        .logo {
       float: none !important; 
      width: 100px !important;
      margin: 0 auto !important;
  }
  .sticky .site-nav ul li, .site-nav ul li {
    line-height: 2.5;
}
.navbar-right {
    min-width: auto;
}
header .search-label i.glyphicon.glyphicon-search {
    padding-right: 5px;
    color: #f37121;
}
    header {
    height: 60px !important;
        /*position: relative !important;*/
  }
  .social-page-tabs .people-outer {
    display: block;
}
.social-page-dashboard .people-img-outer {
    width: 100%;
    text-align: center;
}
.social-page-dashboard .people-details{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.social-page-dashboard .following-details {
    width: 100%;
    text-align: center;
}
.social-page-dashboard .v-separator {
    border: 1px solid #888;
    margin: 20px 0px;
}
.social-page-dashboard .following-details span.c_sub, .social-page-dashboard .following-details .c_price {
    padding-right: 10px;
}
.social-page-tabs #exTab1 {
    padding: 60px 0px 0px;
}
.following-details .cover_text {
    text-align: center;
    padding-top: 20px;
}
.sector-experties, .companies-covered {
    text-align: center;
        padding-bottom: 20px;
}
.contribution-outer {
    display: block;
    width: 100%;
}
.contribution-1, .contribution-2, .contribution-3 {
    width: 100%;
    padding: 50px 0px;
    margin-bottom: 20px;
}
span.view-contribution {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 0px;
}
.contribution {
    padding: 0px;
}
.homepage .social-page-tabs h1.main_title {
    text-align: center !important;
    margin: 0 auto;
    float: none !important;
}
.social-page-tabs .view-all {
    text-align: center;
    margin: 0 auto;
    display: block;
    float: none !important;
}
.social-page-tabs  .view-all-btn{
    padding: 10px 0px;
}
.company-details .company-title, .company-details .sub-title, .cover_text .sub-title, .social-page-tabs .cover_text h3 {
    text-align: center;
}
.social-page-tabs .contribution-list .people-outer {
    display: block;
}
.social-page-tabs .people-img-outer {
    width: 100%;
    text-align: center;
}
.social-page-tabs .people-img {
    width: 50%;
}
.social-page-tabs .people-details, .social-page-tabs .following-details {
    width: 100%;
}
.following-details .cover_text .cover_price ul {
    padding: 15px 0px;
    width: 100%;
}
.ppl-on-sc {
    font-size: 15px;
    }
.social-page-tabs .people-tab-outer .people-img-outer {
    width: 100%;
    text-align: center;
}
.social-page-tabs .people-tab-outer .people-img {
    width: 50%;
}
.social-page-tabs .people-tab-outer .people-details {
    width: 100%;
}
.social-page-tabs .people-details .cover_text {
    width: 80%;
    margin: 0 auto;
}
.social-page-tabs .people-details .cover_text .date, .social-page-tabs .people-details .cover_text .cover_price.rating, .social-page-tabs .people-details .cover_text .cover_price {
    text-align: left !important;
    /*display: none ;*/

}
}

@media(max-width: 375px){
    .social-page-tabs .people-details .cover_text .date, .social-page-tabs .people-details .cover_text .cover_price.rating, .social-page-tabs .people-details .cover_text .cover_price {
        font-size: 10px;
        margin-left: 64px;
    }
    .social-page-tabs .people-details .cover_text {
        width: 100%;
        margin: 0 auto;
    }
    header .search-form .form-group {
        margin-right: -5px !important;
    }
}

@media(max-width: 320px) {
    .social-page-tabs .people-details .cover_text .date, .social-page-tabs .people-details .cover_text .cover_price.rating, .social-page-tabs .people-details .cover_text .cover_price {
        font-size: 9px;
        margin-left: 35px;
    }
}