.social-page-dashboard .people-img-outer {
    width: 28%;
    text-align: center;
}
.social-page-dashboard .people-details, .social-page-dashboard .following-details {
    width: 35%;
}
.social-page-dashboard .v-separator {
    border: 1px solid #888;
    margin: 50px 0px;
}
.social-page-dashboard .h-separator {
    border: 1px solid #cccccc;
        width: 50%;
    margin: 0 auto;
}
/*.social-page-dashboard .people-img{*/
	/*/!*width: 65%;*!/*/
    /*width: 200px;*/
    /*height: 200px;*/
/*}*/
#social-page-dashboard .people-update-outer{
    width:100%;
}

#social-page-dashboard .people-img {
    width: 150px;/*50%;*/
    height: 150px;
}
.brd, .embdscl0, .card .brd a {
    display: none !important;
}

.social-page-dashboard .cover_text h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.social-page-dashboard .cover_price, .social-page-dashboard .cover_text .date {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: 1px;
    font-size: 14px;
}
.social-page-dashboard .following-details .cover_text .date{
    display: inline-flex;
    width: 100%;
}

.tab-pane.social-feed{
    padding-bottom: 50px;
}
.social-page-dashboard span.c_sub {
    color: #777777;
    opacity: 1;
    font-weight: 700;
    width: 40%;
}
.social-page-dashboard .c_price {
    color: #000000;
    font-weight: 700;
    width: 60%;
}

.social-page-dashboard span.c_price.mydate {
    text-transform: initial;
}
.cover_price.rating .c_sub, .cover_price.rating .c_price {
    padding-top: 20px;
}
.following-details .cover_text {
    text-align: center;
        padding-top: 55px;
}
.connect-btn, .follow-btn {
        width: 100%;
    padding: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    letter-spacing: 1px;
    border-radius: 71px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    /*margin-left: 40px;*/
}
.connect-btn{
	background: #f37121;
}
 .follow-btn {
 	background: #42c4b8
 }
.social-page-dashboard .following-details span.c_sub{
	    width: 70% !important;
    padding-right: 20px;
}
.social-page-dashboard .following-details .c_price{
    width: 30% !important;
}
.social-page-dashboard .date .c_price h4, .social-page-dashboard .date .c_sub h4 {
        color: #000000 !important;
    margin-bottom: 0px;
    font-size: 15px;
    padding-top: 15px;
}
.social-page-dashboard .date .c_price strong, .social-page-dashboard .date .c_sub strong {
    color: #777777 !important;
}
.social-page-dashboard i.fa.fa-diamond {
    vertical-align: text-top;
}
.social-page-dashboard .following-details .cover_price {
    padding-top: 6px;
    width: 100%;
    display: inline-flex;
}
.dashboard-block {
        padding: 40px 15px;
}

.sector-companies-scrollblocks h4, .contribution h4{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
        padding-bottom: 15px;
}
.sector-companies-scrollblocks li {
    list-style-type: none;
        font-size: 15px;
    line-height: 2;
    text-transform: uppercase;
}
.sector-companies-scrollblocks ul {
    height: 130px;
    overflow-y: auto;
        overflow-x: hidden;
}

.sector-companies-scrollblocks ul::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.sector-companies-scrollblocks ul::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}

.sector-companies-scrollblocks ul::-webkit-scrollbar-thumb
{
    background-color: #3fc6b8;
    /*border: 2px solid #555555;*/
}
.container-fluid .sector-companies-scrollblocks, .contribution {
    background: #ffffff;
        padding: 40px 15px;
}
.contribution-outer {
    display: block;/*inline-flex*/
    width: 100%;
}
/*.contribution-1, .contribution-2, .contribution-3 {*/
    /*width: 33.33%;*/
        /*padding: 20px 0px 0px 0px;*/
    /*margin-right: 10px;*/
/*}*/
.contribution-1, .contribution-2, .contribution-3 {
    width: 31.33%;
    padding: 20px 0px 0px 0px;
    margin-right: 10px;
    margin-bottom: 30px;
    min-height: 200px;
}
.contribution-1{
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(85,197,140,1) 0%, rgba(79,184,155,1) 71%, rgba(75,177,163,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(85,197,140,1)), color-stop(71%, rgba(79,184,155,1)), color-stop(100%, rgba(75,177,163,1)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(85,197,140,1) 0%, rgba(79,184,155,1) 71%, rgba(75,177,163,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(85,197,140,1) 0%, rgba(79,184,155,1) 71%, rgba(75,177,163,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(85,197,140,1) 0%, rgba(79,184,155,1) 71%, rgba(75,177,163,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(85,197,140,1) 0%, rgba(79,184,155,1) 71%, rgba(75,177,163,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#4bb1a3', GradientType=0 );
}

.contribution-2{
    background: rgba(255,197,162,1);
background: -moz-linear-gradient(top, rgba(255,197,162,1) 0%, rgba(255,197,162,1) 30%, rgba(250,169,119,1) 48%, rgba(247,151,92,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,197,162,1)), color-stop(30%, rgba(255,197,162,1)), color-stop(48%, rgba(250,169,119,1)), color-stop(100%, rgba(247,151,92,1)));
background: -webkit-linear-gradient(top, rgba(255,197,162,1) 0%, rgba(255,197,162,1) 30%, rgba(250,169,119,1) 48%, rgba(247,151,92,1) 100%);
background: -o-linear-gradient(top, rgba(255,197,162,1) 0%, rgba(255,197,162,1) 30%, rgba(250,169,119,1) 48%, rgba(247,151,92,1) 100%);
background: -ms-linear-gradient(top, rgba(255,197,162,1) 0%, rgba(255,197,162,1) 30%, rgba(250,169,119,1) 48%, rgba(247,151,92,1) 100%);
background: linear-gradient(to bottom, rgba(255,197,162,1) 0%, rgba(255,197,162,1) 30%, rgba(250,169,119,1) 48%, rgba(247,151,92,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc5a2', endColorstr='#f7975c', GradientType=0 );
}
.contribution-3{
    background: rgba(128,95,145,1);
background: -moz-linear-gradient(top, rgba(128,95,145,1) 0%, rgba(128,95,145,1) 33%, rgba(100,103,146,1) 67%, rgba(91,105,146,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(128,95,145,1)), color-stop(33%, rgba(128,95,145,1)), color-stop(67%, rgba(100,103,146,1)), color-stop(100%, rgba(91,105,146,1)));
background: -webkit-linear-gradient(top, rgba(128,95,145,1) 0%, rgba(128,95,145,1) 33%, rgba(100,103,146,1) 67%, rgba(91,105,146,1) 100%);
background: -o-linear-gradient(top, rgba(128,95,145,1) 0%, rgba(128,95,145,1) 33%, rgba(100,103,146,1) 67%, rgba(91,105,146,1) 100%);
background: -ms-linear-gradient(top, rgba(128,95,145,1) 0%, rgba(128,95,145,1) 33%, rgba(100,103,146,1) 67%, rgba(91,105,146,1) 100%);
background: linear-gradient(to bottom, rgba(128,95,145,1) 0%, rgba(128,95,145,1) 33%, rgba(100,103,146,1) 67%, rgba(91,105,146,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805f91', endColorstr='#5b6992', GradientType=0 );
Copy text
}
.contribution .contribution-outer h4, .contribution .contribution-outer h5 {
    text-align: center;
    padding-bottom: 5px;
        font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
}
span.view-contribution {
    /*margin: 0 auto;*/
    /*display: block;*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*padding-top: 80px;*/
        /*margin-bottom: -15px;*/
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 35px;
    margin-bottom: -14px;
    bottom: 0;
    position: absolute;
}
span.view-contribution button {
    border-radius: 20px;
    padding: 5px 20px;
    border: 0px;
    outline: none;
    margin-top: 0px;
    font-size: 13px;
    color: #999999;

}
.contribution {
    padding: 20px 15px;
}
.container-fluid.contribution:last-child {
    padding-bottom: 100px;
}
.header-mobile, .whatsapp-mobile-toggle{
    display: none;
}
.update-div-outer .people-update-outer .update-div{
    display: block;
    margin-top: -40px !important;
    width: 50%;
    margin: 0 auto;
    text-align: right;
    font-size: 18px;
}
.container-fluid.link-recommendation {
    text-align: center;
    background: #ffffff;
    padding: 5px 0px 10px 0px;
}
.container-fluid.link-recommendation h3{
    color: #777777;
}
.link-recommendation i.fab.fa-twitter {
    color: #1DA1F2;
}
.link-recommendation i.fab.fa-linkedin {
    color: #0077B5;
}
.info-tooltip {
    border: 0px;
    background: transparent;
    width: 20px;
}

.social-page-dashboard .h-separator {
    width: 100%;
}
.social-page-dashboard .c_price {
    width: 100% !important;
}

@media(max-width: 1440px){
    .social-page-dashboard .people-img-outer {
        width: 20%;
    }
    .social-page-dashboard .people-details {
        width: 50%;
    }
    .social-page-dashboard .following-details{
        width: 30%;
    }
    .social-page-dashboard .cover_price, .social-page-dashboard .cover_text .date {
        font-size: 12px;
    }
}

@media(max-width: 1301px){
    .sector-companies-scrollblocks h4, .contribution h4 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 14px;
        padding-bottom: 15px;
    }
}
@media(max-width: 1200px){
    .contribution-1, .contribution-2, .contribution-3 {
        width: 30.33%;
    }
}


@media(max-width: 768px){
    .header-mobile, .whatsapp-mobile-toggle{
        display: block;
    }
    .header-desktop, .whatsapp-desktop-toggle, .menu-toggler1{
        display: none;
    }
        .logo {
       float: none !important; 
      width: 100px !important;
      margin: 0 auto !important;
  }
  .sticky .site-nav ul li, .site-nav ul li {
    line-height: 2.5;
}
.navbar-right {
    min-width: auto;
}
header .search-label i.glyphicon.glyphicon-search {
    padding-right: 5px;
    color: #f37121;
}
    header {
    height: 60px !important;
        /*position: relative !important;*/
  }
  .social-page-tabs .people-outer {
    display: block;
}
.social-page-dashboard .people-img-outer {
    width: 100%;
    text-align: center;
}
.social-page-dashboard .people-details{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.social-page-dashboard .following-details {
    width: 100%;
    text-align: center;
}
.social-page-dashboard .v-separator {
    border: 1px solid #888;
    margin: 20px 0px;
}
.social-page-dashboard .following-details span.c_sub, .social-page-dashboard .following-details .c_price {
    padding-right: 10px;
}
.social-page-tabs #exTab1 {
    padding: 60px 0px 0px;
}
.following-details .cover_text {
    text-align: center;
    padding-top: 20px;
}
.sector-experties, .companies-covered {
    text-align: center;
        padding-bottom: 20px;
}
.contribution-outer {
    display: block;
    width: 100%;
}
.contribution-1, .contribution-2, .contribution-3 {
    width: 100%;
    padding: 50px 0px;
    margin-bottom: 20px;
}
span.view-contribution {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 0px;
}
.contribution {
    padding: 0px;
}
.container-fluid.link-recommendation h3 {
    color: #777777;
    font-size: 20px;
    padding: 20px;
    line-height: 1.5;
}
    .connect-btn, .follow-btn {
        width: 50%;
    }
    .sector-companies-scrollblocks li {
        font-size: 12px;
    }
    .social-page-dashboard .following-details span.c_sub, .social-page-dashboard .following-details .c_price {
        width: 50% !important;
    }
}

@media(max-width:540px) {
    .connect-btn, .follow-btn {
        width: 50% ;
    }
    .btn-follow-all {
        width: 50% !important;
    }
}